<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title>400</title>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<?php $this->stop() ?>

<h1>Bad request</h1>
<p><a href="/">Return to home page.</a></p>
