<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title>401</title>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<?php $this->stop() ?>

<h1>Unauthorized</h1>
<p><a href="/user/">Go to login page.</a></p>
