<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title>404</title>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<?php $this->stop() ?>

<div class="container">
	<a href="/"><img src="/assets/images/404.jpg"></a>
</div>

