	<header class="kick-bottom-30 menu">
		<div class="fat-top-5 border-bottom_gray fat-left-40 fat-right-40 floats-clear position-r">
			<div class="hbpal">
				<a href="javascript:look('text1');" id="a-text1">
					<img src="/assets/images/options.png">
				</a>
			</div>
			<div class="header-logo-center kick-bottom-5">
				<a href="/">
					<img src="/assets/images/logo.png">
				</a>
			</div>
			<div class="hbpar">
				<ul class="header-list floats-clear">
					<li class="kick-right-20 kick-top-2 currency--container"></li>
					<!--<li class="kick-right-10"><a class="text-uppercase text-black" href="#">регистрация</a>/<a class="text-uppercase text-black" href="#">вход</a></li>-->
					<li class="search-icon"><a id="f-open1" href="javascript:see('open1');"><img src="/assets/images/search.png"></a></li>
				</ul>
			</div>
		</div>
		<div class="hidden-elem border-bottom_gray" style="display: none;" id="text1">
			<?= fenric('menu::under-top') ?>
		</div>
		<div class="header-menu" id="text2">
			<?= fenric('menu::top') ?>
		</div>
		<div class="" id="open1" style="display: none;">
			<div class="panel--nav">
				<div class="search-form-component">
					<form action="/search" class="search search-form">
						<div class="search-form_center">
							<input type="text" name="q" placeholder="Поиск по сайту" class="input search--input" id="search">
							<input type="submit" name="" value="" class="submit search--submit">
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>
	<script src="<?= asset('/assets/javascripts/click-header.js') ?>"></script>