	<header class="kick-bottom-30 menu">
		<div class="fat-top-5 border-bottom_gray fat-left-40 fat-right-40 floats-clear position-r top-menu">
			<div class="hbpal">
				<a href="javascript:look('z1');" id="q-z1">
					<img src="/assets/images/options-white.png">
				</a>
			</div>
			<div class="hbpal-logo">
				<a href="/">
					<img src="/assets/images/logo-white.png">
				</a>
			</div>
			<div class="header-text-center kick-top-25">
				<p class="bwsurcodemo-bold text-white text-x-large"><?= $section->getHeader() ?></p>
			</div>
			<div class="hbpar hbpar-mobile">
			
				<ul class="header-list floats-clear text-white">
					<!--<li class="kick-right-20 kick-top-2 currency">E60,00 $60,00</li>
					<li class="kick-right-10"><a class="text-uppercase text-white" href="#">регистрация</a>/<a class="text-uppercase text-white" href="#">вход</a></li>-->
					<li class="search-icon"><a id="g-x1" href="javascript:see('x1');"><img src="/assets/images/search-white.png"></a></li>
				</ul>
			
			</div>
		</div>
		<div class="hidden-elem border-bottom_gray" style="display: none;" id="z1">
			<?= fenric('menu::under-top') ?>
		</div>
		<div class="header-menu" id="text2">
			<?= fenric('menu::top') ?>
		</div>
		<div class="" id="x1" style="display: none;">
			<div class="panel--nav">
				<div class="search-form-component">
					<form action="/search" class="search search-form">
						<div class="search-form_center">
							<input type="text" name="q" placeholder="Поиск по сайту" class="input search--input" id="search">
							<input type="submit" name="" value="" class="submit search--submit">
						</div>
					</form>
				</div>
			</div>
		</div>
	</header>
	<script src="<?= asset('/assets/javascripts/click-header-second.js') ?>"></script>