<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title><?= e($section->getMetaTitle() ?: $section->getHeader()) ?></title>

<?php if ($section->getMetaKeywords()) : ?>
	<meta name="keywords" content="<?= e($section->getMetaKeywords()) ?>" />
<?php endif; ?>

<?php if ($section->getMetaDescription()) : ?>
	<meta name="description" content="<?= e($section->getMetaDescription()) ?>" />
<?php endif; ?>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<?php $this->stop() ?>

<div class="wrapper color-sand_light">
	<div class="container">
		<div class="grid">
			<div class="column-12">
				<div class="fat-bottom-10 floats-clear border-bottom_gray-1">
					<div class="breadcrumbs">
						<ul itemscope itemtype="http://schema.org/BreadcrumbList">
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
									<span itemprop="name" class="text-uppercase">Главная</span>
								</a>
								<span>–</span>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
								<span itemprop="name" class="text-uppercase">контакты</span>
								<meta itemprop="position" content="2" />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

	<div class="wrapper kick-top-10 fat-20">
		<div class="grid">
			<div class="column-3 kick-bottom-20">
				<div class="text-center kick-bottom-10">
					<img src="/assets/images/contacts.png">
				</div>
				<div class="text-center">
					<p class="text-small_m">Руководитель проектов</p>
					<p class="text-bold">Денисова Наталья</p>
					<p class="">8(929)267-79-95</p>
				</div>
			</div>

			<div class="column-3 kick-bottom-20">
				<div class="text-center kick-bottom-10">
					<img src="/assets/images/contacts.png">
				</div>
				<div class="text-center">
					<p class="text-small_m">Журналист</p>
					<p class="text-bold">Калюжный Александр</p>
					<p class="">8(909)184-26-79</p>
				</div>
			</div>

			<div class="column-3 kick-bottom-20">
				<div class="text-center kick-bottom-10">
					<img src="/assets/images/contacts.png">
				</div>
				<div class="text-center">
					<p class="text-small_m">Исполнительный директор</p>
					<p class="text-bold">Зарецкая Татьяна</p>
					<p class="">8(922)470-99-74</p>
					<p>tz.80@mail.ru</p>
				</div>
			</div>
		</div>
	</div>
