<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title><?= e($album->getMetaTitle() ?: $album->getHeader()) ?></title>
<meta name="keywords" content="<?= e($album->getMetaKeywords()) ?>" />
<meta name="description" content="<?= e($album->getMetaDescription()) ?>" />
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<script>$(function() {$('a.fancybox').fancybox({});});</script>
<?php $this->stop() ?>

<h1><?= e($album->getHeader()) ?></h1>
<p>Дата создания альбома: <?= $album->getCreatedAt()->format('F j, Y') ?></p>
<p>Дата последнего обновления альбома: <?= $album->getUpdatedAt()->format('F j, Y') ?></p>
<p><a href="/albums/">Backward to albums list</a></p>
<div><?= $album->getSnippetableContent() ?></div>
<hr>

<?php if ($album->getSortablePhotos()) : ?>
	<?php if ($album->getSortablePhotos()->count() > 0) : ?>
		<?php foreach ($album->getSortablePhotos() as $photo) : ?>
			<a href="/upload/<?= $photo->getFile() ?>" class="fancybox" data-fancybox="fancybox">
				<img src="/upload/200x200/<?= $photo->getFile() ?>" />
			</a>
		<?php endforeach; ?>
	<?php endif; ?>
<?php endif; ?>

<hr>
<h3>Комментарии</h3>
<?= fenric('snippet::comments') ?>
