<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title><?= e(fenric('parameter::albums-document-title')) ?></title>
<meta name="description" content="<?= e(fenric('parameter::albums-document-description')) ?>" />
<meta name="keywords" content="<?= e(fenric('parameter::albums-document-keywords')) ?>" />
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<?php $this->stop() ?>

<h1>Альбомы</h1>
<p>Всего альбомов: <?= $albums->count() ?></p>

<?php if ($albums->count() > 0) : ?>
	<?php foreach ($albums as $album) : ?>
		<div>
			<a href="<?= $album->getUri() ?>">
				<h3><?= e($album->getHeader()) ?></h3>
			</a>
			<p><img src="/upload/300x0/<?= $album->getCover() ?>" alt="" title="<?= e($album->getHeader()) ?>" /></p>
			<p>Создан: <?= $album->getCreatedAt()->format('d F Y') ?></p>
			<p>Фотографий: <?= $album->getCountPhotos() ?></p>
		</div>
	<?php endforeach; ?>

	<?php if ($albums->haveToPaginate()) : ?>
		<ul class="pagination">
			<?php foreach ($albums->getLinks() as $p) : ?>
				<?php if ($albums->getPage() === $p) : ?>
					<li class="active">
						<span><?= $p ?></span>
					</li>
				<?php else : ?>
					<li>
						<a href="<?= fenric('request')->getRoot() ?>/albums/?page=<?= $p ?>"><?= $p ?></a>
					</li>
				<?php endif; ?>
			<?php endforeach; ?>
		</ul>
	<?php endif; ?>
<?php endif; ?>
