<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title><?= e(fenric('parameter::main-title')) ?></title>
<meta name="description" content="<?= e(fenric('parameter::main-description')) ?>" />
<meta name="keywords" content="<?= e(fenric('parameter::main-keywords')) ?>" />
<?php $this->stop() ?>

<?php $this->start('stylesheets'); ?>

<?php $this->stop(); ?>

<?php $this->start('javascripts'); ?>
<script src="/assets/javascripts/jquery-1.11.0.min.js"></script>
<script src="/assets/javascripts/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/assets/slick/slick.min.js"></script>
<script type="text/javascript" src=<?= asset("/assets/javascripts/currency.js") ?>></script>
<?php $this->stop(); ?>

<div class="container kick-bottom-15">
	<div class="kick-bottom-15">
		<?= fenric('banner::main') ?>
	</div>

	<div class="grid kick-bottom-15">
		<div class="column-8">
			<div class="grid kick-bottom-15">
				<div class="column-8">
					<div class="fat-15 border-block border-block_top__black block-hover max-height-340">
						<a href="<?= $publications->getFirst()->getUri() ?>">
							<div class="kick-bottom-20 text-center">
								<?php if ($publications->getFirst()->getPicture()) : ?>
									<img height="210px" width="280px" src="/upload/0x210/<?= $publications->getFirst()->getPicture() ?>">
								<?php else : ?>
									<img height="210px" width="280px" src="/assets/images/face-3.jpg">
								<?php endif; ?>
							</div>
							<div class="kick-bottom-15">
								<p class="text-uppercase text-small_s opinionpro-light"><?= $publications->getFirst()->getSection()->getHeader() ?></p>
							</div>
							<div class="kick-bottom-15">
								<p class="text-bold bwsurcodemo-bold"><?= strip_tags(mb_strimwidth($publications->getFirst()->getHeader(), 0, 100, '...')) ?></p>
							</div>
							<div>
								<p class="text-uppercase text-x-small opinionpro-light"><?= $publications->getFirst()->getShowAt()->format('d/m/Y') ?> <?= $publications->getFirst()->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $publications->getFirst()->getUserRelatedByCreatedBy()->getLastname() ?></p>
							</div>
						</a>
					</div>
				</div>
				<div class="column-4">
					<div class="fat-15 border-block border-block_top__black block-hover max-height-340">
						<a href="<?= $publications->get(1)->getUri() ?>">
							<div class="kick-bottom-60">
								<?php if ($publications->get(1)->getPicture()) : ?>
									<img height="120px" width="100%" src="/upload/0x120/<?= $publications->get(1)->getPicture() ?>">
								<?php else : ?>
									<img height="120px" width="100%" src="/assets/images/face-7.jpg">
								<?php endif; ?>
							</div>
							<div class="kick-bottom-15">
								<p class="text-uppercase text-small_s opinionpro-light"><?= $publications->get(1)->getSection()->getHeader() ?></p>
							</div>
							<div class="kick-bottom-15">
								<p class="text-bold bwsurcodemo-bold"><?= strip_tags(mb_strimwidth($publications->get(1)->getHeader(), 0, 80, '...')) ?></p>
							</div>
							<div>
								<p class="text-uppercase text-x-small opinionpro-light"><?= $publications->get(1)->getShowAt()->format('d/m/Y') ?> <?= $publications->get(1)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $publications->get(1)->getUserRelatedByCreatedBy()->getLastname() ?></p>
							</div>
						</a>
					</div>
				</div>
			</div>

			<!--
			<div class="grid kick-bottom-15">
				<div class="column-6">
					<div class="border-block border-block_top__black block-hover fat-15 kick-bottom-15 floats-clear max-height-173">
						<a href="#">
							<div class="width-50p float-left kick-right-10">
								<div class="kick-bottom-10">
									<p class="text-small_s text-uppercase opinionpro-light">Власть</p>
								</div>
								<div class="kick-bottom-10">
									<p class="text-bold bwsurcodemo-bold">Новая «Тюменская марка<br>– 2017»</p>
								</div>
								<div>
									<p class="text-uppercase text-x-small opinionpro-light">01/08/2017<br>Дмитрий Бербатов</p>
								</div>
							</div>
							<div class="width-46p float-left">
								<img height="134" width="100%" src="/assets/images/face-10.jpg">
							</div>
						</a>
					</div>

					<div class="border-block border-block_top__black fat-15 floats-clear block-hover max-height-173">
						<a href="#">
							<div class="width-46p float-left kick-right-10">
								<img height="134" width="100%" src="/assets/images/face-10.jpg">
							</div>
							<div class="width-50p float-left">
								<div class="kick-bottom-10">
									<p class="text-small_s text-uppercase opinionpro-light">Власть</p>
								</div>
								<div class="kick-bottom-10">
									<p class="text-bold bwsurcodemo-bold">Новая «Тюменская марка<br>– 2017»</p>
								</div>
								<div>
									<p class="text-uppercase text-x-small opinionpro-light">01/08/2017<br>Дмитрий Бербатов</p>
								</div>
							</div>
						</a>
					</div>
				</div>
				<div class="column-6">
					<div class="border-block border-block_top__black fat-15 block-hover h-360">
						<a href="#">
							<div class="kick-bottom-15">
								<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
							</div>
							<div class="kick-bottom-50">
								<p class="text-bold text-xxxx-large playfairdisplay">Территория завтрашнего дня</p>
							</div>
							<div>
								<p class="text-uppercase text-x-small opinionpro-light">01/08/2017<br>Дмитрий Бербатов</p>
							</div>
						</a>
					</div>
				</div>
			</div>
			-->

			<div class="border-block border-block_top__black fat-15 block-hover floats-clear">
				<a href="<?= $publications->get(2)->getUri() ?>">
					<div class="float-left width-65p kick-right-10">
						<?php if ($publications->get(2)->getPicture()) : ?>
							<img height="288px" width="382px" src="/upload/0x288/<?= $publications->get(2)->getPicture() ?>">
						<?php else : ?>
							<img height="288px" width="382px" src="/assets/images/project-6.jpg">
						<?php endif; ?>
					</div>
					<div class="float-left width-33p">
						<div class="kick-bottom-15">
							<p class="text-uppercase text-small_s opinionpro-light"><?= $publications->get(2)->getSection()->getHeader() ?></p>
						</div>
						<div class="kick-bottom-50">
							<p class="text-bold bwsurcodemo-bold"><?= mb_substr($publications->get(2)->getHeader(), 0, 80) ?></p>
						</div>
						<div>
							<p class="text-uppercase text-x-small opinionpro-light"><?= $publications->get(2)->getShowAt()->format('d/m/Y') ?> <?= $publications->get(2)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $publications->get(2)->getUserRelatedByCreatedBy()->getLastname() ?></p>
						</div> 
					</div>
				</a>
			</div>
		</div>

		<div class="column-4">
			<?php if (fenric('banner::right')) : ?>
				<div class="kick-bottom-15">
					<?= fenric('banner::right') ?>
				</div>
			<?php endif; ?>
			<div class="border-block border-block_top__black10">
				<div class="fat-15">
					<p class="text-uppercase journalism text-xxxxx-large text-center">популярное</p>
				</div>

				<div class="tabs">
					<ul class="tabs__caption popular border-top_gray border-bottom_gray kick-bottom-10">
						<li class="active">Сейчас</li>
						<li>Неделя</li>
						<li>Месяц</li>
					</ul>

					<div class="tabs__content active">
						<?php if (count($publicationsTopNow) > 0) : ?>
							<?php foreach ($publicationsTopNow as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($pub->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $pub->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $pub->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>

					<div class="tabs__content">
						<?php if (count($publicationsTopWeek) > 0) : ?>
							<?php foreach ($publicationsTopWeek as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($pub->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $pub->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $pub->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>

					<div class="tabs__content">
						<?php if (count($publicationsTopMonth) > 0) : ?>
							<?php foreach ($publicationsTopMonth as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($pub->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $pub->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $pub->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>
				</div>
			</div>
			<!--
			<div class="border-block border-top-off show_more__block">
				<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="#">
					<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
				</a>
			</div>-->
		</div>
	</div>

	<?php if (count($video) > 0) : ?>
		<!--<div class="kick-bottom-15">
			<div class="fat-15 border-block border-block_top__black10 floats-clear border-block_bottom__gray">
				<div class="width-81p float-left">
					<p class="text-uppercase journalism text-xxxxx-large">видео</p>
				</div>
				<div class="width-19p float-left">
					<div class="show_more__block">
						<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="#">
							<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
						</a>
					</div>
				</div>
			</div>
			<div class="border-block border-top-off floats-clear">
				<div class="float-left width-78p fat-15 border-block_right__gray fat-bottom-55">
					<iframe class="kick-bottom-15" width="100%" height="390" src="https://www.youtube.com/embed/xFa2_PVMeDQ" frameborder="0" allowfullscreen></iframe>
					<div class="kick-bottom-10">
						<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
					</div>
					<div class="kick-bottom-10">
						<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
					</div>
					<div>
						<p>25 июля стартовал пятнадцатый конкурс «Тюменская марка» для субъектов малого и среднего</p>
					</div>
				</div>
				<div class="float-left width-22p fat-15 h-540_overflow scroll">
					<div class="kick-bottom-20">
						<iframe class="kick-bottom-5" width="100%" height="90" src="https://www.youtube.com/embed/xFa2_PVMeDQ" frameborder="0" allowfullscreen></iframe>
						<div class="kick-bottom-10">
							<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
						</div>
						<div class="">
							<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
						</div>
					</div>

					<div class="kick-bottom-20">
						<iframe class="kick-bottom-5" width="100%" height="90" src="https://www.youtube.com/embed/xFa2_PVMeDQ" frameborder="0" allowfullscreen></iframe>
						<div class="kick-bottom-10">
							<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
						</div>
						<div class="">
							<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
						</div>
					</div>

					<div class="kick-bottom-20">
						<iframe class="kick-bottom-5" width="100%" height="90" src="https://www.youtube.com/embed/xFa2_PVMeDQ" frameborder="0" allowfullscreen></iframe>
						<div class="kick-bottom-10">
							<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
						</div>
						<div class="">
							<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
						</div>
					</div>
				</div>
			</div>
		</div>-->
	<?php endif; ?>

	<div class="grid kick-bottom-15">
		<div class="column-4">
			<div class="border-block border-block_top__black10 border-block_bottom__gray">
				<div class="fat-15">
					<p class="text-uppercase journalism text-xxxxx-large text-center">Опрос</p>
				</div>
			</div>
			<div class="border-block border-top-off fat-15">
				<div>
					<?= fenric('poll::kakoj-metod-povysenia-prodaz-na-vas-vzglad-naibolee-effektiven') ?>
				</div>
			</div>
		</div>

		<div class="column-8">
			<div class="grid kick-bottom-15">
				<div class="column-4">
					<div class="fat-15 border-block border-block_top__black block-hover max-height-340">
						<a href="<?= $publications->get(3)->getUri() ?>">
							<div class="kick-bottom-60">
								<?php if ($publications->get(3)->getPicture()) : ?>
									<img height="120px" width="100%" src="/upload/0x120/<?= $publications->get(3)->getPicture() ?>">
								<?php else : ?>
									<img height="120px" width="100%" src="/assets/images/face-7.jpg">
								<?php endif; ?>
							</div>
							<div class="kick-bottom-15">
								<p class="text-uppercase text-small_s opinionpro-light"><?= $publications->get(3)->getSection()->getHeader() ?></p>
							</div>
							<div class="kick-bottom-15">
								<p class="text-bold bwsurcodemo-bold"><?= strip_tags(mb_strimwidth($publications->get(3)->getHeader(), 0, 80, '...')) ?></p>
							</div>
							<div>
								<p class="text-uppercase text-x-small opinionpro-light"><?= $publications->get(3)->getShowAt()->format('d/m/Y') ?> <?= $publications->get(3)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $publications->get(3)->getUserRelatedByCreatedBy()->getLastname() ?></p>
							</div>
						</a>
					</div>
				</div>

				<div class="column-8">
					<div class="fat-15 border-block border-block_top__black block-hover max-height-340">
						<a href="<?= $publications->get(4)->getUri() ?>">
							<div class="kick-bottom-20 text-center">
								<?php if ($publications->get(4)->getPicture()) : ?>
									<img height="210px" width="280px" src="/upload/0x210/<?= $publications->get(4)->getPicture() ?>">
								<?php else : ?>
									<img height="210px" width="280px" src="/assets/images/face-3.jpg">
								<?php endif; ?>
							</div>
							<div class="kick-bottom-15">
								<p class="text-uppercase text-small_s opinionpro-light"><?= $publications->get(4)->getSection()->getHeader() ?></p>
							</div>
							<div class="kick-bottom-15">
								<p class="text-bold bwsurcodemo-bold"><?= strip_tags(mb_strimwidth($publications->get(4)->getHeader(), 0, 100, '...')) ?></p>
							</div>
							<div>
								<p class="text-uppercase text-x-small opinionpro-light"><?= $publications->get(4)->getShowAt()->format('d/m/Y') ?> <?= $publications->get(4)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $publications->get(4)->getUserRelatedByCreatedBy()->getLastname() ?></p>
							</div>
						</a>
					</div>
				</div>
			</div>

			<div class="grid">
				<div class="column-6">
					<div class="fat-15 border-block border-block_top__black block-hover fat-bottom-40 max-height-360">
						<a href="<?= $publications->get(5)->getUri() ?>">
							<div class="kick-bottom-10 text-center">
								<?php if ($publications->get(5)->getPicture()) : ?>
									<img height="210px" width="265px" src="/upload/0x210/<?= $publications->get(5)->getPicture() ?>">
								<?php else : ?>
									<img height="210px" width="265px" src="/assets/images/face-3.jpg">
								<?php endif; ?>
							</div>
							<div class="kick-bottom-5">
								<p class="text-uppercase text-small_s opinionpro-light"><?= $publications->get(5)->getSection()->getHeader() ?></p>
							</div>
							<div class="kick-bottom-10">
								<p class="text-bold bwsurcodemo-bold"><?= mb_substr($publications->get(5)->getHeader(), 0, 80) ?></p>
							</div>
							<div>
								<p class="text-uppercase text-x-small opinionpro-light"><?= $publications->get(5)->getShowAt()->format('d/m/Y') ?> <?= $publications->get(5)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $publications->get(5)->getUserRelatedByCreatedBy()->getLastname() ?></p>
							</div>
						</a>
					</div>
				</div>

				<div class="column-6">
					<div class="border-block border-block_top__black block-hover fat-15 kick-bottom-15 floats-clear max-height-173">
						<a href="<?= $publications->get(6)->getUri() ?>">
							<div class="width-35p float-left kick-right-10">
								<div class="kick-bottom-10">
									<p class="text-small_s text-uppercase opinionpro-light"><?= $publications->get(6)->getSection()->getHeader() ?></p>
								</div>
								<div class="kick-bottom-10">
									<p class="text-bold bwsurcodemo-bold"><?= strip_tags(mb_strimwidth($publications->get(6)->getHeader(), 0, 40, '...')) ?></p>
								</div>
								<div>
									<p class="text-uppercase text-x-small opinionpro-light"><?= $publications->get(6)->getShowAt()->format('d/m/Y') ?><br><?= $publications->get(6)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $publications->get(6)->getUserRelatedByCreatedBy()->getLastname() ?></p>
								</div>
							</div>
							<div class="width-61p float-left">
								<?php if ($publications->get(6)->getPicture()) : ?>
									<img height="124" width="160px" src="/upload/0x124/<?= $publications->get(6)->getPicture() ?>">
								<?php else: ?>
									<img height="124" width="160px" src="/assets/images/face-10.jpg">
								<?php endif; ?>
							</div>
						</a>
					</div>

					<div class="border-block border-block_top__black fat-15 floats-clear block-hover max-height-173">
						<a href="<?= $publications->get(7)->getUri() ?>">
							<div class="width-61p float-left kick-right-10">
								<?php if ($publications->get(7)->getPicture()) : ?>
									<img height="124" width="160px" src="/upload/0x124/<?= $publications->get(7)->getPicture() ?>">
								<?php else : ?>
									<img height="124" width="160px" src="/assets/images/face-10.jpg">
								<?php endif; ?>
							</div>
							<div class="width-35p float-left">
								<div class="kick-bottom-10">
									<p class="text-small_s text-uppercase opinionpro-light"><?= $publications->get(7)->getSection()->getHeader() ?></p>
								</div>
								<div class="kick-bottom-10">
									<p class="text-bold bwsurcodemo-bold"><?= strip_tags(mb_strimwidth($publications->get(7)->getHeader(), 0, 40, '...')) ?></p>
								</div>
								<div>
									<p class="text-uppercase text-x-small opinionpro-light"><?= $publications->get(7)->getShowAt()->format('d/m/Y') ?><br><?= $publications->get(7)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $publications->get(7)->getUserRelatedByCreatedBy()->getLastname() ?></p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="grid kick-bottom-15">
		<div class="column-8">
			<div class="border-block border-block_top__black fat-15 block-hover floats-clear">
				<a href="<?= $publications->get(8)->getUri() ?>">
					<div class="float-left width-33p">
						<div class="kick-bottom-10">
							<p class="text-uppercase text-small_s opinionpro-light"><?= $publications->get(8)->getSection()->getHeader() ?></p>
						</div>
						<div class="kick-bottom-40">
							<p class="text-bold bwsurcodemo-bold"><?= mb_substr($publications->get(8)->getHeader(), 0, 80) ?></p>
						</div>
						<div>
							<p class="text-uppercase text-x-small opinionpro-light"><?= $publications->get(8)->getShowAt()->format('d/m/Y') ?> <?= $publications->get(8)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $publications->get(8)->getUserRelatedByCreatedBy()->getLastname() ?></p>
						</div> 
					</div>
					<div class="float-right width-50p">
						<?php if ($publications->get(8)->getPicture()) : ?>
							<img height="216px" width="288px" src="/upload/0x216/<?= $publications->get(8)->getPicture() ?>">
						<?php else : ?>
							<img height="216px" width="288px" src="/assets/images/project-6.jpg">
						<?php endif; ?>
					</div>
				</a>
			</div>
		</div>

		<div class="column-4">
			<?php if (fenric('banner::right')) : ?>
				<div class="kick-bottom-15">
					<?= fenric('banner::right') ?>
				</div>
			<?php endif; ?>
		</div>
	</div>

	<div class="grid kick-bottom-15">
		<div class="column-12">
			<div class="border-block border-block_top__black fat-15 block-hover floats-clear">
				<a href="<?= $publications->get(9)->getUri() ?>">
					<div class="float-left width-51p kick-right-20">
						<?php if ($publications->get(9)->getPicture()) : ?>
							<img height="340px" width="454px" src="/upload/0x340/<?= $publications->get(9)->getPicture() ?>">
						<?php else : ?>
							<img height="340px" width="454px" src="/assets/images/project-6.jpg">
						<?php endif; ?>
					</div>
					<div class="float-left width-46p">
						<div class="kick-bottom-10">
							<p class="text-uppercase text-small_s opinionpro-light"><?= $publications->get(9)->getSection()->getHeader() ?></p>
						</div>
						<div class="kick-bottom-40">
							<p class="text-bold text-xx-large playfairdisplay"><?= mb_substr($publications->get(9)->getHeader(), 0, 80) ?></p>
						</div>
						<div>
							<p class="text-uppercase text-x-small opinionpro-light"><?= $publications->get(9)->getShowAt()->format('d/m/Y') ?> <?= $publications->get(9)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $publications->get(9)->getUserRelatedByCreatedBy()->getLastname() ?></p>
						</div> 
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="grid">
		<div class="column-4">
			<?php if (count($finance) > 0) : ?>
				<div class="kick-bottom-15">
					<div class="border-block border-block_top__black10 border-block_bottom__gray ">
						<div class="fat-15">
							<p class="text-uppercase journalism text-xxxxx-large text-center">Финансы</p>
						</div>
					</div>
					<div class="border-block border-top-off fat-15 border-block_bottom__gray block-hover_p">
						<a href="<?= $finance->getFirst()->getUri() ?>">
							<div class="kick-bottom-20 text-center">
								<?php if ($finance->getFirst()->getPicture()) : ?>
									<img height="150px" width="200px" src="/upload/0x150/<?= $finance->getFirst()->getPicture() ?>">
								<?php else : ?>
									<img height="150px" width="200px" src="/assets/images/face-3.jpg">
								<?php endif; ?>
							</div>
							<div class="kick-bottom-10">
								<p class="text-large bwsurcodemo-medium"><?= mb_substr($finance->getFirst()->getHeader(), 0, 80) ?></p>
							</div>
							<div>
								<p class="text-uppercase text-x-small opinionpro-light"><?= $finance->getFirst()->getShowAt()->format('d/m/Y') ?> <?= $finance->getFirst()->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $finance->getFirst()->getUserRelatedByCreatedBy()->getLastname() ?></p>
							</div>
						</a>
					</div>

					<div class="list__content">
						<?php if (count($finance) > 1) : ?>
							<div class="fat-15 floats-clear block-hover_p list__content-item">
								<a href="<?= $finance->get(1)->getUri() ?>">
									<div class="float-left width-38p kick-right-10">
										<?php if ($finance->get(1)->getPicture()) : ?>
											<img height="74px" width="100%" src="/upload/0x74/<?= $finance->get(1)->getPicture() ?>">
										<?php else : ?>
											<img height="74px" width="100%" src="/assets/images/face-10.jpg">
										<?php endif; ?>
									</div>
									<div class="float-left width-58p">
										<div class="kick-bottom-10">
											<p class="text-uppercase text-small_s opinionpro-light"><?= $finance->get(1)->getSection()->getHeader() ?></p>
										</div>
										<div class="kick-bottom-10">
											<p class="bwsurcodemo-medium"><?= mb_substr($finance->get(1)->getHeader(), 0, 80) ?></p>
										</div>
										<div>
											<p class="text-uppercase text-x-small opinionpro-light"><?= $finance->get(1)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $finance->get(1)->getUserRelatedByCreatedBy()->getLastname() ?></p>
										</div> 
									</div>
								</a>
							</div>
						<?php endif; ?>
						
						<?php if (count($finance) > 2) : ?>
							<div class="fat-15 floats-clear block-hover_p list__content-item">
								<a href="<?= $finance->get(2)->getUri() ?>">
									<div class="float-left width-38p kick-right-10">
										<?php if ($finance->get(2)->getPicture()) : ?>
											<img height="74px" width="100%" src="/upload/0x74/<?= $finance->get(1)->getPicture() ?>">
										<?php else : ?>
											<img height="74px" width="100%" src="/assets/images/face-10.jpg">
										<?php endif; ?>
									</div>
									<div class="float-left width-58p">
										<div class="kick-bottom-10">
											<p class="text-uppercase text-small_s opinionpro-light"><?= $finance->get(2)->getSection()->getHeader() ?></p>
										</div>
										<div class="kick-bottom-10">
											<p class="bwsurcodemo-medium"><?= mb_substr($finance->get(2)->getHeader(), 0, 80) ?></p>
										</div>
										<div>
											<p class="text-uppercase text-x-small opinionpro-light"><?= $finance->get(2)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $finance->get(2)->getUserRelatedByCreatedBy()->getLastname() ?></p>
										</div> 
									</div>
								</a>
							</div>
						<?php endif; ?>
					</div>
					<div class="border-block border-top-off show_more__block">
						<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="<?= $finance->getFirst()->getSection()->getCode() ?>">
							<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
						</a>
					</div>
				</div>
			<?php endif; ?>
			
			<?php if (count($mech) > 0) : ?>
				<div class="kick-bottom-15">
					<div class="border-block border-block_top__black10 border-block_bottom__gray ">
						<div class="fat-15">
							<p class="text-uppercase journalism text-xxxxx-large text-center">механика бизнеса</p>
						</div>
					</div>
					<div class="border-block border-top-off fat-15 border-block_bottom__gray block-hover_p">
						<a href="<?= $mech->get(0)->getUri() ?>">
							<div class="kick-bottom-20 text-center">
								<?php if ($mech->get(0)->getPicture()) : ?>
									<img height="150px" width="200px" src="/upload/0x150/<?= $mech->get(0)->getPicture() ?>">
								<?php else : ?>
									<img height="150px" width="200px" src="/assets/images/face-3.jpg">
								<?php endif; ?>
							</div>
							<div class="kick-bottom-10">
								<p class="text-large bwsurcodemo-medium"><?= $mech->get(0)->getHeader() ?></p>
							</div>
							<div>
								<p class="text-uppercase text-x-small opinionpro-light"><?= $mech->get(0)->getShowAt()->format('d/m/Y') ?> <?= $mech->get(0)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $mech->get(0)->getUserRelatedByCreatedBy()->getLastname() ?></p>
							</div>
						</a>
					</div>
					
					<?php if (count($mech) > 1) : ?>
						<div class="list__content">
							<div class="fat-15 floats-clear block-hover_p list__content-item">
								<a href="<?= $mech->get(1)->getUri() ?>">
									<div class="float-left width-38p kick-right-10">
									<?php if ($mech->get(1)->getPicture()) : ?>
										<img height="74px" width="100%" src="/upload/0x74/<?= $mech->get(1)->getPicture() ?>">
									<?php else : ?>
										<img height="74px" width="100%" src="/assets/images/face-10.jpg">
									<?php endif; ?>
									</div>
									<div class="float-left width-58p">
										<div class="kick-bottom-10">
											<p class="text-uppercase text-small_s opinionpro-light"><?= $mech->get(1)->getSection()->getHeader() ?></p>
										</div>
										<div class="kick-bottom-10">
											<p class="bwsurcodemo-medium"><?= $mech->get(1)->getHeader() ?></p>
										</div>
										<div>
											<p class="text-uppercase text-x-small opinionpro-light"><?= $mech->get(1)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $mech->get(1)->getUserRelatedByCreatedBy()->getLastname() ?></p>
										</div> 
									</div>
								</a>
							</div>
							
							<?php if (count($mech) > 2) : ?>
								<div class="fat-15 floats-clear block-hover_p list__content-item">
									<a href="<?= $mech->get(2)->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
										<?php if ($mech->get(2)->getPicture()) : ?>
											<img height="74px" width="100%" src="/upload/0x74/<?= $mech->get(2)->getPicture() ?>">
										<?php else : ?>
											<img height="74px" width="100%" src="/assets/images/face-10.jpg">
										<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $mech->get(2)->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $mech->get(2)->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $mech->get(2)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $mech->get(2)->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endif; ?>
						</div>
					<?php endif; ?>
					<div class="border-block border-top-off show_more__block">
						<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="<?= $mech->get(0)->getSection()->getCode() ?>">
							<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
						</a>
					</div>
				</div>
			<?php endif; ?>
			
			<?php if (count($wed) > 0) : ?>
				<div class="kick-bottom-15">
					<div class="border-block border-block_top__black10 border-block_bottom__gray ">
						<div class="fat-15">
							<p class="text-uppercase journalism text-xxxxx-large text-center">среда обитания</p>
						</div>
					</div>
					<div class="border-block border-top-off fat-15 border-block_bottom__gray block-hover_p">
						<a href="<?= $wed->get(0)->getUri() ?>">
							<div class="kick-bottom-20 text-center">
								<?php if ($wed->get(0)->getPicture()) : ?>
									<img height="150px" width="200px" src="/upload/0x150/<?= $wed->get(0)->getPicture() ?>">
								<?php else : ?>
									<img height="150px" width="200px" src="/assets/images/face-3.jpg">
								<?php endif; ?>
							</div>
							<div class="kick-bottom-10">
								<p class="text-large bwsurcodemo-medium"><?= $wed->get(0)->getHeader() ?></p>
							</div>
							<div>
								<p class="text-uppercase text-x-small opinionpro-light"><?= $wed->get(0)->getShowAt()->format('d/m/Y') ?> <?= $wed->get(0)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $wed->get(0)->getUserRelatedByCreatedBy()->getLastname() ?></p>
							</div>
						</a>
					</div>

					<?php if (count($wed) > 1) : ?>
						<div class="list__content">
							<div class="fat-15 floats-clear block-hover_p list__content-item">
								<a href="<?= $wed->get(1)->getUri() ?>">
									<div class="float-left width-38p kick-right-10">
										<?php if ($wed->get(1)->getPicture()) : ?>
											<img height="74px" width="100%" src="/upload/0x74/<?= $wed->get(1)->getPicture() ?>">
										<?php else : ?>
											<img height="74px" width="100%" src="/assets/images/face-10.jpg">
										<?php endif; ?>
									</div>
									<div class="float-left width-58p">
										<div class="kick-bottom-10">
											<p class="text-uppercase text-small_s opinionpro-light"><?= $wed->get(1)->getSection()->getHeader() ?></p>
										</div>
										<div class="kick-bottom-10">
											<p class="bwsurcodemo-medium"><?= $wed->get(1)->getHeader() ?></p>
										</div>
										<div>
											<p class="text-uppercase text-x-small opinionpro-light"><?= $wed->get(1)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $wed->get(1)->getUserRelatedByCreatedBy()->getLastname() ?></p>
										</div> 
									</div>
								</a>
							</div>

							<?php if (count($wed) > 2) : ?>
								<div class="fat-15 floats-clear block-hover_p list__content-item">
									<a href="<?= $wed->get(2)->getUri() ?>">
									<div class="float-left width-38p kick-right-10">
										<?php if ($wed->get(2)->getPicture()) : ?>
											<img height="74px" width="100%" src="/upload/0x74/<?= $wed->get(2)->getPicture() ?>">
										<?php else : ?>
											<img height="74px" width="100%" src="/assets/images/face-10.jpg">
										<?php endif; ?>
									</div>
									<div class="float-left width-58p">
										<div class="kick-bottom-10">
											<p class="text-uppercase text-small_s opinionpro-light"><?= $wed->get(2)->getSection()->getHeader() ?></p>
										</div>
										<div class="kick-bottom-10">
											<p class="bwsurcodemo-medium"><?= $wed->get(2)->getHeader() ?></p>
										</div>
										<div>
											<p class="text-uppercase text-x-small opinionpro-light"><?= $wed->get(2)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $wed->get(2)->getUserRelatedByCreatedBy()->getLastname() ?></p>
										</div> 
									</div>
								</a>
								</div>
							<?php endif; ?>
						</div>
					<?php endif; ?>
					<div class="border-block border-top-off show_more__block">
						<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="<?= $wed->get(0)->getSection()->getCode() ?>">
							<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
						</a>
					</div>
				</div>
			<?php endif; ?>
		</div>

		<?php if (count($projects) > 0) : ?>
			<div class="column-8 kick-bottom-15">
				<div class="border-block border-block_top__black10 border-block_bottom__gray ">
					<div class="fat-15">
						<p class="text-uppercase journalism text-xxxxx-large text-center">Проекты</p>
					</div>
				</div>
				<div class="floats-clear border-block border-top-off">
					<div class="float-left width-50p">
						<div class="fat-15 border-block_right__gray block-hover_p">
							<a href="<?= $projects->get(0)->getCode() ?>">
								<div class="kick-bottom-20 text-center">
									<?php if ($projects->get(0)->getPicture()) : ?>
										<img height="150px" width="200px" src="/upload/0x150/<?= $projects->get(0)->getPicture() ?>">
									<?php else : ?>
										<img height="150px" width="200px" src="/assets/images/face-3.jpg">
									<?php endif; ?>
								</div>
								<div class="kick-bottom-10">
									<p class="text-large bwsurcodemo-medium"><?= $projects->get(0)->getHeader() ?></p>
								</div>
								<div>
									<p class="text-uppercase text-x-small opinionpro-light"><?= $projects->get(0)->getCreatedAt()->format('d/m/Y') ?> <?= $projects->get(0)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $projects->get(0)->getUserRelatedByCreatedBy()->getLastname() ?></p>
								</div>
							</a>
						</div>
					</div>

					<?php if (count($projects) > 1) : ?>
						<div class="float-left width-50p">
							<div class="list__content">
								<div class="fat-15 floats-clear block-hover_p list__content-item border-left-off border-right-off">
									<a href="<?= $projects->get(1)->getCode() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($projects->get(1)->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $projects->get(1)->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light">Проекты</p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $projects->get(1)->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $projects->get(1)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $projects->get(1)->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>

								<?php if (count($projects) > 2) : ?>
									<div class="fat-15 floats-clear block-hover_p list__content-item border-left-off border-right-off">
										<a href="<?= $projects->get(2)->getCode() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($projects->get(2)->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $projects->get(2)->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light">Проекты</p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $projects->get(2)->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $projects->get(2)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $projects->get(2)->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
									</div>
								<?php endif; ?>
							</div>
							<div class="show_more__block">
								<a class="fat-9-5 display-block opinionpro-light text-uppercase text-small" href="/projects/">
									<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
								</a>
							</div>
						</div>
					<?php endif; ?>
				</div>
			</div>
		<?php endif; ?>

		<?php if (count($management) > 0) : ?>
			<div class="column-4">
				<div class="kick-bottom-15">
					<div class="border-block border-block_top__black10 border-block_bottom__gray ">
						<div class="fat-15">
							<p class="text-uppercase journalism text-xxxxx-large text-center">МЕНЕДЖМЕНТ</p>
						</div>
					</div>
					<div class="border-block border-top-off fat-15 border-block_bottom__gray block-hover_p">
						<a href="<?= $management->get(0)->getUri() ?>">
							<div class="kick-bottom-20 text-center">
								<?php if ($management->get(0)->getPicture()) : ?>
									<img height="150px" width="200px" src="/upload/0x150/<?= $management->get(0)->getPicture() ?>">
								<?php else : ?>
									<img height="150px" width="200px" src="/assets/images/face-3.jpg">
								<?php endif; ?>
							</div>
							<div class="kick-bottom-10">
								<p class="text-large bwsurcodemo-medium"><?= $management->get(0)->getHeader() ?></p>
							</div>
							<div>
								<p class="text-uppercase text-x-small opinionpro-light"><?= $management->get(0)->getCreatedAt()->format('d/m/Y') ?> <?= $management->get(0)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $management->get(0)->getUserRelatedByCreatedBy()->getLastname() ?></p>
							</div>
						</a>
					</div>

					<?php if (count($management) > 1) : ?>
						<div class="list__content">
							<div class="fat-15 floats-clear block-hover_p list__content-item">
								<a href="<?= $management->get(1)->getUri() ?>">
									<div class="float-left width-38p kick-right-10">
										<?php if ($management->get(1)->getPicture()) : ?>
											<img height="74px" width="100%" src="/upload/0x74/<?= $management->get(1)->getPicture() ?>">
										<?php else : ?>
											<img height="74px" width="100%" src="/assets/images/face-10.jpg">
										<?php endif; ?>
									</div>
									<div class="float-left width-58p">
										<div class="kick-bottom-10">
											<p class="text-uppercase text-small_s opinionpro-light"><?= $management->get(1)->getSection()->getHeader() ?></p>
										</div>
										<div class="kick-bottom-10">
											<p class="bwsurcodemo-medium"><?= $management->get(1)->getHeader() ?></p>
										</div>
										<div>
											<p class="text-uppercase text-x-small opinionpro-light"><?= $management->get(1)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $management->get(1)->getUserRelatedByCreatedBy()->getLastname() ?></p>
										</div> 
									</div>
								</a>
							</div>

							<?php if (count($management) > 2) : ?>
								<div class="fat-15 floats-clear block-hover_p list__content-item">
									<a href="<?= $management->get(2)->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($management->get(2)->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $management->get(2)->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $management->get(2)->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $management->get(2)->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $management->get(2)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $management->get(2)->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endif; ?>
						</div>
					<?php endif; ?>
					<div class="border-block border-top-off show_more__block">
						<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="<?= $management->get(0)->getSection()->getCode() ?>">
							<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
						</a>
					</div>
				</div>
				
				<?php if (count($business) > 0) : ?>
					<div class="kick-bottom-15">
						<div class="border-block border-block_top__black10 border-block_bottom__gray ">
							<div class="fat-15">
								<p class="text-uppercase journalism text-xxxxx-large text-center">деловая афиша</p>
							</div>
						</div>
						<div class="border-block border-top-off fat-15 border-block_bottom__gray block-hover_p">
							<a href="<?= $business->get(0)->getUri() ?>">
								<div class="kick-bottom-20 text-center">
									<?php if ($business->get(0)->getPicture()) : ?>
										<img height="150px" width="200px" src="/upload/0x150/<?= $business->get(0)->getPicture() ?>">
									<?php else : ?>
										<img height="150px" width="200px" src="/assets/images/face-3.jpg">
									<?php endif; ?>
								</div>
								<div class="kick-bottom-10">
									<p class="text-large bwsurcodemo-medium"><?= $business->get(0)->getHeader() ?></p>
								</div>
								<div>
									<p class="text-uppercase text-x-small opinionpro-light"><?= $business->get(0)->getCreatedAt()->format('d/m/Y') ?> <?= $business->get(0)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $business->get(0)->getUserRelatedByCreatedBy()->getLastname() ?></p>
								</div>
							</a>
						</div>

						<?php if (count($business) > 1) : ?>
							<div class="list__content">
								<div class="fat-15 floats-clear block-hover_p list__content-item">
									<a href="<?= $business->get(1)->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($business->get(1)->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $business->get(1)->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $business->get(1)->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $business->get(1)->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $business->get(1)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $business->get(1)->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>

								<?php if (count($business) > 2) : ?>
									<div class="fat-15 floats-clear block-hover_p list__content-item">
										<a href="<?= $business->get(2)->getUri() ?>">
											<div class="float-left width-38p kick-right-10">
												<?php if ($business->get(2)->getPicture()) : ?>
													<img height="74px" width="100%" src="/upload/0x74/<?= $business->get(2)->getPicture() ?>">
												<?php else : ?>
													<img height="74px" width="100%" src="/assets/images/face-10.jpg">
												<?php endif; ?>
											</div>
											<div class="float-left width-58p">
												<div class="kick-bottom-10">
													<p class="text-uppercase text-small_s opinionpro-light"><?= $business->get(2)->getSection()->getHeader() ?></p>
												</div>
												<div class="kick-bottom-10">
													<p class="bwsurcodemo-medium"><?= $business->get(2)->getHeader() ?></p>
												</div>
												<div>
													<p class="text-uppercase text-x-small opinionpro-light"><?= $business->get(2)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $business->get(2)->getUserRelatedByCreatedBy()->getLastname() ?></p>
												</div> 
											</div>
										</a>
									</div>
								<?php endif; ?>
							</div>
						<?php endif; ?>
						<div class="border-block border-top-off show_more__block">
							<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="<?= $business->get(0)->getSection()->getCode() ?>">
								<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
							</a>
						</div>
					</div>
				<?php endif; ?>

				<?php if (fenric('banner::right')) : ?>
					<div class="kick-bottom-15">
						<?= fenric('banner::right') ?>
					</div>
				<?php endif; ?>
			</div>
		<?php endif; ?>

		<div class="column-4">
			<?php if (fenric('banner::right')) : ?>
				<div class="kick-bottom-15">
					<?= fenric('banner::right') ?>
				</div>
			<?php endif; ?>

			<?php if (count($power) > 0) : ?>
				<div class="kick-bottom-15">
					<div class="border-block border-block_top__black10 border-block_bottom__gray ">
						<div class="fat-15">
							<p class="text-uppercase journalism text-xxxxx-large text-center">Власть</p>
						</div>
					</div>
					<div class="border-block border-top-off fat-15 border-block_bottom__gray block-hover_p">
						<a href="<?= $power->get(0)->getUri() ?>">
							<div class="kick-bottom-20 text-center">
								<?php if ($power->get(0)->getPicture()) : ?>
									<img height="150px" width="200px" src="/upload/0x150/<?= $power->get(0)->getPicture() ?>">
								<?php else : ?>
									<img height="150px" width="200px" src="/assets/images/face-3.jpg">
								<?php endif; ?>
							</div>
							<div class="kick-bottom-10">
								<p class="text-large bwsurcodemo-medium"><?= $power->get(0)->getHeader() ?></p>
							</div>
							<div>
								<p class="text-uppercase text-x-small opinionpro-light"><?= $power->get(0)->getShowAt()->format('d/m/Y') ?> <?= $power->get(0)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $power->get(0)->getUserRelatedByCreatedBy()->getLastname() ?></p>
							</div>
						</a>
					</div>

					<?php if (count($power) > 1) : ?>
						<div class="list__content">
							<div class="fat-15 floats-clear block-hover_p list__content-item">
								<a href="<?= $power->get(1)->getUri() ?>">
									<div class="float-left width-38p kick-right-10">
										<?php if ($power->get(1)->getPicture()) : ?>
											<img height="74px" width="100%" src="/upload/0x74/<?= $power->get(1)->getPicture() ?>">
										<?php else : ?>
											<img height="74px" width="100%" src="/assets/images/face-10.jpg">
										<?php endif; ?>
									</div>
									<div class="float-left width-58p">
										<div class="kick-bottom-10">
											<p class="text-uppercase text-small_s opinionpro-light"><?= $power->get(1)->getSection()->getHeader() ?></p>
										</div>
										<div class="kick-bottom-10">
											<p class="bwsurcodemo-medium"><?= $power->get(1)->getHeader() ?></p>
										</div>
										<div>
											<p class="text-uppercase text-x-small opinionpro-light"><?= $power->get(1)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $power->get(1)->getUserRelatedByCreatedBy()->getLastname() ?></p>
										</div> 
									</div>
								</a>
							</div>

							<?php if (count($power) > 2) : ?>
								<div class="fat-15 floats-clear block-hover_p list__content-item">
									<a href="<?= $power->get(2)->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($power->get(2)->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $power->get(2)->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $power->get(2)->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $power->get(2)->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $power->get(2)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $power->get(2)->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endif; ?>
						</div>
					<?php endif; ?>
					<div class="border-block border-top-off show_more__block">
						<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="<?= $power->get(0)->getSection()->getCode() ?>">
							<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
						</a>
					</div>
				</div>
			<?php endif; ?>

			<?php if (count($person) > 0) : ?>
				<div class="kick-bottom-15">
					<div class="border-block border-block_top__black10 border-block_bottom__gray ">
						<div class="fat-15">
							<p class="text-uppercase journalism text-xxxxx-large text-center">Персона</p>
						</div>
					</div>
					<div class="border-block border-top-off fat-15 border-block_bottom__gray block-hover_p">
						<a href="<?= $person->get(0)->getUri() ?>">
							<div class="kick-bottom-20 text-center">
								<?php if ($person->get(0)->getPicture()) : ?>
									<img height="150px" width="200px" src="/upload/0x150/<?= $person->get(0)->getPicture() ?>">
								<?php else : ?>
									<img height="150px" width="200px" src="/assets/images/face-3.jpg">
								<?php endif; ?>
							</div>
							<div class="kick-bottom-10">
								<p class="text-large bwsurcodemo-medium"><?= $person->get(0)->getHeader() ?></p>
							</div>
							<div>
								<p class="text-uppercase text-x-small opinionpro-light"><?= $person->get(0)->getShowAt()->format('d/m/Y') ?> <?= $person->get(0)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $person->get(0)->getUserRelatedByCreatedBy()->getLastname() ?></p>
							</div>
						</a>
					</div>

					<?php if (count($person) > 1) : ?>
						<div class="list__content">
							<div class="fat-15 floats-clear block-hover_p list__content-item">
								<a href="<?= $person->get(1)->getUri() ?>">
									<div class="float-left width-38p kick-right-10">
										<?php if ($person->get(1)->getPicture()) : ?>
											<img height="74px" width="100%" src="/upload/0x74/<?= $person->get(1)->getPicture() ?>">
										<?php else : ?>
											<img height="74px" width="100%" src="/assets/images/face-10.jpg">
										<?php endif; ?>
									</div>
									<div class="float-left width-58p">
										<div class="kick-bottom-10">
											<p class="text-uppercase text-small_s opinionpro-light"><?= $person->get(1)->getSection()->getHeader() ?></p>
										</div>
										<div class="kick-bottom-10">
											<p class="bwsurcodemo-medium"><?= $person->get(1)->getHeader() ?></p>
										</div>
										<div>
											<p class="text-uppercase text-x-small opinionpro-light"><?= $person->get(1)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $person->get(1)->getUserRelatedByCreatedBy()->getLastname() ?></p>
										</div> 
									</div>
								</a>
							</div>

							<?php if (count($person) > 2) : ?>
								<div class="fat-15 floats-clear block-hover_p list__content-item">
									<a href="<?= $person->get(2)->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($person->get(2)->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $person->get(2)->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $person->get(2)->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $person->get(2)->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $person->get(2)->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $person->get(2)->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endif; ?>
						</div>
					<?php endif; ?>
					<div class="border-block border-top-off show_more__block">
						<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="<?= $person->get(0)->getSection()->getCode() ?>">
							<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
						</a>
					</div>
				</div>
			<?php endif; ?>
		</div>
	</div>
</div>
