<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<?= $this->section('head') ?>
	<?= $this->section('metadata') ?>
	<?= $this->section('stylesheets') ?>
	<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link rel="stylesheet" href="/assets/stylesheets/normalize.css" />
	<link rel="stylesheet" href="/assets/stylesheets/fonts.css" />
	<link rel="stylesheet" href="/assets/stylesheets/main.css?<?= microtime(true) ?>" />
	<link rel="stylesheet" href="/assets/stylesheets/tabs.css" />
	<link rel="stylesheet" href="/assets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.css" />
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.0.47/jquery.fancybox.min.js"></script>
	<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
</head>
<body>
	<!-- It header of layout -->
	<?php if ((fenric('request')->getPath() == '/') || (fenric('request')->getPath() == '/search/')) : ?>
		<?= fenric('view::partials/header-home')->render() ?>
	<?php elseif (isset($section)) : ?>
		<?= fenric('view::partials/header-second', ['section' => $section])->render() ?>
	<?php else : ?>
		<?= fenric('view::partials/header-home')->render() ?>
	<?php endif; ?>
	<?= $this->section('content') ?>

	<footer>
		<div class="width-100p border-top_gray">
			<div class="">
				<div class="fat-top-20 fat-bottom-50 text-center">
					<div class="kick-bottom-30">
						<a href="/">
							<img src="/assets/images/logo.png">
						</a>
					</div>

					<div class="kick-bottom-15">
						<ul class="footer-list-link">
							<li><a href="/about-as">О нас</a></li>
							<li><a href="/contacts">Контакты</a></li>
							<li><a href="/vacancies">Вакансии</a></li>
							<li><a href="/advertising">Реклама</a></li>
							<li><a href="/feedback">Обратная связь</a></li>
							<li><a href="/projects">О проектах</a></li>
							<li><a class="border-right-off" href="/magazines">Архив</a></li>
						</ul>
					</div>

					<div class="kick-bottom-20">
						<ul class="footer-list-link">
							<li class="kick-right-10">
								<a class="border-right-off" target="_blank" href="https://vk.com/publicbmag72">
									<img src="/assets/images/footer-vk.png">
								</a>
							</li>
							<li class="kick-right-10">
								<a class="border-right-off" target="_blank" href="https://twitter.com/bmag_tmn">
									<img src="/assets/images/footer-twitter.png">
								</a>
							</li>
							<li class="">
								<a class="border-right-off" target="_blank" href="https://www.facebook.com/bmag72/">
									<img src="/assets/images/footer-f.png">
								</a>
							</li>
						</ul>
					</div>

					<div class="kick-bottom-30 text-center opinionpro-light text-small_m">
						<p class="">При цитировании информации гиперссылка на Тюменский Бизнес-журнал обязательна.</p>
						<p>Использование материалов Тюменского Бизнес-журнала в коммерческих целях без письменного разрешения редакции не допускается.</p>
					</div>

					<div class="text-center opinionpro-light text-small_m">
						<p>© ООО «Тюменский бизнес-журнал», 2017</p>
						<p>Редакция «Тюменского Бизнес-журнала» и портала «Тюменский Бизнес-журнал Онлайн»</p>
						<p>16+</p>
					</div>
				</div>
			</div>
		</div>
	</footer>

	<script src="<?= asset('/assets/vendor/fenric/bugaboo/src/bugaboo.js') ?>"></script>
	<script src="<?= asset('/assets/vendor/fenric/request/src/request.js') ?>"></script>
	<!--<script src="<?= asset('/assets/vendor/fenric/request/src/form-request.js') ?>"></script>-->
	<script src="<?= asset('/assets/javascripts/poll.js') ?>"></script>
	<script src="<?= asset('/assets/javascripts/tabs.js') ?>"></script>
	<script src="<?= asset('/assets/javascripts/fixed-menu.js') ?>"></script>

	<?= $this->section('javascripts') ?>

	<script type="text/javascript">
		$('a[data-fancybox]').fancybox({});
		$('.tiled-images > a').fancybox({});
	</script>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
	 (function (d, w, c) {
	 (w[c] = w[c] || []).push(function() {
	 try {
	 w.yaCounter6349189 = new Ya.Metrika({
	 id:6349189,
	 clickmap:true,
	 trackLinks:true,
	 accurateTrackBounce:true,
	 webvisor:true
	 });
	 } catch(e) { }
	 });

	 var n = d.getElementsByTagName("script")[0],
	 s = d.createElement("script"),
	 f = function () { n.parentNode.insertBefore(s, n); };
	 s.type = "text/javascript";
	 s.async = true;
	 s.src = "https://mc.yandex.ru/metrika/watch.js";

	 if (w.opera == "[object Opera]") {
	 d.addEventListener("DOMContentLoaded", f, false);
	 } else { f(); }
	 })(document, window, "yandex_metrika_callbacks");
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/6349189" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
</body>
</html>
