<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<?= $this->section('metadata') ?>
		<?= $this->section('stylesheets') ?>
		<link href="<?= asset('/assets/stylesheets/style.css') ?>" rel="stylesheet" />
		<link href="<?= asset('/assets/vendor/bootstrap-4.0.0/css/bootstrap.min.css') ?>" rel="stylesheet" />
		<link href="<?= asset('/assets/vendor/fancybox/jquery.fancybox.css') ?>" rel="stylesheet" />
		<link href="<?= asset('/assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css') ?>" rel="stylesheet" />
	</head>
	<body>
		<div class="container">
			<div class="row mt-5 mb-5">
				<div class="col-9">
					<?= fenric('menu::top', [
						'ul-first-class' => 'nav top-menu',
						'ul-drowned-class' => 'dropdown-menu',
						'li-class' => 'nav-item',
						'li-drowned-class' => 'dropdown',
						'li-active-class' => 'active',
						'a-class' => 'nav-link',
					]) ?>
				</div>
				<div class="col-3">
					<form action="/search/">
						<div class="input-group">
							<input class="form-control" name="q" type="text" placeholder="Поиск" />
							<div class="input-group-btn">
								<button class="btn btn-outline-success" type="submit">
									<i class="fa fa-search" aria-hidden="true"></i>
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="container-fluid">
				<?= $this->section('content') ?>
			</div>
		</div>
		<script src="<?= asset('/assets/vendor/fenric/bugaboo/src/bugaboo.js') ?>"></script>
		<script src="<?= asset('/assets/vendor/fenric/request/src/request.js') ?>"></script>
		<script src="<?= asset('/assets/vendor/jquery-3.2.1.min.js') ?>"></script>
		<script src="<?= asset('/assets/vendor/bootstrap-4.0.0/js/bootstrap.min.js') ?>"></script>
		<script src="<?= asset('/assets/vendor/fancybox/jquery.fancybox.pack.js') ?>"></script>
		<script src="<?= asset('/assets/javascripts/poll.js') ?>"></script>
		<?= $this->section('javascripts') ?>
	</body>
</html>
