<?php $this->layout('layout', ['section' => $publication->getSection()]) ?>

<?php $this->start('metadata') ?>
<title><?= e($publication->getMetaTitle() ?: $publication->getHeader()) ?></title>
<meta property="og:image" content="http://bmag72.ru/upload/<?= $publication->getPicture() ?>" />


<?php if ($publication->getMetaKeywords()) : ?>
	<meta name="keywords" content="<?= e($publication->getMetaKeywords()) ?>" />
<?php endif; ?>

<?php if ($publication->getMetaDescription()) : ?>
	<meta name="description" content="<?= e($publication->getMetaDescription()) ?>" />
<?php endif; ?>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<link rel="stylesheet" href="/assets/stylesheets/revealator.css" />
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
<script>

	var blockquotes = document.querySelectorAll('blockquote');
	
	for (var i=0;i<blockquotes.length;i++)
	{
		blockquotes[i].classList.add('quote', 'revealator-slideright', 'revealator-delay2', 'revealator-once');
	}
</script>
<script src="/assets/javascripts/revealator.jquery.js"></script>
<script src="/assets/javascripts/sticky.js"></script>
<script>

	var disqus_config = function () {
	this.page.url = '<?= url() ?>';  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = '<?= url() ?>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

	(function() { // DON'T EDIT BELOW THIS LINE

		document.addEventListener("DOMContentLoaded", function(event){
			var d = document, s = d.createElement('script');
			var head = document.getElementsByTagName('head')[0];
			var body = document.getElementsByTagName('body')[0];
			s.async = true;
			s.src = 'https://bmag72.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(body).appendChild(s);
		});
	})();
	
	
</script>
<?php $this->stop() ?>
<?php $videoTag = false; ?>
<div class="container kick-bottom-15">
	<div class="">
		<?= fenric('banner::main') ?>
	</div>
</div>

<div class="container kick-bottom-20">
	<div class="grid">
		<div class="column-12">
			<div class="floats-clear">
				<div class="breadcrumbs">
					<ul class="floats-clear" itemscope itemtype="http://schema.org/BreadcrumbList">
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
								<span itemprop="name" class="text-uppercase">Главная</span>
							</a>
							<span>/</span>
							<meta itemprop="position" content="1" />
						</li>
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
							<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/<?= $publication->getSection()->getCode() ?>">
								<span itemprop="name" class="text-uppercase"><?= $publication->getSection()->getHeader() ?></span>
							</a>	
							<span>/</span>
							<meta itemprop="position" content="2" />
						</li>
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
							<span itemprop="name" class="text-uppercase"><?= $publication->getHeader() ?></span>
							<meta itemprop="position" content="3" />
						</li>
					</ul> 
				</div>
			</div>
		</div>
	</div>
</div>	

<div class="container kick-bottom-20 position-r" id="article">
	<div class="share-social" id="aside1">
		<div class="border-block_top__black10 border-block">
			<div class="fat-10">
				<p class="text-uppercase journalism text-xxx-large text-center">Поделиться</p>
			</div>
			<div class="ya-share2" data-services="vkontakte,facebook,twitter">
				<p>vk</p>
			</div>
		</div>
	</div>

	<div class="breadcrumbs kick-bottom-15">
		<ul class="floats-clear">
			<li><?= $publication->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $publication->getUserRelatedByCreatedBy()->getLastname() ?></li>
			<li><?= $publication->getSection()->getHeader() ?></li>
			<li><?= $publication->getShowAt()->format('d.m.y') ?></li>
			<li>просмотров: <?= $publication->getHits() ?></li>
		</ul>
	</div>

	<div class="floats-clear kick-bottom-20">
		<div class="float-left width-62p kick-right-40">
			<div class="kick-bottom-10">
				<p class="text-xxxxxx-large bwsurcodemo-bold"><?= $publication->getHeader() ?></p>
			</div>
			<div class="kick-bottom-40">
				<?php if ($publication->getPicture()) : ?>
					<?php if (strpos(fenric('request')->getPath(), '/persona/') !== false) : ?>
						<img height="330px" style="float:left; margin: 10px;" src="/upload/0x330/<?= $publication->getPicture() ?>">
					<?php else : ?>
						<img height="330px" width="100%" src="/upload/0x330/<?= $publication->getPicture() ?>">
					<?php endif; ?>
				<?php else : ?>
					<img height="330px" width="100%" src="/assets/images/slide-1.jpg">
				<?php endif; ?>
			</div>
			<div class="kick-bottom-20 fat-left-20 fat-right-20 article-text">
				<?= $publication->getContent() ?>
			</div>
			
			
			
			<?php if (count($publication->getTags()) > 0) : ?>
				<div class="kick-bottom-20 fat-left-20 fat-right-20">
					<div class="tags">
						<ul class="floats-clear">
						<?php foreach ($publication->getTags() as $tag) : ?>
							<li><a href="/tags/<?= $tag->getCode() ?>"><?= $tag->getHeader() ?></a></li>
						<?php endforeach; ?>
						</ul>
					</div>
				</div>
			<?php endif; ?>

			<div><?= fenric('snippet::comments') ?></div>

		</div>

		<div class="float-left width-33p">
			<?php if (fenric('banner::right')) : ?>
				<div class="kick-bottom-15">
					<?= fenric('banner::right') ?>
				</div>
			<?php endif; ?>

			<div class="border-block border-block_top__black10">
				<div class="fat-15">
					<p class="text-uppercase journalism text-xxxxx-large text-center">популярное</p>
				</div>

				<div class="tabs">
					<ul class="tabs__caption popular border-top_gray border-bottom_gray kick-bottom-10">
						<li class="active">Сейчас</li>
						<li>Неделя</li>
						<li>Месяц</li>
					</ul>

					<div class="tabs__content active">
						<?php if (count($publicationsTopNow) > 0) : ?>
							<?php foreach ($publicationsTopNow as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($pub->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $pub->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $pub->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>

					<div class="tabs__content">
						<?php if (count($publicationsTopWeek) > 0) : ?>
							<?php foreach ($publicationsTopWeek as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($pub->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $pub->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $pub->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>

					<div class="tabs__content">
						<?php if (count($publicationsTopMonth) > 0) : ?>
							<?php foreach ($publicationsTopMonth as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($pub->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $pub->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $pub->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>
				</div>
			</div>
			<div class="border-block border-top-off show_more__block">
				<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="#">
					<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
				</a>
			</div>
		</div>
	</div>

	<!--<div>
		<div class="border-block_top__black10 kick-bottom-15"></div>
		<div class="kick-bottom-20">
			<?= fenric('banner::main') ?>
		</div>

		<div class="grid">
			<div class="column-8">
				<div class="grid kick-bottom-15">
					<div class="column-8">
						<div class="fat-15 border-block border-block_top__black block-hover">
							<a href="#">
								<div class="kick-bottom-20">
									<img height="210px" width="100%" src="/assets/images/face-3.jpg">
								</div>
								<div class="kick-bottom-15">
									<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
								</div>
								<div class="kick-bottom-15">
									<p class="text-bold text-x-large bwsurcodemo-bold">Новая «Тюменская марка – 2017»</p>
								</div>
								<div>
									<p class="text-uppercase text-x-small opinionpro-light">01/08/2017 Дмитрий Бербатов</p>
								</div>
							</a>
						</div>
					</div>
					<div class="column-4">
						<div class="fat-15 border-block border-block_top__black block-hover">
							<a href="#">
								<div class="kick-bottom-20">
									<img height="144px" width="100%" src="/assets/images/face-7.jpg">
								</div>
								<div class="kick-bottom-15">
									<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
								</div>
								<div class="kick-bottom-15">
									<p class="text-bold text-x-large bwsurcodemo-bold">«Все, что надо» для предпри-<br>нимателей</p>
								</div>
								<div>
									<p class="text-uppercase text-x-small opinionpro-light">01/08/2017 Дмитрий Бербатов</p>
								</div>
							</a>
						</div>
					</div>
				</div>

				<div class="grid kick-bottom-15">
					<div class="column-6">
						<div class="border-block border-block_top__black block-hover fat-15 kick-bottom-15 floats-clear">
							<a href="#">
								<div class="width-50p float-left kick-right-10">
									<div class="kick-bottom-10">
										<p class="text-small_s text-uppercase opinionpro-light">Власть</p>
									</div>
									<div class="kick-bottom-10">
										<p class="text-bold text-x-large bwsurcodemo-bold">Новая «Тюменская марка<br>– 2017»</p>
									</div>
									<div>
										<p class="text-uppercase text-x-small opinionpro-light">01/08/2017<br>Дмитрий Бербатов</p>
									</div>
								</div>
								<div class="width-46p float-left">
									<img height="134" width="100%" src="/assets/images/face-10.jpg">
								</div>
							</a>
						</div>

						<div class="border-block border-block_top__black fat-15 floats-clear block-hover">
							<a href="#">
								<div class="width-46p float-left kick-right-10">
									<img height="134" width="100%" src="/assets/images/face-10.jpg">
								</div>
								<div class="width-50p float-left">
									<div class="kick-bottom-10">
										<p class="text-small_s text-uppercase opinionpro-light">Власть</p>
									</div>
									<div class="kick-bottom-10">
										<p class="text-bold text-x-large bwsurcodemo-bold">Новая «Тюменская марка<br>– 2017»</p>
									</div>
									<div>
										<p class="text-uppercase text-x-small opinionpro-light">01/08/2017<br>Дмитрий Бербатов</p>
									</div>
								</div>
							</a>
						</div>
					</div>
					<div class="column-6">
						<div class="border-block border-block_top__black fat-15 block-hover h-360">
							<a href="#">
								<div class="kick-bottom-15">
									<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
								</div>
								<div class="kick-bottom-50">
									<p class="text-bold text-xxxx-large playfairdisplay">Территория завтрашнего дня</p>
								</div>
								<div>
									<p class="text-uppercase text-x-small opinionpro-light">01/08/2017<br>Дмитрий Бербатов</p>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="column-4">
				<div class="border-block border-block_top__black10">
					<div class="fat-15">
					<p class="text-uppercase journalism text-xxxxx-large text-center">похожее</p>
					</div>

					<div class="tabs">
						<ul class="tabs__caption popular border-top_gray border-bottom_gray kick-bottom-10">
							<li class="active">Сейчас</li>
							<li>Неделя</li>
							<li>Месяц</li>
						</ul>

						<div class="tabs__content active">
							<div class="fat-15 floats-clear block-hover_p tabs__content-item">
								<a href="#">
									<div class="float-left width-30p kick-right-10">
										<img height="74px" width="100%" src="/assets/images/face-10.jpg">
									</div>
									<div class="float-left width-66p">
										<div class="kick-bottom-10">
											<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
										</div>
										<div class="kick-bottom-10">
											<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
										</div>
										<div>
											<p class="text-uppercase text-x-small opinionpro-light">Дмитрий Бербатов</p>
										</div> 
									</div>
								</a>
							</div>

							<div class="fat-15 floats-clear block-hover_p tabs__content-item">
								<a href="#">
									<div class="float-left width-30p kick-right-10">
										<img height="74px" width="100%" src="/assets/images/face-10.jpg">
									</div>
									<div class="float-left width-66p">
										<div class="kick-bottom-10">
											<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
										</div>
										<div class="kick-bottom-10">
											<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
										</div>
										<div>
											<p class="text-uppercase text-x-small opinionpro-light">Дмитрий Бербатов</p>
										</div> 
									</div>
								</a>
							</div>

							<div class="fat-15 floats-clear block-hover_p tabs__content-item">
								<a href="#">
									<div class="float-left width-30p kick-right-10">
										<img height="74px" width="100%" src="/assets/images/face-10.jpg">
									</div>
									<div class="float-left width-66p">
										<div class="kick-bottom-10">
											<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
										</div>
										<div class="kick-bottom-10">
											<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
										</div>
										<div>
											<p class="text-uppercase text-x-small opinionpro-light">Дмитрий Бербатов</p>
										</div> 
									</div>
								</a>
							</div>

							<div class="fat-15 floats-clear block-hover_p tabs__content-item">
								<a href="#">
									<div class="float-left width-30p kick-right-10">
										<img height="74px" width="100%" src="/assets/images/face-10.jpg">
									</div>
									<div class="float-left width-66p">
										<div class="kick-bottom-10">
											<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
										</div>
										<div class="kick-bottom-10">
											<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
										</div>
										<div>
											<p class="text-uppercase text-x-small opinionpro-light">Дмитрий Бербатов</p>
										</div> 
									</div>
								</a>
							</div>

							<div class="fat-15 floats-clear block-hover_p tabs__content-item">
								<a href="#">
									<div class="float-left width-30p kick-right-10">
										<img height="74px" width="100%" src="/assets/images/face-10.jpg">
									</div>
									<div class="float-left width-66p">
										<div class="kick-bottom-10">
											<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
										</div>
										<div class="kick-bottom-10">
											<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
										</div>
										<div>
											<p class="text-uppercase text-x-small opinionpro-light">Дмитрий Бербатов</p>
										</div> 
									</div>
								</a>
							</div>

						</div>

						<div class="tabs__content">
							сюда иди
						</div>

						<div class="tabs__content">
							хуй
						</div>
					</div>
				</div>
				<div class="border-block border-top-off show_more__block">
					<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="#">
						<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
					</a>
				</div>
			</div>
		</div>
	</div>-->
	</div>
</div>



