<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title>Поиск</title>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<?php $this->stop() ?>

<div class="container kick-bottom-15">
	<div class="kick-bottom-15">
		<div class="">
			<?= fenric('banner::main') ?>
		</div>
	</div>

	<div class="grid">
		<div class="column-8">
			<div class="border-block_top__black border-bottom_gray">
				<form class="form-wrapper floats-clear fat-left-15 fat-right-15 fat-top-10 fat-bottom-10 border-bottom_gray" action="" method="get">
					<button type="submit"><img src="/assets/images/search.png"></button>
					<p><input name="q" placeholder="Введите искомую фразу" type="text" minlength="3" value="<?= fenric('request')->query->get('q') ?>" /></p>
				</form>
				<div class="floats-clear fat-left-15 fat-right-15 fat-top-10 fat-bottom-10">
					<div class="float-left width-30p">
						<p class="opinionpro-light text-small">Найдено: <?= $publications->getNbResults() ?></p>
					</div>

					<!--
					<div class="float-right width-56p">
						<span class="float-left opinionpro-light kick-right-5">сортировать:</span>
						<div class="buttons invert text-small kick-top-3">
							<div class="floats-clear">
								<label class="button kick-right-5 radio-label">
									<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">точное совпадение
								</label>
								<label class="button kick-right-5 radio-label">
									<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">свежее
								</label>
								<label class="button radio-label ">
									<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">старее
								</label>
							</div>
						</div>
					</div>
					-->
				</div>	
			</div>
			<!-- СПИСОК(10 объектов) -->
			<?php if (isset($publications)) : ?>
				<?php if ($publications->count() > 0) : ?>
					<?php foreach ($publications as $publication) : ?>
						<div class="kick-bottom-20">
							<div class="border-bottom_gray">
								<div class="fat-15">
									<div class="grid">
										<div class="column-4">
											<?php if ($publication->getPicture()) : ?>
												<p><a href="/upload/<?= $publication->getPicture() ?>" target="_blank">
													<img src="/upload/180x100/<?= $publication->getPicture() ?>" />
												</a></p>
												<?php if ($publication->getPictureSignature()) : ?>
													<p><?= $publication->getPictureSignature() ?></p>
												<?php endif; ?>
											<?php endif; ?>
										</div>
										<div class="column-8">
											<div class="kick-bottom-15">
												<p class="text-uppercase text-small opinionpro-light"><?= $publication->getCreatedAt()->format('j.m.y') ?> | <?php if ($publication->getUserRelatedByCreatedBy() !== null) : ?>
													<?= $publication->getUserRelatedByCreatedBy()->getLastname() ?> <?= $publication->getUserRelatedByCreatedBy()->getFirstname() ?>
													<?php endif; ?>
												</p>
											</div>
											<div class="kick-bottom-5">
												<a class="text-black text-x-large bwsurcodemo-bold" href="<?= $publication->getUri() ?>">
													<h2><?= $publication->getHeader() ?></h2>
												</a>
											</div>
											<div>
												<a class="text-black" href="#">
													<p><?= $publication->getSnippetableAnons() ?></p>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					<?php endforeach; ?>

					<?php if ($publications->haveToPaginate()) : ?>
						<div class="text-center kick-bottom-40">
							<ul class="pagination">
								<?php foreach ($publications->getLinks() as $page) : ?>
									<?php if ($publications->getPage() === $page) : ?>
										<li class="active">
											<span><?= $page ?></span>
										</li>
									<?php else : ?>
										<li>
											<a href="<?= fenric('request')->getRoot() ?>/search/?q=<?= urlencode(fenric('request')->query->get('q')) ?>&page=<?= $page ?>"><?= $page ?></a>
										</li>
									<?php endif; ?>
								<?php endforeach; ?>
							</ul>
						</div>
					<?php endif; ?>	
				<?php endif; ?>
			<?php endif; ?>			
			
		</div>

		<div class="column-4">
			<?php if (fenric('banner::right')) : ?>
				<div class="kick-bottom-15">
					<?= fenric('banner::right') ?>
				</div>
			<?php endif; ?>
			<div class="border-block border-block_top__black10">
				<div class="fat-15">
					<p class="text-uppercase journalism text-xxxxx-large text-center">популярное</p>
				</div>

				<div class="tabs">
					<ul class="tabs__caption popular border-top_gray border-bottom_gray kick-bottom-10">
						<li class="active">Сейчас</li>
						<li>Неделя</li>
						<li>Месяц</li>
					</ul>

					<div class="tabs__content active">
						<?php if (count($publicationsTopNow) > 0) : ?>
							<?php foreach ($publicationsTopNow as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($pub->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $pub->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $pub->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>

					<div class="tabs__content">
						<?php if (count($publicationsTopWeek) > 0) : ?>
							<?php foreach ($publicationsTopWeek as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($pub->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $pub->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $pub->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>

					<div class="tabs__content">
						<?php if (count($publicationsTopMonth) > 0) : ?>
							<?php foreach ($publicationsTopMonth as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($pub->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $pub->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $pub->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>
				</div>
			</div>

		</div>
	</div>
	
</div>