<?php

$pageuri = function($page) {
	$queries = fenric('request')->query->all();
	$queries['page'] = $page;
	return fenric('request')->getPath() . '?' . http_build_query($queries);
};

?>
<?php $this->layout('layout', ['section' => $section]) ?>

<?php $this->start('metadata') ?>
<title><?= e($section->getMetaTitle() ?: $section->getHeader()) ?></title>

<?php if ($section->getMetaKeywords()) : ?>
	<meta name="keywords" content="<?= e($section->getMetaKeywords()) ?>" />
<?php endif; ?>

<?php if ($section->getMetaDescription()) : ?>
	<meta name="description" content="<?= e($section->getMetaDescription()) ?>" />
<?php endif; ?>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<?php $this->stop() ?>

<div class="container kick-bottom-15">
	<div class="">
		<?= fenric('banner::main') ?>
	</div>
</div>

<div class="container kick-bottom-15">
	<div class="grid">
		<div class="column-12">
			<div class="floats-clear">
				<div class="breadcrumbs">
					<ul itemscope itemtype="http://schema.org/BreadcrumbList">
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
								<span itemprop="name" class="text-uppercase">Главная</span>
							</a>
							<span>/</span>
							<meta itemprop="position" content="1" />
						</li>
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
							<span itemprop="name" class="text-uppercase"><?= $section->getHeader() ?></span>
							<meta itemprop="position" content="2" />
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container kick-bottom-15">
	<div class="grid">
		<div class="column-8">
			<div class="fat-15 border-block border-block_top__black10 border-block_bottom__gray">
				<p class="text-uppercase journalism text-xxxxx-large"><?= $section->getHeader() ?></p>
			</div>
			<!-- СПИСОК(на странице по 10 объектов) -->
			<div class="kick-bottom-20">
				<?php if (count($publications) > 0) : ?>
					<?php foreach ($publications as $publication) : ?>
						<div class="fat-15 fat-right-35 border-bottom_gray block-hover_p">
							<div class="grid">
								<div class="column-4">
									<a href="<?= $publication->getUri() ?>">
										<?php if ($publication->getPicture()) : ?>
											<?php if (strpos(fenric('request')->getPath(), '/persona/') !== false) : ?>
												<img height="100px" style="display:block;margin:0 auto;" src="/upload/0x100/<?= $publication->getPicture() ?>">
											<?php endif; ?>
										<?php else : ?>
											<img height="100px" width="100%" src="/assets/images/face-1.png">
										<?php endif; ?>
									</a>
								</div>
								<div class="column-8">
									<div class="kick-bottom-15">
										<p class="text-uppercase text-small opinionpro-light"><?= $publication->getShowAt()->format('d/m/Y') ?> | <?= $publication->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $publication->getUserRelatedByCreatedBy()->getLastname() ?></p>
									</div>
									<div class="kick-bottom-5">
										<a class="text-black" href="<?= $publication->getUri() ?>"><p class="text-x-large bwsurcodemo-bold"><?= $publication->getHeader() ?></p></a>
									</div>
									<div>
										<a class="text-black" href="<?= $publication->getUri() ?>">
											<p class=""><?= mb_strimwidth(strip_tags($publication->getAnons()), 0, 115, '...') ?></p>
										</a>
									</div>
								</div>
							</div>
						</div>
					<?php endforeach; ?>
				<?php endif; ?>
			</div>
			
			<?php if ($publications->haveToPaginate()) : ?>
				<div class="text-center">
					<ul class="pagination">
						<?php if (!$publications->isFirstPage()) :?>
							<li>
								<a href="<?= $pageuri($publications->getFirstPage()) ?>"><<</a>
							</li>
							<li>
								<a href="<?= $pageuri($publications->getPreviousPage()) ?>" title="Предыдущая"><</a>
							</li>
						<?php endif; ?>
						<?php if ($publications->getLinks()[0] != $publications->getFirstPage()) : ?>
							<li>
								<span>...</span>
							</li>
						<?php endif; ?>
						<?php foreach ($publications->getLinks() as $p) : $lastLink = $p; ?>
							<?php if ($publications->getPage() == $p) : ?>
								<li class="active">
									<span><?= $p ?></span>
								</li>
							<?php else : ?>
								<li>
									<a href="<?= $pageuri($p) ?>"><?= $p ?></a>
								</li>
							<?php endif; ?>
						<?php endforeach; ?>
						<?php if ($publications->getNextPage() != $publications->getLastPage() && !$publications->isFirstPage() && $lastLink != $publications->getLastPage()) :?>
							<li>
								<span>...</span>
							</li>
						<?php endif; ?>
						<?php if ($publications->getPage() != $publications->getLastPage()) :?>
							<li>
								<a href="<?= $pageuri($publications->getNextPage()) ?>" title="Следующая">></a>
							</li>
							<li>
								<a href="<?= $pageuri($publications->getLastPage()) ?>">>></a>
							</li>
						<?php endif; ?>
					</ul>
				</div>
			<?php endif; ?>
		</div>

		<div class="column-4">
			<?php if (fenric('banner::right')) : ?>
				<div class="kick-bottom-15">
					<?= fenric('banner::right') ?>
				</div>
			<?php endif; ?>

			<div class="border-block border-block_top__black10">
				<div class="fat-15">
					<p class="text-uppercase journalism text-xxxxx-large text-center">популярное</p>
				</div>

				<div class="tabs">
					<ul class="tabs__caption popular border-top_gray border-bottom_gray kick-bottom-10">
						<li class="active">Сейчас</li>
						<li>Неделя</li>
						<li>Месяц</li>
					</ul>

					<div class="tabs__content active">
						<?php if (count($publicationsTopNow) > 0) : ?>
							<?php foreach ($publicationsTopNow as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $section->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getAuthor() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>

					<div class="tabs__content">
						<?php if (count($publicationsTopWeek) > 0) : ?>
							<?php foreach ($publicationsTopWeek as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $section->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getAuthor() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>

					<div class="tabs__content">
						<?php if (count($publicationsTopMonth) > 0) : ?>
							<?php foreach ($publicationsTopMonth as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $section->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getAuthor() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>
				</div>
			</div>
			<!--
			<div class="border-block border-top-off show_more__block">
				<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="#">
					<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
				</a>
			</div>
			-->
		</div>
	</div>
</div>


