<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
	<title><?= e($tag->getMetaTitle() ?: $tag->getHeader()) ?></title>

	<?php if ($tag->getMetaKeywords()) : ?>
		<meta name="keywords" content="<?= e($tag->getMetaKeywords()) ?>" />
	<?php endif; ?>

	<?php if ($tag->getMetaDescription()) : ?>
		<meta name="description" content="<?= e($tag->getMetaDescription()) ?>" />
	<?php endif; ?>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<?php $this->stop() ?>

<div class="container">
	<h1><?= e($tag->getHeader()) ?></h1>
	<p>Дата создания тега: <?= $tag->getCreatedAt()->format('F j, Y') ?></p>
	<p>Дата последнего обновления тега: <?= $tag->getUpdatedAt()->format('F j, Y') ?></p>
	<p><a href="/tags/">Backward to tags list</a></p>
	<div><?= $tag->getSnippetableContent() ?></div>
	<hr>

	<?php if ($publications->count() > 0) : ?>
		<?php foreach ($publications as $publication) : ?>
			<div>
				<a href="<?= $publication->getUri() ?>">
					<h2><?= $publication->getHeader() ?></h2>
				</a>
				<?php if ($publication->getSection()) : ?>
					<a href="<?= $publication->getSection()->getUri() ?>">
						<h4><?= $publication->getSection()->getHeader() ?></h4>
					</a>
				<?php endif; ?>
				<p>Hotable: <?= $publication->isHot() ? 'Yes' : 'Oh no!' ?></p>
				<?php if ($publication->getPicture()) : ?>
					<p><a href="/upload/<?= $publication->getPicture() ?>" target="_blank">
						<img src="/upload/100x100/<?= $publication->getPicture() ?>" />
					</a></p>
					<?php if ($publication->getPictureSignature()) : ?>
						<p>Signature to picture: <?= $publication->getPictureSignature() ?></p>
					<?php endif; ?>
				<?php endif; ?>
				<div><?= $publication->getSnippetableAnons() ?></div>
				<p>Created at: <?= $publication->getCreatedAt()->format('F j, Y H:i:s') ?></p>
				<p>Last updated at: <?= $publication->getUpdatedAt()->format('F j, Y H:i:s') ?></p>
				<p>Unique hits of publication: <?= $publication->getHits() ?></p>
			</div>
			<hr>
		<?php endforeach; ?>

		<?php if ($publications->haveToPaginate()) : ?>
			<ul class="pagination">
				<?php foreach ($publications->getLinks() as $page) : ?>
					<?php if ($publications->getPage() === $page) : ?>
						<li class="active">
							<span><?= $page ?></span>
						</li>
					<?php else : ?>
						<li>
							<a href="<?= fenric('request')->getRoot() ?>/tags/<?= $tag->getCode() ?>/?page=<?= $page ?>"><?= $page ?></a>
						</li>
					<?php endif; ?>
				<?php endforeach; ?>
			</ul>
		<?php endif; ?>
	<?php endif; ?>
</div>