<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title><?= e(fenric('parameter::tags-document-title')) ?></title>
<meta name="description" content="<?= e(fenric('parameter::tags-document-description')) ?>" />
<meta name="keywords" content="<?= e(fenric('parameter::tags-document-keywords')) ?>" />
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<?php $this->stop() ?>

<div class="container">
	<h1>Теги</h1>

	<?php if ($tags->count() > 0) : ?>
		<?php foreach ($tags as $tag) : ?>
			<div>
				<a href="<?= $tag->getUri() ?>">
					<h3><?= e($tag->getHeader()) ?></h3>
				</a>
				<p>Создан: <?= $tag->getCreatedAt()->format('d F Y') ?></p>
				<p>Публикаций: <?= $tag->getCountPublications() ?></p>
			</div>
		<?php endforeach; ?>
	<?php endif; ?>
</div>