@font-face {
  font-family: "BwSurcoDEMO";
  src: url(/assets/fonts/BwSurcoDEMO-Light.otf);
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "BwSurcoDEMO";
  src: url(/assets/fonts/BwSurcoDEMO-Medium.otf);
  font-weight: 600;
  font-style: bold; } 
@font-face {
  font-family: "BwSurcoDEMO";
  src: url(/assets/fonts/BwSurcoDEMO-Bold.otf);
  font-weight: 900;
  font-style: bold; }
@font-face {
  font-family: "journalism";
  src: url(/assets/fonts/journalism2.ttf);
  font-weight: 500;
  font-style: bold; }
@font-face {
  font-family: "PlayfairDisplay";
  src: url(/assets/fonts/PlayfairDisplay-BoldItalic.otf);
  font-weight: 900;
  font-style: bold; }      
@font-face {
  font-family: "opinionpro";
  src: url(/assets/fonts/opinionpro-light.otf);
  font-weight: 300;
  font-style: normal; }  