* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 1 !important;
}


/**
 * global stylesheets
 */
img {
	max-width: 100%;
}


a {
	color: #51aded;
}

p {
	margin: 0;
	margin-bottom: 5px;
}
p:last-of-type {
	margin-bottom: 0;
}

small {
	font-size: 1em;
}

b {
	font-weight: bold;
}
i {
	font-style: italic;
}
s {
	text-decoration: line-through;
}
u {
	text-decoration: underline;
}

h2 {
	padding: 0px 0px 5px 0px;
	margin: 0px;
}

/**
 * Контейнер
 */
.container {
	width: 932px;
	margin-left: auto;
	margin-right: auto;
}
.container:after {
	content: "";
	display: table;
	clear: both;
}
.container-footer {
	width: 1212px;
	margin-left: auto;
	margin-right: auto;
}
.container-footer:after {
	content: "";
	display: table;
	clear: both;
}


.container-small {
	width: 660px;
	margin-left: auto;
	margin-right: auto;
}
.container-small:after {
	content: "";
	display: table;
	clear: both;
}

.wrapper {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
.wrapper:after {
	content: "";
	display: table;
	clear: both;
}

/**
 * Сетка
 *
 * <code>
 *   var column = 1;
 *   var gridSize= 12;
 *   
 *   for (; column <= gridSize; column++)
 *   {
 *     console.log("\n.grid .column-" + column + " {\n\twidth: " + parseFloat(column / gridSize * 100).toFixed(5) + "%;\n}");
 *   }
 * </code>
 */
.grid {
	margin-left: -10px;
	margin-right: -10px;
}
.grid:after {
	content: "";
	display: table;
	clear: both;
}

.grid .column-1,
.grid .column-2,
.grid .column-3,
.grid .column-4,
.grid .column-5,
.grid .column-6,
.grid .column-7,
.grid .column-8,
.grid .column-9,
.grid .column-10,
.grid .column-11,
.grid .column-12 {
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}

.grid.reversed .column-1,
.grid.reversed .column-2,
.grid.reversed .column-3,
.grid.reversed .column-4,
.grid.reversed .column-5,
.grid.reversed .column-6,
.grid.reversed .column-7,
.grid.reversed .column-8,
.grid.reversed .column-9,
.grid.reversed .column-10,
.grid.reversed .column-11,
.grid.reversed .column-12 {
	float: right;
}

.grid .column-1 {
	width: 8.33333%;
}
.grid .column-2 {
	width: 16.66667%;
}
.grid .column-3 {
	width: 25.00000%;
}
.grid .column-4 {
	width: 33.33333%;
}
.grid .column-5 {
	width: 41.66667%;
}
.grid .column-6 {
	width: 50.00000%;
}
.grid .column-7 {
	width: 58.33333%;
}
.grid .column-8 {
	width: 66.66667%;
}
.grid .column-9 {
	width: 75.00000%;
}
.grid .column-10 {
	width: 83.33333%;
}
.grid .column-11 {
	width: 91.66667%;
}
.grid .column-12 {
	width: 100.00000%;
}

@media all and ( max-width: 1200px ) {
	.grid .column-1,
	.grid .column-2,
	.grid .column-3,
	.grid .column-4,
	.grid .column-5,
	.grid .column-6,
	.grid .column-7,
	.grid .column-8,
	.grid .column-9,
	.grid .column-10,
	.grid .column-11,
	.grid .column-12 {
		
	}
}

@media screen and (min-width:480px) and (max-width:1000px) {
	
}

@media screen and (min-width:1000px) and (max-width:2000px) {
		
}

.float-left {
	float: left !important;
}
.float-right {
	float: right !important;
}

.float-none {
	float: none !important;
}

.float-center {
	float: inherit !important;
    margin: 0 auto !important;
}

.float-clear {
	clear: both;
}
.floats-clear:after {
	content: "";
	display: table;
	clear: both;
}

/**
 * Текст
 */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-strikeout {
	text-decoration: line-through;
}
.text-underline {
	text-decoration: underline;
}
.text-indent {
	text-indent: 15px;
}
.text-capitalize {
	text-transform: capitalize;
}
.text-lowercase {
	text-transform: lowercase;
}
.text-uppercase {
	text-transform: uppercase;
}
.text-capitalize {
	text-transform: capitalize;
}
.text-xxx-small {
	font-size: 0.2em;
}
.text-xx-small {
	font-size: 0.4em;
}
.text-x-small {
	font-size: 0.6em;
}
.text-small_s {
	font-size: 0.7em !important;
}
.text-small {
	font-size: 0.8em !important;
}
.text-small_m {
	font-size: 0.9em;
}
.text-medium {
	font-size: 1em !important;
}
.text-large {
	font-size: 1.2em !important;
}
.text-x-large {
	font-size: 1.4em !important;
}
.text-xx-large {
	font-size: 1.6em;
}
.text-xxx-large {
	font-size: 1.8em;
}
.text-xxxx-large {
	font-size: 2.4em;
}
.text-xxxxx-large {
	font-size: 2.8em;
}
.text-xxxxxx-large {
	font-size: 3.2em;
}
.text-italic {
	font-style: italic;
}
.text-oblique {
	font-style: oblique;
}
.text-capital {
	font-variant: small-caps;
}
.text-bold {
	font-weight: bold;
}
.text-normal {
	font-weight: normal;
}
.text-blue {
	color: #51aded !important;
}
.text-blue_dark {
	color: #3d5366 !important;
}
.text-green {
	color: #61a53b !important;
}
.text-orange {
	color: #f8ac37 !important;
}
.text-red {
	color: #ed5153 !important;
}
.text-mark {
	color: #a8aeb1 !important;
}
.text-white {
	color: #ffffff !important;
}

.text-black {
	color: #000 !important;
} 
.text-gray {
	color: #8e9093 !important;
} 



/**
 * Ширина в процентном соотношении
 *
 * <code>
 *
 *   console.clear();
 *
 *   var dump = '';
 *
 *   for (var width = 1; width <= 100; width++)
 *   {
 * 	   dump += "\n.width-" + width + "p {width: " + width + "%;}";
 *   }
 *
 *   console.log(dump);
 *
 * </code>
 */
.width-1p {width: 1%;}
.width-2p {width: 2%;}
.width-3p {width: 3%;}
.width-4p {width: 4%;}
.width-5p {width: 5%;}
.width-6p {width: 6%;}
.width-7p {width: 7%;}
.width-8p {width: 8%;}
.width-9p {width: 9%;}
.width-10p {width: 10%;}
.width-11p {width: 11%;}
.width-12p {width: 12%;}
.width-13p {width: 13%;}
.width-14p {width: 14%;}
.width-15p {width: 15%;}
.width-16p {width: 16%;}
.width-17p {width: 17%;}
.width-18p {width: 18%;}
.width-19p {width: 19%;}
.width-20p {width: 20%;}
.width-21p {width: 21%;}
.width-22p {width: 22%;}
.width-23p {width: 23%;}
.width-24p {width: 24%;}
.width-25p {width: 25%;}
.width-26p {width: 26%;}
.width-27p {width: 27%;}
.width-28p {width: 28%;}
.width-29p {width: 29%;}
.width-30p {width: 30%;}
.width-31p {width: 31%;}
.width-32p {width: 32%;}
.width-33p {width: 33%;}
.width-34p {width: 34%;}
.width-35p {width: 35%;}
.width-36p {width: 36%;}
.width-37p {width: 37%;}
.width-38p {width: 38%;}
.width-39p {width: 39%;}
.width-40p {width: 40%;}
.width-41p {width: 41%;}
.width-42p {width: 42%;}
.width-43p {width: 43%;}
.width-44p {width: 44%;}
.width-45p {width: 45%;}
.width-46p {width: 46%;}
.width-47p {width: 47%;}
.width-48p {width: 48%;}
.width-49p {width: 49%;}
.width-50p {width: 50%;}
.width-51p {width: 51%;}
.width-52p {width: 52%;}
.width-53p {width: 53%;}
.width-54p {width: 54%;}
.width-55p {width: 55%;}
.width-56p {width: 56%;}
.width-57p {width: 57%;}
.width-58p {width: 58%;}
.width-59p {width: 59%;}
.width-60p {width: 60%;}
.width-61p {width: 61%;}
.width-62p {width: 62%;}
.width-63p {width: 63%;}
.width-64p {width: 64%;}
.width-65p {width: 65%;}
.width-66p {width: 66%;}
.width-67p {width: 67%;}
.width-68p {width: 68%;}
.width-69p {width: 69%;}
.width-70p {width: 70%;}
.width-71p {width: 71%;}
.width-72p {width: 72%;}
.width-73p {width: 73%;}
.width-74p {width: 74%;}
.width-75p {width: 75%;}
.width-76p {width: 76%;}
.width-77p {width: 77%;}
.width-78p {width: 78%;}
.width-79p {width: 79%;}
.width-80p {width: 80%;}
.width-81p {width: 81%;}
.width-82p {width: 82%;}
.width-83p {width: 83%;}
.width-84p {width: 84%;}
.width-85p {width: 85%;}
.width-86p {width: 86%;}
.width-87p {width: 87%;}
.width-88p {width: 88%;}
.width-89p {width: 89%;}
.width-90p {width: 90%;}
.width-91p {width: 91%;}
.width-92p {width: 92%;}
.width-93p {width: 93%;}
.width-94p {width: 94%;}
.width-95p {width: 95%;}
.width-96p {width: 96%;}
.width-97p {width: 97%;}
.width-98p {width: 98%;}
.width-99p {width: 99%;}
.width-100p {width: 100%;}


/**
 * Высота в процентном соотношении
 *
 * <code>
 *
 *   console.clear();
 *
 *   var dump = '';
 *
 *   for (var height = 1; height <= 100; height++)
 *   {
 * 	   dump += "\n.height-" + height + "p {height: " + height + "%;}";
 *   }
 *
 *   console.log(dump);
 *
 * </code>
 */
.height-1p {height: 1%;}
.height-2p {height: 2%;}
.height-3p {height: 3%;}
.height-4p {height: 4%;}
.height-5p {height: 5%;}
.height-6p {height: 6%;}
.height-7p {height: 7%;}
.height-8p {height: 8%;}
.height-9p {height: 9%;}
.height-10p {height: 10%;}
.height-11p {height: 11%;}
.height-12p {height: 12%;}
.height-13p {height: 13%;}
.height-14p {height: 14%;}
.height-15p {height: 15%;}
.height-16p {height: 16%;}
.height-17p {height: 17%;}
.height-18p {height: 18%;}
.height-19p {height: 19%;}
.height-20p {height: 20%;}
.height-21p {height: 21%;}
.height-22p {height: 22%;}
.height-23p {height: 23%;}
.height-24p {height: 24%;}
.height-25p {height: 25%;}
.height-26p {height: 26%;}
.height-27p {height: 27%;}
.height-28p {height: 28%;}
.height-29p {height: 29%;}
.height-30p {height: 30%;}
.height-31p {height: 31%;}
.height-32p {height: 32%;}
.height-33p {height: 33%;}
.height-34p {height: 34%;}
.height-35p {height: 35%;}
.height-36p {height: 36%;}
.height-37p {height: 37%;}
.height-38p {height: 38%;}
.height-39p {height: 39%;}
.height-40p {height: 40%;}
.height-41p {height: 41%;}
.height-42p {height: 42%;}
.height-43p {height: 43%;}
.height-44p {height: 44%;}
.height-45p {height: 45%;}
.height-46p {height: 46%;}
.height-47p {height: 47%;}
.height-48p {height: 48%;}
.height-49p {height: 49%;}
.height-50p {height: 50%;}
.height-51p {height: 51%;}
.height-52p {height: 52%;}
.height-53p {height: 53%;}
.height-54p {height: 54%;}
.height-55p {height: 55%;}
.height-56p {height: 56%;}
.height-57p {height: 57%;}
.height-58p {height: 58%;}
.height-59p {height: 59%;}
.height-60p {height: 60%;}
.height-61p {height: 61%;}
.height-62p {height: 62%;}
.height-63p {height: 63%;}
.height-64p {height: 64%;}
.height-65p {height: 65%;}
.height-66p {height: 66%;}
.height-67p {height: 67%;}
.height-68p {height: 68%;}
.height-69p {height: 69%;}
.height-70p {height: 70%;}
.height-71p {height: 71%;}
.height-72p {height: 72%;}
.height-73p {height: 73%;}
.height-74p {height: 74%;}
.height-75p {height: 75%;}
.height-76p {height: 76%;}
.height-77p {height: 77%;}
.height-78p {height: 78%;}
.height-79p {height: 79%;}
.height-80p {height: 80%;}
.height-81p {height: 81%;}
.height-82p {height: 82%;}
.height-83p {height: 83%;}
.height-84p {height: 84%;}
.height-85p {height: 85%;}
.height-86p {height: 86%;}
.height-87p {height: 87%;}
.height-88p {height: 88%;}
.height-89p {height: 89%;}
.height-90p {height: 90%;}
.height-91p {height: 91%;}
.height-92p {height: 92%;}
.height-93p {height: 93%;}
.height-94p {height: 94%;}
.height-95p {height: 95%;}
.height-96p {height: 96%;}
.height-97p {height: 97%;}
.height-98p {height: 98%;}
.height-99p {height: 99%;}
.height-100p {height: 100%;}

/**
 * Позиционирование
 *
 * <code>
 *   console.clear();
 *   
 *   var side = 'bottom';
 *   var kick = 1;
 *   var count = 10;
 *   var multiple = 5;
 *   var force;
 *   
 *   for (; kick <= count; kick++) {
 *     force = kick * multiple;
 *     console.log("\n.kick-" + side + "-" + force + " {\n\tmargin-" + side + ": " + force + "px;\n}\n");
 *   }
 * </code>
 */
.kick-off {
	margin: 0;
}

.kick-center {
	margin-left: auto !important;
	margin-right: auto !important;
}

.kick-5 {
	margin: 5px;
}
.kick-10 {
	margin: 10px;
}
.kick-15 {
	margin: 15px;
}
.kick-20 {
	margin: 20px;
}
.kick-25 {
	margin: 25px;
}
.kick-30 {
	margin: 30px;
}
.kick-35 {
	margin: 35px;
}
.kick-40 {
	margin: 40px;
}
.kick-45 {
	margin: 45px;
}
.kick-50 {
	margin: 50px;
}

.kick-top-1 {
	margin-top: 1px;
}
.kick-top-2 {
	margin-top: 2px;
}
.kick-top-3 {
	margin-top: 3px;
}
.kick-top-4 {
	margin-top: 4px;
}
.kick-top-5 {
	margin-top: 5px;
}
.kick-top-10 {
	margin-top: 10px;
}
.kick-top-15 {
	margin-top: 15px;
}
.kick-top-20 {
	margin-top: 20px;
}
.kick-top-24 {
	margin-top: 24px;
}
.kick-top-25 {
	margin-top: 25px;
}
.kick-top-30 {
	margin-top: 30px;
}
.kick-top-35 {
	margin-top: 35px;
}
.kick-top-40 {
	margin-top: 40px;
}
.kick-top-45 {
	margin-top: 45px;
}
.kick-top-50 {
	margin-top: 50px;
}
.kick-top-55 {
	margin-top: 55px;
}
.kick-top-65 {
	margin-top: 65px;
}

.kick-top-60 {
	margin-top: 60px;
}

.kick-top-70 {
	margin-top: 70px;
}

.kick-top-80 {
	margin-top: 80px;
}

.kick-top-90 {
	margin-top: 90px;
}

.kick-top-100 {
	margin-top: 100px;
}

.kick-left-5 {
	margin-left: 5px;
}
.kick-left-10 {
	margin-left: 10px;
}
.kick-left-15 {
	margin-left: 15px;
}
.kick-left-20 {
	margin-left: 20px;
}
.kick-left-25 {
	margin-left: 25px;
}
.kick-left-30 {
	margin-left: 30px;
}
.kick-left-35 {
	margin-left: 35px;
}
.kick-left-40 {
	margin-left: 40px;
}
.kick-left-45 {
	margin-left: 45px;
}
.kick-left-50 {
	margin-left: 50px;
}

.kick-right-5 {
	margin-right: 5px;
}
.kick-right-8 {
	margin-right: 8px;
}
.kick-right-10 {
	margin-right: 10px;
}
.kick-right-15 {
	margin-right: 15px;
}
.kick-right-20 {
	margin-right: 20px;
}
.kick-right-25 {
	margin-right: 25px;
}
.kick-right-30 {
	margin-right: 30px;
}
.kick-right-35 {
	margin-right: 35px;
}
.kick-right-40 {
	margin-right: 40px;
}
.kick-right-45 {
	margin-right: 45px;
}
.kick-right-50 {
	margin-right: 50px;
}
.kick-right-60 {
	margin-right: 60px;
}

.kick-bottom-5 {
	margin-bottom: 5px;
}
.kick-bottom-10 {
	margin-bottom: 10px !important;
}
.kick-bottom-15 {
	margin-bottom: 15px;
}
.kick-bottom-20 {
	margin-bottom: 20px;
}
.kick-bottom-25 {
	margin-bottom: 25px;
}
.kick-bottom-30 {
	margin-bottom: 30px;
}
.kick-bottom-35 {
	margin-bottom: 35px;
}
.kick-bottom-40 {
	margin-bottom: 40px;
}
.kick-bottom-45 {
	margin-bottom: 45px;
}
.kick-bottom-50 {
	margin-bottom: 50px;
}

.kick-bottom-60 {
	margin-bottom: 60px;
}

/**
 * Отступы
 *
 * <code>
 *   @see .kick-bottom-*
 * </code>
 */
.fat-off {
	padding: 0 !important;
}

.fat-2 {
	padding: 2px;
}
.fat-5 {
	padding: 5px;
}
.fat-9-5 {
	padding: 9.5px;
}
.fat-10 {
	padding: 10px;
}
.fat-15 {
	padding: 15px;
}
.fat-20 {
	padding: 20px;
}
.fat-25 {
	padding: 25px;
}
.fat-30 {
	padding: 30px;
}
.fat-35 {
	padding: 35px;
}
.fat-40 {
	padding: 40px;
}
.fat-45 {
	padding: 45px;
}
.fat-50 {
	padding: 50px;
}

.fat-top-5 {
	padding-top: 5px;
}
.fat-top-10 {
	padding-top: 10px;
}
.fat-top-15 {
	padding-top: 15px;
}
.fat-top-20 {
	padding-top: 20px;
}
.fat-top-25 {
	padding-top: 25px;
}
.fat-top-30 {
	padding-top: 30px;
}
.fat-top-35 {
	padding-top: 35px;
}
.fat-top-40 {
	padding-top: 40px;
}
.fat-top-45 {
	padding-top: 45px;
}
.fat-top-50 {
	padding-top: 50px;
}


.fat-left-0 {
	padding-left: 0px !important;
}

.fat-left-5 {
	padding-left: 5px;
}
.fat-left-10 {
	padding-left: 10px;
}
.fat-left-15 {
	padding-left: 15px;
}
.fat-left-20 {
	padding-left: 20px;
}
.fat-left-25 {
	padding-left: 25px;
}
.fat-left-30 {
	padding-left: 30px;
}
.fat-left-35 {
	padding-left: 35px;
}
.fat-left-40 {
	padding-left: 40px;
}
.fat-left-45 {
	padding-left: 45px;
}
.fat-left-50 {
	padding-left: 50px;
}
.fat-left-55 {
	padding-left: 55px;
}

.fat-right-0 {
	padding-right: 0px !important;
}
.fat-right-5 {
	padding-right: 5px;
}
.fat-right-10 {
	padding-right: 10px !important;
}
.fat-right-15 {
	padding-right: 15px !important;
}
.fat-right-20 {
	padding-right: 20px;
}
.fat-right-25 {
	padding-right: 25px;
}
.fat-right-30 {
	padding-right: 30px;
}
.fat-right-35 {
	padding-right: 35px !important;
}
.fat-right-40 {
	padding-right: 40px;
}
.fat-right-45 {
	padding-right: 45px;
}
.fat-right-50 {
	padding-right: 50px;
}

.fat-bottom-5 {
	padding-bottom: 5px;
}
.fat-bottom-10 {
	padding-bottom: 10px;
}
.fat-bottom-15 {
	padding-bottom: 15px;
}
.fat-bottom-20 {
	padding-bottom: 20px;
}
.fat-bottom-25 {
	padding-bottom: 25px;
}
.fat-bottom-30 {
	padding-bottom: 30px;
}
.fat-bottom-33 {
    padding-bottom: 33px;
}
.fat-bottom-35 {
	padding-bottom: 35px;
}
.fat-bottom-40 {
	padding-bottom: 40px;
}
.fat-bottom-45 {
	padding-bottom: 45px;
}
.fat-bottom-50 {
	padding-bottom: 50px;
}
.fat-bottom-55 {
	padding-bottom: 55px !important;
}


/*
	search
*/	

.search {
  position: relative;
}

.search input {
  /* отключаем бордюры у инпутов */
  border: none;
}

/* стили для поля ввода */
.search .input {
  /* растягиваем поле ввода на всю ширину формы */
  width: 100%;

  /* за счет верхнего (8px) и нижнего (9px) внутренних отступов
  ** регулируем высоту формы
  ** внутренний отступ справа (37px) делаем больше левого,
  ** т.к. там будет размещена кнопка отправки	*/

  /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
  -moz-box-sizing: border-box;
  box-sizing: border-box;



  /* закругляем углы */

  outline: none;
}

/* меняем оформление поля ввода при фокусе */
.search .input:focus {

  color: #333;
}

/* оформляем кнопку отправки */
.search .submit {
  /* позиционируем кнопку абсолютно от правого края формы */
  position: absolute;
  top: 0;
  right: 0;

  width: 37px;

  /* растягиваем кнопку на всю высоту формы */
  height: 100%;

  cursor: pointer;
  background: url(../images/search.png) 50% no-repeat;
  background-size: 60%;
  /* добавляем прозрачность кнопке отправки */
  opacity: 0.5;
}

/* при наведении курсора меняем прозрачность кнопки отправки */
.search .submit:hover {

}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {

}
.form-wrapper {

}
 
/* Стили поля ввода текста */
 
.form-wrapper input {
	font-family: "BwSurcoDEMO";
	font-style: bold;
	font-weight: 900;
	border: none;
	font-size: 20px;
	outline: 0;

}
 
.form-wrapper input:focus {

}
 
.form-wrapper input::-webkit-input-placeholder {
   color: #bfbcbc;

}
 
.form-wrapper input:-moz-placeholder {
    color: #bfbcbc;

}
 
.form-wrapper input:-ms-input-placeholder {
    color: #bfbcbc;

}    
 
/* Кнопка отправки формы */
.form-wrapper button {
	border: none;
    background: transparent;
    float: left;
    cursor: pointer;
    margin-right: 15px;
}   
   
.form-wrapper button:hover{     

}   
   
.form-wrapper button:active,
.form-wrapper button:focus{   

}
 
.form-wrapper button:before { /* стрелка влево */

}
 
.form-wrapper button:hover:before{

}
 
.form-wrapper button:focus:before,
.form-wrapper button:active:before{

}      
 
.form-wrapper button::-moz-focus-inner { /* Удаляем дополнительное пространство рядом с кнопкой в Mozilla Firefox */
    border: 0;
    padding: 0;
}    

/*
 	 buttons 
*/

.buttons:after {
	content: "";
	display: table;
	clear: both;
}
.buttons .button {
	float: left;
	margin-left: -1px;
}
.buttons .button:first-child {
	margin-left: 0;
}

.button {
	cursor: pointer;
	display: inline-block;
	height: 28px;
	padding: 4px 12px;
	border: 1px solid transparent;
	text-align: center;
	font-family: "opinionpro";
	text-transform: uppercase;
	font-size: 1.2em;
}

.button,
.button.invert:hover,
.button.invert.active,
.button.invert.checked,
.buttons.invert .button:hover,
.buttons.invert .button.active,
.buttons.invert .button.checked {
	color: #ffffff;
	background-color: #a4a3a3;
	padding: 0px 0px !important;
	height: 18px !important;
}
.button.invert,
.buttons.invert .button {
	color: #536270;
	background-color: #ffffff;
	font-size: 1em !important;
}
.button.blue.invert,
.buttons.blue.invert .button {
	color: #222;
	background-color: #ffffff;
}
.button.small,
.buttons.small .button {
	height: 26px;
	padding: 4px 8px;
	font-size: 1em;
}
.button.large,
.buttons.large .button {
	height: 30px !important;
	padding: 9px 12px !important;
	font-size: 0.8em !important;
}

.button.blue,
.button.blue.invert:hover,
.button.blue.invert.active,
.button.blue.invert.checked,
.buttons.blue .button,
.buttons.blue.invert .button:hover,
.buttons.blue.invert .button.active,
.buttons.blue.invert .button.checked {
	color: #ffffff;
	border-color: #3d5366;
	background-color: #3d5366;
}
.button.purple,
.button.purple.invert:hover,
.button.purple.invert.active,
.button.purple.invert.checked,
.buttons.purple .button,
.buttons.purple.invert .button:hover,
.buttons.purple.invert .button.active,
.buttons.purple.invert .button.checked {
	color: #ffffff;
	border-color: #9636a7;
	background-color: #9636a7;
}
.full-width {
	width: 100%;
}
label.button input[type="radio"],
label.button input[type="checkbox"] {
	display: none;
}

/**
 * form-input
 */
input.form-input,
select.form-select,
textarea.form-textarea {
	cursor: default;
	display: inline-block;
	width: 100%;
	padding: 6px 12px;
	border: 1px solid #bababa;
	background-color: #ffffff;
	color: #536270;
	resize: none;
}
input.form-input.small,
select.form-select.small,
textarea.form-textarea.small {
	padding: 4px 8px;
	font-size: 0.8em;
}
input.form-input.large,
select.form-select.large,
textarea.form-textarea.large {
	padding: 8px 16px;
	font-size: 1.2em;
}
input.form-input:focus,
select.form-select:focus,
textarea.form-textarea:focus {
	border-color: #0078b2;
}
form.form.success input,
form.form.success select,
form.form.success textarea,
input.form-input.success,
select.form-select.success,
textarea.form-textarea.success {
	color: #61a53b;
	border-color: #61a53b;
}
form.form.warning input,
form.form.warning select,
form.form.warning textarea,
input.form-input.warning,
select.form-select.warning,
textarea.form-textarea.warning {
	color: #f8ac37;
	border-color: #f8ac37;
}
form.form.error input,
form.form.error select,
form.form.error textarea,
input.form-input.error,
select.form-select.error,
textarea.form-textarea.error {
	color: #ed5153;
	border-color: #ed5153;
}
input.form-input,
select.form-select {
	height: 34px;
}
input.form-input.small,
select.form-select.small {
	height: 20px;
}
input.form-input.large,
select.form-select.large {
	height: 42px;
}

/*
 	header 
*/
.menu {
	width: 932px;
	margin-left: auto;
	margin-right: auto;
}
.header-menu {
	border-bottom: 1px solid #898989;
}
.header-menu ul {
	margin: 0em;
    padding: 0em;
    list-style: none;
    display: table;
    width: 100%;
}    
.header-menu li {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #898989;
}
.header-menu li:first-child {
	border-left: 1px solid #898989;
} 
.header-menu li a {
	text-decoration: none;
	color: #222;
	text-transform: uppercase;
	font-size: 16px;
    display: block;
    padding: 3px 0px;
	font-family: "opinionpro";
} 
.fixed {
	z-index: 9999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 932px;
    background: #ffffff;
}
.panel--nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.search-form {
    height: -webkit-calc(100vh - 61px);
    height: calc(100vh - 61px);
    position: relative;
}
.search-form-component .search--submit {
    position: absolute;
    right: 0;
    visibility: hidden;
}
.search-form_center {
    position: absolute;
    top: -webkit-calc(50% - 61px);
    top: calc(50% - 61px);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
}
.search-form-component .search--input {
    color: #000;
    font-size: 80px;
    line-height: 80px;
    font-family: "BwSurcoDEMO";
	font-style: bold;
	font-weight: 900;
    background-color: transparent;
    border: 0;
    position: absolute;
    text-align: center;
    top: -15px;
    width: 100%;
    z-index: 1;
}
.search--input::-webkit-input-placeholder {color:#bfbcbc;}
.search--input::-moz-placeholder          {color:#bfbcbc;}/* Firefox 19+ */
.search--input:-moz-placeholder           {color:#bfbcbc;}/* Firefox 18- */
.search--input:-ms-input-placeholder      {color:#bfbcbc;}
.hidden-elem ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
    width: 100%;
    display: table;
}
.hidden-elem li {
	display: table-cell;
    text-align: center;
    border-right: 1px solid #898989;
    height: 150px;
}
.hidden-elem li:last-child {
	border-right: none;
} 
.hidden-elem li:nth-child(1) {
	background: #36a767;
}
.hidden-elem li:nth-child(2) {
	background: #36a7a3;
}
.hidden-elem li:nth-child(3) {
	background: #a73640;
}
.hidden-elem li:nth-child(4) {
	background: #365ea7;
}
.hidden-elem li:nth-child(5) {
	background: #6e36a7;
}
.hidden-elem li:nth-child(6) {
	background: #d2710a;
}
.hidden-elem li:nth-child(7) {
	background: #3cb344;
}
.hidden-elem li:nth-child(8) {
	background: #e8a504;
}
.hidden-elem li a {
	text-decoration: none;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
    display: block;
    padding-top: 20px;
	font-family: "opinionpro";
}  
/* 
	контент
*/
.	
.position-relative {
	position: relative;
}
.position-absolute {
	position: absolute;
}
.sticky {
  position: fixed;
  z-index: 101;
}
.stop {
  position: relative;
  z-index: 101;
}
.max-height-340 {
	height: 360px;
}
.max-height-360 {
	height: 380px;
}
.max-height-173 {
	height: 182px;
}
.share-social {
	width: 140px;
	position: absolute;
	left: -270px;
}
.ya-share2 li {
	display: block !important;
	padding: 10px;
}
.ya-share2__container_size_m .ya-share2__icon {
    height: 45px !important;
    width: 45px !important;
    background-size: 45px 45px !important;
}
.ya-share2__badge {
	border-radius: 0px !important;
}
.ya-share2__list_direction_horizontal > .ya-share2__item > .ya-share2__link > .ya-share2__title {
    display: inherit !important;
    position: relative;
    top: -15px;
}
.opinionpro-light {
	font-family: opinionpro !important;
	font-weight: 300;
 	font-style: normal;
}
.playfairdisplay {
	font-family: PlayfairDisplay !important;
	font-weight: 900;
 	font-style: bold; 
}
.journalism {
	font-family: journalism !important;
	font-weight: 500;
  	font-style: bold; 
}
.bwsurcodemo-bold {
	font-family: BwSurcoDEMO !important;
	font-weight: 900;
	font-style: bold;
}
.bwsurcodemo-medium {
	font-family: BwSurcoDEMO !important;
	font-weight: 600;
	font-style: bold;
}
.bwsurcodemo-light {
	font-family: BwSurcoDEMO !important;
	font-weight: 400;
  	font-style: normal;
}
.container a {
	text-decoration: none;
	color: #000000;
}
.border-block {
	border: 1px solid #d1d1d1 !important;
}
.border-block_bottom__gray {
	border-bottom: 1px solid #898989 !important;
}
.border-block_right__gray {
	border-right: 1px solid #898989 !important;
}
.border-block_left__gray {
	border-left: 1px solid #898989 !important;
}
.border-block_top__black {
	border-top: 5px solid #000000 !important;
}
.border-block_top__black10 {
	border-top: 10px solid #000000 !important;
}
.border-grey_3 {
	border: 3px solid #898989 !important;
}
.border-top-off {
	border-top: none !important;
}
.border-bottom-off {
	border-bottom: none !important;
}
.border-right-off {
	border-right: none !important;
}
.border-left-off {
	border-left: none !important;
}
.border-top_gray {
	border-top: 1px solid #898989;
}
.border-top_gray__light {
	border-top: 1px solid #d1d1d1 !important;
}
.border-bottom_gray {
	border-bottom: 1px solid #898989;
}
.block-hover:hover {
    -webkit-box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16), 2px 0 2px 0 rgba(0,0,0,0.16), 0 2px 2px 0 rgba(0,0,0,0.23);
    box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16), 2px 0 2px 0 rgba(0,0,0,0.16), 0 2px 2px 0 rgba(0,0,0,0.23);
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
    transition: 0.2s;
}
.block-hover:hover p,
.block-hover_p:hover p{
	opacity: 0.7;
}
.h-360 {
	height: 360px;
}
.show_more {
	position: relative;
	top:-7px;
}
.display-block {
	display: block;
}
.display-none {
	display: none;
}
.display-none-important {
	display: none !important;
}
.show_more__block:hover {
	background: #888787;
	transition: 1s ease;
}
.show_more__block:hover a {
	color: #ffffff;
	transition: 1s ease;
}
.h-540_overflow {
	overflow: scroll;
	height: 540px;
}
.h-505_overflow {
	overflow: scroll;
	height: 505px;
}
.list__content .list__content-item {
	border-left: 1px solid #d1d1d1;
	border-right: 1px solid #d1d1d1;
	border-bottom: 1px solid #898989;
}
.footer-list-link {
	padding: 0px;
	margin: 0px;
}
.footer-list-link li{
	display: inline;
	list-style: none;
}
.footer-list-link li a {
	font-family: "opinionpro";
	font-size: 16px;
	text-transform: uppercase;
	padding: 0px 5px;
	border-right: 1px solid #333;
	text-decoration: none;
	color: #333;
}
.header-list {
	margin: 0px;
	padding: 0px;
}	
.header-list li {
	float: left;
	list-style: none;
	font-family: "opinionpro";
	font-size: 14px;
	text-transform: uppercase;
}
.header-list li a {
	font-size: 16px;
}
.top-menu {
	height: 74px; 
	background: #36a767;
}
.hbpar {
	position: absolute;
	right: 10px;
	top: 30px;
}
.hbpal {
	position: absolute;
	left: 10px;
	top: 25px;
}
.hbpal-logo {
	position: absolute;
	left: 90px;
	top: 5px;
}
.header-text-center {
	text-align: center;
}
.header-logo-center {
	text-align: center;
}
.search-icon {
	margin-top: -5px;
}
.article-text p {
	margin-bottom: 15px !important;
}
.quote {
	border-right: 10px solid #000;
    max-width: 400px;
    clear: left;
    float: left;
    margin: 0px 15px 0px -130px;
    padding-right: 5px; 
    font-family: BwSurcoDEMO !important;
	font-weight: 900;
	font-size: 18px;
}
.quote p {
	margin-bottom: 0px !important;
}
.tags {
	padding: 10px 0px;
	border-top: 1px solid #898989;
	border-bottom: 1px solid #898989;
}
.tags ul {
	padding: 0px;
	margin: 0px;
}
.tags li {
	list-style: none;
	float: left;
	color: #222;
	margin-right: 5px;
	font-family: "opinionpro";
	font-size: 12px;
	text-transform: uppercase;
}
.tags li:last-child {
	margin-right: 0px;
}
.tags li a {
	color: #222;
}
.border-ruble-2 {
	border:2px solid #333;
	border-radius: 50%;
	padding: 2px;
}
.border-ruble-1 {
	border:1px solid #333;
	border-radius: 50%;
	padding: 5px;
}
.line-height-15 {
	line-height: 15px;
}
.p-2 p {
	margin-bottom: 2px !important;
}
.fill-white {
	background: #ffffff;
}
.project-list .project-list_item {
	margin-bottom: 30px;
}
.project-list .project-list_item:last-child {
	margin-bottom: 0px;
}
.projects-list .projects-list_item {
	margin-bottom: 25px;
}
.projects-list .projects-list_item:last-child {
	margin-bottom: 0px;
}
/** 
	scrollbar
**/	
.scroll::-webkit-scrollbar-track
{
	background-color: #ffffff;
}

.scroll::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

.scroll::-webkit-scrollbar-thumb
{
	background-color: #d0caca;
}
.scroll {
	overflow-x:hidden;
}

/**
	opros
**/
.position-r {
	position: relative;
}

.poll h5 {
	font-family: BwSurcoDEMO !important;
    font-weight: 600;
    font-size: 16px;
    margin: 0px 0px 20px 0px;
}
.poll .mb-1 small {
	font-family: "opinionpro";
	font-weight: 300;
	font-size: 18px;
	text-transform: uppercase;
	cursor: pointer;
}
.poll .mb-1 {
	margin-bottom: 5px;
}
.poll .mb-1:last-child {
	margin-bottom: 0px;
}	
.mb-2 {
	margin-bottom: 20px;
}
.progress-bar-striped {
	background: #5dcec3;
	text-align: right;
	color: #000;
	font-family: "opinionpro";
}
.text-muted small{
	font-family: "opinionpro";
	text-transform: uppercase;
}
/*

			 Крохи

 */

.breadcrumbs {
	padding: 0px;
}

.breadcrumbs ul {
	padding: 0px;
	margin: 0px;
}

.breadcrumbs li {
	list-style: none;
	float: left;
	color: #222;
	margin-right: 5px;
	font-family: "opinionpro";
	font-size: 12px;
}

.breadcrumbs li a {
	color: #222;
}



/* 
	Вкладки
*/	
.tabs-commercial ul li:nth-child(1) {
	border-left: 1px solid #d1d1d1 !important;
}
.tabs-commercial ul li:last-child {
	border-right: 1px solid #d1d1d1 !important;
}

/* 
	Чекбоксы
*/

.d-block {
	position:relative;
	padding-left:25px;
	display: block;
}
.d-block input[type=checkbox] {
	display:none;
}
.d-block small:after {
	content:'';
	display:block;
	height:14px;
	width:14px;
	outline:1px solid #3d5366;;
	position:absolute;
	top:3px;
	left:0;
}
.d-block input[type=checkbox]:checked + small:after {
	outline:1px solid #939598;
	border:2px solid #fff;
	width:10px;
	height:10px;
	background-color:#63849F;
}


.journal-hover {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.journal-hover:hover {
   -webkit-filter: contrast(185%);
}

/**
Drop-down list
**/

.dropdown-menu {
	border-bottom: 2px solid #8e9093;
	padding-bottom: 10px;
}

.dropdown-menu ul {
  list-style: none;
  display: none;
  padding: 0px 0px 0px 0px;
  margin: 0px;
}
.dropdown-menu ul li {
	border-bottom: 1px solid #222;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.dropdown-menu ul li:first-child {
	padding-top: 5px;
}
.dropdown-menu ul li:last-child {
	border-bottom: none;
	padding-bottom: 0px;
}
.dropdown-menu ul li a:hover {
	font-weight: bold;
}
.dropdown-menu ul li a {
  display: block;
  text-decoration: none;
  color: #222;
}
.drop-title {
    cursor: pointer;
    font-weight: bold;
}
.dropdown-menu.open ul {
  display: block;
}
.nth-3n:nth-child(4n+3) {
	border-right: none;
}

/**
 * Пагинация
 */
ul.pagination {
	list-style: none;
	margin-bottom: 20px;
	margin-top: 10px;
}
.pagination li {
	display: inline-block;
	margin-right: 10px;
}
ul.pagination {
	display: inline-block;
	padding: 0;
	list-style: none;
}
ul.pagination:after {
	content: "";
	display: table;
	clear: both;
}
ul.pagination li {
	float: left;
	margin-left: -1px;
}
ul.pagination li:first-child {
	margin-left: 0;
}
ul.pagination li a,
ul.pagination li span {
	display: block;
	text-decoration: none;
	border: 0 none;
	font-family: "opinionpro";
	color: #6f6f6f;
	font-size: 0.8em;
}
ul.pagination li a:hover {
	color: #000;
}
.left-10 {
	left: 10px;
}
.left-20 {
	left: 20px;
}
.p-15 p {
	margin-bottom: 15px !important;
}
.p-15 img {
	margin: 0px 10px 10px 0px;
}
.weatherInformer22 div {
	margin: 0px !important;
}


/** 
	popup
**/	

.btn-close {
	position: absolute;
    right: -27px;
    top: 0px;
}
.modalwin { 
	height: auto;  
	width: 370px;
	top: 20%; 
	right: 0;
	left: 0; 
	margin: 0 auto;
	z-index:2; 
	display: none;  
	position: fixed; 
}
#shadow { 
	position: fixed;
	width:100%;
	height:100%;
	z-index:1; 
	background:#000;
	opacity: 0.5; 
	left:0;
	top:0;
}

/**
	media
**/

@media screen and (max-width: 768px) {
	.container {
		width: 94% !important;
	}
	.hidden-elem li {
		
	}
	.hidden-elem li p{
		font-size: 12px !important;
	}
	.hbpar {
    	position: static;
    	margin-left: 30px;
	}
	.hbpar-mobile {
    	margin-top: 25px;
	}
	.hbpal {
	    left: 10px;
	}
	.header-menu li a {
		font-size: 12px;
	}
	.header-menu {
		display: none !important;
	}
	.footer-list-link li a {
    	font-size: 12px;
	}
	.button.invert, .buttons.invert .button {
    	font-size: 0.7em !important;
	}
	.search-form-component .search--input {
		font-size: 40px;
	}
	.button, .button.invert:hover, .button.invert.active, .button.invert.checked, .buttons.invert .button:hover, .buttons.invert .button.active, .buttons.invert .button.checked {
    	height: 15px !important;
	}
	#aside1 {
		display: none;
	}
	.quote {
	    max-width: inherit;
	    margin: 0px 15px 20px 0px;
	}
	.header-text-center {
		text-align: right;
	}
	.header-logo-center {
		text-align: left;
		margin-left: 30px;
	}
	.top-menu {
		height: 112px;
	}
	.hbpal-logo {
	    left: 70px;
	}
	.max-height-340 {
		max-height: inherit;
	}
	.max-height-360 {
		max-height: inherit;
	}
	.max-height-173 {
		max-height: inherit;
	}



	.grid .column-1,
	.grid .column-2,
	.grid .column-3,
	.grid .column-4,
	.grid .column-5,
	.grid .column-6,
	.grid .column-7,
	.grid .column-8,
	.grid .column-9,
	.grid .column-10,
	.grid .column-11,
	.grid .column-12 {
		width: 100%;
	}

	.width-1p {width: 100%;}
	.width-2p {width: 100%;}
	.width-3p {width: 100%;}
	.width-4p {width: 100%;}
	.width-5p {width: 100%;}
	.width-6p {width: 100%;}
	.width-7p {width: 100%;}
	.width-8p {width: 100%;}
	.width-9p {width: 100%;}
	.width-10p {width: 100%;}
	.width-11p {width: 100%;}
	.width-12p {width: 100%;}
	.width-13p {width: 100%;}
	.width-14p {width: 100%;}
	.width-15p {width: 100%;}
	.width-16p {width: 100%;}
	.width-17p {width: 100%;}
	.width-18p {width: 100%;}
	.width-19p {width: 100%;}
	.width-20p {width: 100%;}
	.width-21p {width: 100%;}
	.width-22p {width: 100%;}
	.width-23p {width: 100%;}
	.width-24p {width: 100%;}
	.width-25p {width: 100%;}
	.width-26p {width: 100%;}
	.width-27p {width: 100%;}
	.width-28p {width: 100%;}
	.width-29p {width: 100%;}
	.width-30p {width: 100%;}
	.width-31p {width: 100%;}
	.width-32p {width: 100%;}
	.width-33p {width: 100%;}
	.width-34p {width: 100%;}
	.width-35p {width: 100%;}
	.width-36p {width: 100%;}
	.width-37p {width: 100%;}
	.width-38p {width: 100%;}
	.width-39p {width: 100%;}
	.width-40p {width: 100%;}
	.width-41p {width: 100%;}
	.width-42p {width: 100%;}
	.width-43p {width: 100%;}
	.width-44p {width: 100%;}
	.width-45p {width: 100%;}
	.width-46p {width: 100%;}
	.width-47p {width: 100%;}
	.width-48p {width: 100%;}
	.width-49p {width: 100%;}
	.width-50p {width: 100%;}
	.width-51p {width: 100%;}
	.width-52p {width: 100%;}
	.width-53p {width: 100%;}
	.width-54p {width: 100%;}
	.width-55p {width: 100%;}
	.width-56p {width: 100%;}
	.width-57p {width: 100%;}
	.width-58p {width: 100%;}
	.width-59p {width: 100%;}
	.width-60p {width: 100%;}
	.width-61p {width: 100%;}
	.width-62p {width: 100%;}
	.width-63p {width: 100%;}
	.width-64p {width: 100%;}
	.width-65p {width: 100%;}
	.width-66p {width: 100%;}
	.width-67p {width: 100%;}
	.width-68p {width: 100%;}
	.width-69p {width: 100%;}
	.width-70p {width: 100%;}
	.width-71p {width: 100%;}
	.width-72p {width: 100%;}
	.width-73p {width: 100%;}
	.width-74p {width: 100%;}
	.width-75p {width: 100%;}
	.width-76p {width: 100%;}
	.width-77p {width: 100%;}
	.width-78p {width: 100%;}
	.width-79p {width: 100%;}
	.width-80p {width: 100%;}
	.width-81p {width: 100%;}
	.width-82p {width: 100%;}
	.width-83p {width: 100%;}
	.width-84p {width: 100%;}
	.width-85p {width: 100%;}
	.width-86p {width: 100%;}
	.width-87p {width: 100%;}
	.width-88p {width: 100%;}
	.width-89p {width: 100%;}
	.width-90p {width: 100%;}
	.width-91p {width: 100%;}
	.width-92p {width: 100%;}
	.width-93p {width: 100%;}
	.width-94p {width: 100%;}
	.width-95p {width: 100%;}
	.width-96p {width: 100%;}
	.width-97p {width: 100%;}
	.width-98p {width: 100%;}
	.width-99p {width: 100%;}
	.width-100p {width: 100%;}
}	

@media screen and (max-width: 500px) {
	.currency {
		display: none;
	}
	.header-text-center {
		display: none;
	}
	.hbpar-mobile {
    	margin-top: 70px;
	}
}