/**
 * Слайдер
 */
.slides,
.slides .slide {
	position: relative;
}
.slides .slide {
	display: none;
	max-width: 100%;
}
.slides .slide:first-of-type {
	display: inherit;
}
.slides .slide.slide-background {
	display: none;
}
.slides .slide.slide-foreground {
	display: inherit;
}
.slides .to-prev,
.slides .to-next {
	z-index: 1;
	position: absolute;
	top: 50%;
	width: 51px;
	height: 50px;
	margin-top: -25px;
	background-color: transparent;
	background-image: url("//cdn.ndv72.ru/i/slider.png");
	background-repeat: no-repeat;
}
.slides a.to-prev,
.slides a.to-next {
	border-width: 0;
	text-decoration: none;
}
.slides .to-prev {
	left: 25px;
	background-position: 0 0;
}
.slides .to-next {
	right: 25px;
	background-position: 0 -50px;
}
.slides .to-prev:hover {
	background-position: -51px 0;
}
.slides .to-next:hover {
	background-position: -51px -50px;
}
.slides .to-prev:active {
	background-position: -102px 0;
}
.slides .to-next:active {
	background-position: -102px -50px;
}
.slide_min {
	display: inline-block;
	border: 1px solid #fff;
	border: 3px solid transparent;
}
.slide_min.active {
	border: 3px solid #51aded;
    border-radius: 2%;
	transition: border 0.3s;
}
.pre-under-slider {
	overflow: hidden;
	margin-top: 5px;
}
.under_slider {
	width: 10000px;
	position: relative;
	-webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
	transition: 0.3s;
}