p:last-child {
	margin-bottom: 0;
}

img {
	max-width: 100%;
}

.nav.top-menu li {
	position: relative;
}
.nav.top-menu > li > ul {
	margin-top: 0;
}
.nav.top-menu > li > ul ul {
	position: absolute;
	top: -11px;
	left: 100%;
}
.nav.top-menu li:hover > ul {
	display: block;
	visibility: visible;
}
.nav.top-menu li.active {
	background-color: #eee;
}
.nav.top-menu li.active > a {
	color: #aaa;
}


