.tabs__content {
  display: none; 
}
.tabs__content .tabs__content-item {
	border-bottom: 1px solid #898989;
}
.tabs__content div:last-child {
	border: none;
}
.tabs__content.active {
  display: block; 
}
.tabs__caption .active {
	background: #888787;
	color: #ffffff;
}
.popular {
	margin: 0em;
    padding: 0em;
    list-style: none;
    display: table;
    width: 100%;
}    
.popular li {
    display: table-cell;
    text-align: center;
    border-right: 1px solid #898989;
    padding: 5px 0px;
    color: #222;
	text-transform: uppercase;
	font-size: 12px;
	font-family: opinionpro;
	cursor: pointer;
}
.popular li:last-child {
	border: none;
} 
