<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Рабочий стол</title>
		<link type="text/css" href="<?= asset('/assets/desktop/desktop.css') ?>" rel="stylesheet" />
		<link type="text/css" href="<?= asset('/assets/vendor/jquery-ui-1.12.1/jquery-ui.min.css') ?>" rel="stylesheet" />
		<link type="text/css" href="<?= asset('/assets/vendor/jquery-ui-1.12.1/jquery-ui.structure.min.css') ?>" rel="stylesheet" />
		<link type="text/css" href="<?= asset('/assets/vendor/jquery-datetimepicker-1.3.3/build/jquery.datetimepicker.min.css') ?>" rel="stylesheet" />
		<link type="text/css" href="<?= asset('/assets/vendor/bootstrap-3.3.7/css/bootstrap.min.css') ?>" rel="stylesheet" />
		<link type="text/css" href="<?= asset('/assets/vendor/bootstrap-select-1.12.1/css/bootstrap-select.min.css') ?>" rel="stylesheet" />
		<link type="text/css" href="<?= asset('/assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css') ?>" rel="stylesheet" />
	</head>
	<body>
		<div id="desktop" class="loading">
			<div id="aside">
				<div class="modal-reflections"></div>
			</div>
		</div>
		<script type="text/javascript" src="<?= asset('/assets/vendor/fenric/request/src/request.js') ?>"></script>
		<script type="text/javascript" src="<?= asset('/assets/vendor/fenric/bugaboo/src/bugaboo.js') ?>"></script>
		<script type="text/javascript" src="<?= asset('/assets/desktop/desktop.js') ?>"></script>
		<script type="text/javascript" src="<?= asset('/assets/desktop/desktop.init.js') ?>"></script>
		<script type="text/javascript" src="<?= asset('/assets/vendor/jquery-3.2.1.min.js') ?>"></script>
		<script type="text/javascript" src="<?= asset('/assets/vendor/jquery-ui-1.12.1/jquery-ui.min.js') ?>"></script>
		<script type="text/javascript" src="<?= asset('/assets/vendor/jquery-datetimepicker-1.3.3/build/jquery.datetimepicker.full.min.js') ?>"></script>
		<script type="text/javascript" src="<?= asset('/assets/vendor/jquery-nestedSortable-1.3.5/jquery.nestedSortable.js') ?>"></script>
		<script type="text/javascript" src="<?= asset('/assets/vendor/bootstrap-3.3.7/js/bootstrap.min.js') ?>"></script>
		<script type="text/javascript" src="<?= asset('/assets/vendor/bootstrap-confirmation-2.4.0/bootstrap-confirmation.min.js') ?>"></script>
		<script type="text/javascript" src="<?= asset('/assets/vendor/bootstrap-select-1.12.1/js/bootstrap-select.min.js') ?>"></script>
		<script type="text/javascript" src="<?= asset('/assets/vendor/bootstrap-select-1.12.1/js/i18n/defaults-ru_RU.min.js') ?>"></script>
		<script type="text/javascript" src="<?= asset('/assets/vendor/ckeditor/ckeditor.js') ?>"></script>
	</body>
</html>
