<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title><?= e($section->getMetaTitle() ?: $section->getHeader()) ?></title>

<?php if ($section->getMetaKeywords()) : ?>
	<meta name="keywords" content="<?= e($section->getMetaKeywords()) ?>" />
<?php endif; ?>

<?php if ($section->getMetaDescription()) : ?>
	<meta name="description" content="<?= e($section->getMetaDescription()) ?>" />
<?php endif; ?>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<?php $this->stop() ?>

<div class="wrapper color-gray_1">
	<div class="container">
		<div class="grid">
			<div class="column-12">
				<div class="fat-bottom-10 floats-clear border-bottom_gray-1">
					<div class="breadcrumbs">
						<ul itemscope itemtype="http://schema.org/BreadcrumbList">
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
									<span itemprop="name" class="text-uppercase">Главная</span>
								</a>
								<span>–</span>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
								<span itemprop="name" class="text-uppercase">вакансии</span>
								<meta itemprop="position" content="2" />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="wrapper max-height">
	<div class="container">
		<div class="kick-top-20 border-bottom_gray-light-1 fat-bottom-10 kick-bottom-20">
			<div class="grid">
				<div class="column-3">
					<h2>Руководитель проекта</h2>
					<p class="news-date">20.11.2016 14:00</p>
				</div>
				<div class="column-9">
					<p class="text-bold">Редакция Тюменского Бизнес-журнала ищет в свою команду руководителя проектов</p>
					<p class="text-bold">Обязанности:</p>
					<ul>
						<li>ведение клиентской базы;</li>
						<li>заключение договоров с новыми клиентами.</li>
					</ul>
					<p class="text-bold">Условия:</p>
					<ul>
						<li>полный рабочий день;</li>
						<li>оформление по ТК РФ, своевременная выплата зарплаты; </li>
						<li>з/п до 60 000 рублей оклад 15 000 + %;</li>
						<li>дополнительные премии;</li>
						<li>современный офис в центре города. Мы ценим опыт, готовы рассматривать условия перехода из другой компании на выгодных для Вас условиях, предоставить финансовую подушку для достижения результатов.</li>
						<li>самостоятельное планирование рабочего дня.</li>
					</ul>
					<p class="text-bold">Требования:</p>
					<ul>
						<li>высшее образование;</li>
						<li>продвинутый пользователь ПК;</li>
						<li>опыт работы менеджером по продажам от года;</li>
						<li>навыки делового общения, коммуникабельность, грамотная речь;</li>
						<li>наличие клиентской базы приветствуется.</li>
					</ul>
					<p>Если вас заинтересовала вакансия, отправьте свое резюме по электронному адресу tz.80@mail.ru или связитесь по телефону (3452) 671-009. Контактное лицо: Имярек Отечественный Фамильярный</p>
				</div>
			</div>
		</div>

		<div class="border-bottom_gray-light-1 fat-bottom-10 kick-bottom-20">
			<div class="grid">
				<div class="column-3">
					<h2>Руководитель проекта</h2>
					<p class="news-date">20.11.2016 14:00</p>
				</div>
				<div class="column-9">
					<p class="text-bold">Редакция Тюменского Бизнес-журнала ищет в свою команду руководителя проектов</p>
					<p class="text-bold">Обязанности:</p>
					<ul>
						<li>ведение клиентской базы;</li>
						<li>заключение договоров с новыми клиентами.</li>
					</ul>
					<p class="text-bold">Условия:</p>
					<ul>
						<li>полный рабочий день;</li>
						<li>оформление по ТК РФ, своевременная выплата зарплаты; </li>
						<li>з/п до 60 000 рублей оклад 15 000 + %;</li>
						<li>дополнительные премии;</li>
						<li>современный офис в центре города. Мы ценим опыт, готовы рассматривать условия перехода из другой компании на выгодных для Вас условиях, предоставить финансовую подушку для достижения результатов.</li>
						<li>самостоятельное планирование рабочего дня.</li>
					</ul>
					<p class="text-bold">Требования:</p>
					<ul>
						<li>высшее образование;</li>
						<li>продвинутый пользователь ПК;</li>
						<li>опыт работы менеджером по продажам от года;</li>
						<li>навыки делового общения, коммуникабельность, грамотная речь;</li>
						<li>наличие клиентской базы приветствуется.</li>
					</ul>
					<p>Если вас заинтересовала вакансия, отправьте свое резюме по электронному адресу tz.80@mail.ru или связитесь по телефону (3452) 671-009. Контактное лицо: Имярек Отечественный Фамильярный</p>
				</div>
			</div>
		</div>
	</div>
</div>
