<h2>Привет @<strong><?= $user->getUsername() ?></strong>!</h2>
<hr>
<p>Ваш электронный адрес был использован для регистрации на сайте <?= fenric('request')->getHost() ?>.</p>
<p>Для того, чтобы завершить регистрацию, перейдите по ссылке в конце письма. Если это были не вы, просто проигнорируйте это письмо.</p>
<hr>
<h4>Данные для входа:</h4>
<p>Имя учетной записи: <?= $user->getUsername() ?></p>
<p>Пароль от учетной записи: <?= $user->getVirtualColumn('password') ?></p>
<hr>
<h4>Технические регистрационные данные:</h4>
<p>Дата и время регистрации: <?= $user->getRegistrationAt()->format('d.m.Y H:i:s P') ?></p>
<p>IP адрес с которого была осуществлена регистрация: <?= $user->getRegistrationIp() ?></p>
<hr>
<p><a href="<?= $confirm ?>">Подтвердить регистрацию.</a></p>
<p>Если ссылка выше не работает, воспользуйтесь этой:
<br><?= $confirm ?></p>
