<h2>Привет @<strong><?= $user->getUsername() ?></strong>!</h2>
<hr>
<p>Для вашей учетной записи был создан аутентификационный токен для беспарольного входа на сайт <?= fenric('request')->getHost() ?>.</p>
<p>Для того, чтобы войти на сайт, воспользуйтесь ссылкой в конце письма. Если это были не вы, просто проигнорируйте это письмо.</p>
<p>Обратите внимание, что аутентификационный токен привязан к вашему IP адресу, если у вас поменялся IP адрес, придется проходить процедуру заново.</p>
<p>Также обратите внимание, что аутентификационный ключ действителен всего 24 часа.</p>
<hr>
<h4>Техническая информация:</h4>
<p>Дата и время создания аутентификационного токена: <?= $user->getAuthenticationTokenAt()->format('d.m.Y H:i:s P') ?></p>
<p>IP адрес с которого был создан аутентификационный токен: <?= $user->getAuthenticationTokenIp() ?></p>
<hr>
<p><a href="<?= $token ?>">Войти на сайт.</a></p>
<p>Если ссылка выше не работает, воспользуйтесь этой:
<br><?= $token ?></p>
