<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title><?= e($section->getMetaTitle() ?: $section->getHeader()) ?></title>

<?php if ($section->getMetaKeywords()) : ?>
	<meta name="keywords" content="<?= e($section->getMetaKeywords()) ?>" />
<?php endif; ?>

<?php if ($section->getMetaDescription()) : ?>
	<meta name="description" content="<?= e($section->getMetaDescription()) ?>" />
<?php endif; ?>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<?php $this->stop() ?>

<div class="wrapper color-gray_1 kick-bottom-20">
	<div class="container">
		<div class="grid">
			<div class="column-12">
				<div class="fat-bottom-10 floats-clear border-bottom_gray-1">
					<div class="breadcrumbs">
						<ul itemscope itemtype="http://schema.org/BreadcrumbList">
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
									<span itemprop="name" class="text-uppercase">Главная</span>
								</a>
								<span>–</span>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
								<span itemprop="name" class="text-uppercase">Обратная связь</span>
								<meta itemprop="position" content="2" />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container-small border-bottom_gray-light-1 fat-bottom-10 kick-bottom-20">
	<div class="grid">
		<div class="column-12">
			<form class="feedback">
				<div class="kick-bottom-20">
					<p class="text-bold kick-bottom-10 kick-left-5">Тема <sup class="text-red">*</sup></p>
					<input class="full-width" type="text" name="" required="">
				</div>	
				<div class="kick-bottom-20">
					<p class="text-bold kick-bottom-10 kick-left-5">Ваше имя <sup class="text-red">*</sup></p>
					<input class="full-width" type="text" name="" required="">
				</div>
				<div class="kick-bottom-20">
					<p class="text-bold kick-bottom-10 kick-left-5">Контактный телефон</p>
					<input class="full-width" type="text" name="">
				</div>
				<div class="kick-bottom-20">
					<p class="text-bold kick-bottom-10 kick-left-5">Электронная почта <sup class="text-red">*</sup></p>
					<input class="full-width" type="text" name="" required="">
				</div>
				<div class="kick-bottom-10">
					<p class="text-bold kick-bottom-10 kick-left-5">Сообщение <sup class="text-red">*</sup></p>
					<textarea class="form-textarea small full-width" name="note" rows="3"></textarea>
				</div>
				<div class="grid kick-bottom-60">
					<div class="column-6">
						<p class="text-small text-bold"><sup class="text-red">*</sup> Поля обязательные для заполнения</p>
					</div>
					<div class="column-6">
						<button class="button blue text-small float-right">Отправить</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
