<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title><?= e($section->getMetaTitle() ?: $section->getHeader()) ?></title>

<?php if ($section->getMetaKeywords()) : ?>
	<meta name="keywords" content="<?= e($section->getMetaKeywords()) ?>" />
<?php endif; ?>

<?php if ($section->getMetaDescription()) : ?>
	<meta name="description" content="<?= e($section->getMetaDescription()) ?>" />
<?php endif; ?>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<?php $this->stop() ?>

<div class="wrapper color-sand_light">
	<div class="container">
		<div class="grid">
			<div class="column-12">
				<div class="fat-bottom-10 floats-clear border-bottom_gray-1">
					<div class="breadcrumbs">
						<ul itemscope itemtype="http://schema.org/BreadcrumbList">
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
									<span itemprop="name" class="text-uppercase">Главная</span>
								</a>
								<span>–</span>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
								<span itemprop="name" class="text-uppercase">о нас</span>
								<meta itemprop="position" content="2" />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container kick-top-30 kick-bottom-20">
	<h2>Тюменский Бизнес-журнал</h2>
	<div class="kick-bottom-20">	
		<p class="">— это деловое издание, которое входит в федеральную сеть и является одной из массовых печатных бизнес-площадок России. В Тюмени издается с 2003 года. Цель издания — быть площадкой для диалога бизнеса и власти, обмена предпринимательским опытом, популяризации эффективных деловых практик, современных управленческих и финансовых решений.</p>
	</div>
	<div class="grid text-center kick-bottom-20">
		<div class="column-3">
			<img class="journal-hover" src="/assets/images/journal.png">
		</div>
		<div class="column-3">
			<img class="journal-hover" src="/assets/images/journal.png">
		</div>
		<div class="column-3">
			<img class="journal-hover" src="/assets/images/journal.png">
		</div>
		<div class="column-3">
			<img class="journal-hover" src="/assets/images/journal.png">
		</div>
	</div>

	<div class="kick-bottom-20">
		<p class="text-bold">Наши возможности:</p>
		<ul class="fat-off kick-off kick-left-20 kick-top-5 kick-bottom-5">
			<li>Печатная версия издания</li>
			<li>Сайт</li>
			<li>Социальные сети</li>
		</ul>
		<p class="text-bold">Формат печатного издания: 205х270мм</p>
		<p class="text-bold">Планируемое количество выходов: 9 номеров в год</p>
		<p class="text-bold">Тираж номера: 5 000 экз.</p>
		<p class="text-bold">Объем: 64–160 полос</p>
		<p class="text-bold">Распространение:</p>
		<p>бесплатно, путем адресной доставки юридическим лицам, на крупных деловых мероприятиях, а также в административных, финансовых, торгово-развлекательных учреждениях и бизнес-центрах Тюмени.</p>
	</div>
	<div>
		<button class="button small blue text-small border-radius_2">Скачать медиа-кит в PDF-формате</button>
	</div>
</div>

<div class="container kick-bottom-20">
	<div class="grid">
		<div class="column-12">
			<ul class="tags">
				<li><a href="#">#Главный_Редактор</a></li>
				<li><a href="#">#ПутинЦарь </a></li>
				<li><a href="#">#ГлавнаяНовость </a></li>
				<li><a href="#">#ПерсонаНомера</a></li>
				<li><a href="#">#ТемаНомера</a></li>
				<li><a href="#">#ЛидерыРынкаТюменскойОбласти</a></li>
				<li><a href="#">#Круглые_Столы</a></li>
				<li><a href="#">#Взгляд_в_Будущее</a></li>
			</ul>	
		</div>
	</div>
</div>