<?php $this->layout('layout.bootstrap') ?>

<h2 class="mb-4">Аутентификация отключена</h2>

<div class="alert alert-info">
	<p>Процесс аутентификации на сайте невозможен в связи с отключением механизма аутентификации.</p>
</div>
