<?php $this->layout('layout.bootstrap') ?>

<h2 class="mb-4">Аутентификационный токен создан</h2>

<div class="alert alert-success">
	<p>На указанный вами электронный адрес отправлено письмо, внутри которого содержится ссылка для беспарольной аутентификации.</p>
	<p>После аутентификации вы можете самостоятельно поменять свой пароль или использовать каждый раз для входа беспарольную аутентификацию по токену, что в свою очередь избавит вас от запоминания <strong>сложных</strong> паролей.</p>
</div>
