<?php $this->layout('layout.bootstrap') ?>

<?php $this->start('stylesheets') ?>
	<link href="<?= asset('/assets/vendor/jquery-datetimepicker-1.3.3/build/jquery.datetimepicker.min.css') ?>" rel="stylesheet" />
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
	<script src="<?= asset('/assets/vendor/jquery-datetimepicker-1.3.3/build/jquery.datetimepicker.full.min.js') ?>"></script>
	<script>
		jQuery('#user-settings-field-birthday').datetimepicker({
			format: 'Y-m-d',
		});
	</script>
<?php $this->stop() ?>

<h2 class="mb-4">Настройки</h2>

<form action="/user/settings/save/" method="post">
	<?php if (isset($errors)) : ?>
		<div class="form-group">
			<?php if (count($errors)) : ?>
				<div class="alert alert-danger">
					<?php foreach ($errors as $field => $value) : ?>
						<?php foreach ($errors[$field] as $error) : ?>
							<p><?= $error ?></p>
						<?php endforeach; ?>
					<?php endforeach; ?>
				</div>
			<?php else : ?>
				<div class="alert alert-success">
					<p>Настройки успешно сохранены.</p>
				</div>
			<?php endif; ?>
		</div>
	<?php endif; ?>
	<ul class="nav nav-tabs mb-3" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" data-toggle="tab" href="#profile" role="tab">
				<i class="fa fa-bars" aria-hidden="true"></i> <span>Профайл</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#notifications" role="tab">
				<i class="fa fa-bell-o" aria-hidden="true"></i> <span>Уведомления</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" data-toggle="tab" href="#password" role="tab">
				<i class="fa fa-key" aria-hidden="true"></i> <span>Пароль</span>
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="profile" role="tabpanel">
			<div class="form-group <?php if (isset($errors['firstname'])) {echo 'has-danger';} ?>">
				<label for="user-settings-field-firstname">Имя</label>
				<input id="user-settings-field-firstname" class="form-control" type="text" name="firstname" value="<?= e($firstname ?? fenric('user')->getFirstname()) ?>" maxlength="64" autocomplete="off" />
				<?php if (isset($errors['firstname'])) : ?>
					<small class="form-control-feedback"><?= implode('<br>', $errors['firstname']) ?></small>
				<?php endif; ?>
				<small class="form-text text-muted">Используйте только буквы, максимальное количество которых не должно превышать 64.</small>
			</div>
			<div class="form-group <?php if (isset($errors['lastname'])) {echo 'has-danger';} ?>">
				<label for="user-settings-field-lastname">Фамилия</label>
				<input id="user-settings-field-lastname" class="form-control" type="text" name="lastname" value="<?= e($lastname ?? fenric('user')->getLastname()) ?>" maxlength="64" autocomplete="off" />
				<?php if (isset($errors['lastname'])) : ?>
					<small class="form-control-feedback"><?= implode('<br>', $errors['lastname']) ?></small>
				<?php endif; ?>
				<small class="form-text text-muted">Используйте только буквы, максимальное количество которых не должно превышать 64.</small>
			</div>
			<div class="form-group <?php if (isset($errors['gender'])) {echo 'has-danger';} ?>">
				<label for="user-settings-field-gender">Половая принадлежность</label>
				<select id="user-settings-field-gender" class="form-control" name="gender">
					<option value=""></option>
					<option value="male" <?php if (fenric('user')->isMale()) {echo 'selected';} ?>>&#x2642; Мужчина</option>
					<option value="female" <?php if (fenric('user')->isFemale()) {echo 'selected';} ?>>&#x2640; Женщина</option>
				</select>
				<?php if (isset($errors['gender'])) : ?>
					<small class="form-control-feedback"><?= implode('<br>', $errors['gender']) ?></small>
				<?php endif; ?>
			</div>
			<div class="form-group <?php if (isset($errors['birthday'])) {echo 'has-danger';} ?>">
				<label for="user-settings-field-birthday">День рождения</label>
				<input id="user-settings-field-birthday" class="form-control" type="text" name="birthday" value="<?php if (fenric('user')->getBirthday() instanceof DateTime) {echo fenric('user')->getBirthday()->format('Y-m-d');} ?>" autocomplete="off" />
				<?php if (isset($errors['birthday'])) : ?>
					<small class="form-control-feedback"><?= implode('<br>', $errors['birthday']) ?></small>
				<?php endif; ?>
				<small class="form-text text-muted">Используйте формат YYYY-MM-DD.</small>
			</div>
			<div class="form-group <?php if (isset($errors['signature'])) {echo 'has-danger';} ?>">
				<label for="user-settings-field-signature">Подпись</label>
				<textarea id="user-settings-field-signature" class="form-control" name="signature" rows="3"><?= e($signature ?? fenric('user')->getSignature()) ?></textarea>
				<?php if (isset($errors['signature'])) : ?>
					<small class="form-control-feedback"><?= implode('<br>', $errors['signature']) ?></small>
				<?php endif; ?>
			</div>
			<div class="form-group <?php if (isset($errors['about'])) {echo 'has-danger';} ?>">
				<label for="user-settings-field-about">Обо мне</label>
				<textarea id="user-settings-field-about" class="form-control" name="about" rows="6"><?= e($about ?? fenric('user')->getAbout()) ?></textarea>
				<?php if (isset($errors['about'])) : ?>
					<small class="form-control-feedback"><?= implode('<br>', $errors['about']) ?></small>
				<?php endif; ?>
			</div>
		</div>
		<div class="tab-pane" id="notifications" role="tabpanel">
			<div class="form-group <?php if (isset($errors['email'])) {echo 'has-danger';} ?>">
				<label for="user-settings-field-email">E-mail</label>
				<input id="user-settings-field-email" class="form-control" type="email" name="email" value="<?= e($email ?? fenric('user')->getEmail()) ?>" maxlength="128" required="true" autocomplete="off" />
				<?php if (isset($errors['email'])) : ?>
					<small class="form-control-feedback"><?= implode('<br>', $errors['email']) ?></small>
				<?php endif; ?>
			</div>
		</div>
		<div class="tab-pane" id="password" role="tabpanel">
			<div class="form-group <?php if (isset($errors['password'])) {echo 'has-danger';} ?>">
				<label for="registration-field-password">Новый пароль</label>
				<input id="registration-field-password" class="form-control" type="password" name="password" maxlength="256" />
				<?php if (isset($errors['password'])) : ?>
					<small class="form-control-feedback"><?= implode('<br>', $errors['password']) ?></small>
				<?php endif; ?>
				<small class="form-text text-muted">Пароль должен быть длинной <strong>от 6-и до 256-и символов</strong>, а также не содержать в себе логин или логин электронной почты.</small>
			</div>
			<div class="form-group">
				<label for="registration-field-password-confirmation">Повторите новый пароль</label>
				<input id="registration-field-password-confirmation" class="form-control" type="password" name="password_confirmation" maxlength="256" />
				<small class="form-text text-muted">Повторите в точности вышеуказанный пароль, чтобы быть уверенным в том, что вы его запомнили.</small>
			</div>
		</div>
	</div>
	<div class="form-group">
		<button class="btn btn-success" type="submit">Сохранить</button> &nbsp;<span class="text-muted">|</span>&nbsp; <a href="/user/">Назад</a>
	</div>
</form>
