<?php $this->layout('layout.bootstrap') ?>

<h2 class="mb-4">Регистрация завершена</h2>

<div class="alert alert-success">
	<p>На указанный вами электронный адрес отправлено письмо, внутри которого содержится ссылка, перейдя по которой активируется учетная запись.</p>
	<p>Только после того, как вы активируете свою учетную запись, станет возможным пройти процесс аутентификации используя ваши логин и пароль.</p>
</div>
