<?php $this->layout('layout.bootstrap') ?>

<h2 class="mb-4">Регистрация отключена</h2>

<div class="alert alert-info">
	<p>Процесс регистрации на сайте невозможен в связи с отключением механизма регистрации.</p>
</div>
