<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title><?= e($publication->getMetaTitle() ?: $publication->getHeader()) ?></title>

<?php if ($publication->getMetaKeywords()) : ?>
	<meta name="keywords" content="<?= e($publication->getMetaKeywords()) ?>" />
<?php endif; ?>

<?php if ($publication->getMetaDescription()) : ?>
	<meta name="description" content="<?= e($publication->getMetaDescription()) ?>" />
<?php endif; ?>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<link rel="stylesheet" href="/assets/stylesheets/slider.css" />
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<script src="/assets/javascripts/offer-your-price.js"></script>
<script src="/assets/javascripts/slider.js"></script>
<script src="/assets/javascripts/popup-wins.js"></script>
<script src="/assets/javascripts/form-request.js"></script>
<?php $this->stop() ?>

<div class="container kick-bottom-15">
	<div class="">
		<?= fenric('banner::main') ?>
	</div>
</div>

<div class="container kick-bottom-15">
	<div class="grid">
		<div class="column-12">
			<div class="floats-clear">
				<div class="breadcrumbs">
					<ul itemscope itemtype="http://schema.org/BreadcrumbList">
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
								<span itemprop="name" class="text-uppercase">Главная</span>
							</a>
							<span>/</span>
							<meta itemprop="position" content="1" />
						</li>
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
							<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/commercial-property">
								<span itemprop="name" class="text-uppercase">Коммерческая недвижимость 12312312</span>
							</a>	
							<span>/</span>
							<meta itemprop="position" content="2" />
						</li>
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
							<span itemprop="name" class="text-uppercase">Коммерческая недвижимость</span>
							<meta itemprop="position" content="3" />
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container kick-bottom-15">
	<div class="grid">
		<div class="column-8">
			<div class="fat-30 kick-bottom-15 border-block">
				<div id="awesome_slider" class="slides theme-nav-round">
					<a class="to-prev" href="javascript:void(0)" onclick="slider.prev(this)" title="Назад"></a>
					<a class="to-next" href="javascript:void(0)" onclick="slider.next(this)" title="Вперёд"></a>
					<div id="mega_slider">

						<div class="slide">
							<a class="fancybox" href="/assets/img/взнос.jpg">
								<img style="height: 316px;" src="/assets/images/face-2.jpg" width="100%" />
							</a>
						</div>

						<div class="slide">
							<a class="fancybox" href="/assets/img/взнос.jpg">
								<img style="height: 316px;" src="/assets/images/face-3.jpg" width="100%" />
							</a>
						</div>

						<div class="slide">
							<a class="fancybox" href="/assets/img/взнос.jpg">
								<img style="height: 316px;" src="/assets/images/face-4.jpg" width="100%" />
							</a>
						</div>

						<!-- Навигация под слайдером-->
						<div class="pre-under-slider">
							<div class="under_slider"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="kick-bottom-15 border-block_top__black fat-top-10 fat-left-30 fat-right-30 fat-bottom-30 border-block_bottom__gray">
				<p class="kick-bottom-15 bwsurcodemo-bold text-x-large">Описание недвижимости</p>
				<p>25 июля стартовал пятнадцатый конкурс «Тюменская марка» для субъектов малого и среднего 25 июля стартовал пятнадцатый конкурс «Тюменская марка» для субъектов малого и среднего 25 июля стартовал пятнадцатый конкурс «Тюменская марка» для субъектов малого и среднего 25 июля стартовал пятнадцатый конкурс «Тюменская марка» для субъектов малого и среднего</p>
			</div>

			<div class="kick-bottom-5 border-block_top__black fat-top-10 fat-left-30 fat-right-30 fat-bottom-30 border-block_bottom__gray">
				<p class="kick-bottom-15 bwsurcodemo-bold text-x-large">Описание района</p>
				<p>25 июля стартовал пятнадцатый конкурс «Тюменская марка» для субъектов малого и среднего 25 июля стартовал пятнадцатый конкурс «Тюменская марка» для субъектов малого и среднего 25 июля стартовал пятнадцатый конкурс «Тюменская марка» для субъектов малого и среднего 25 июля стартовал пятнадцатый конкурс «Тюменская марка» для субъектов малого и среднего</p>
			</div>

			<div class="floats-clear kick-bottom-20 fat-left-30">
				<div class="width-29p float-left kick-right-10">
					<a class="text-small_s text-black opinionpro-light text-uppercase" href="javascript:void(0)" onclick="showModalWin1()">пожаловаться на объявление</a>
				</div>
				<div class="width-28p float-left position-relative">
					<a class="text-small_s text-black opinionpro-light text-uppercase" id="showHideContent1" href="javascript:void(0)">количество просмотров: 000</a>
					<div id="hide-block1" class="display-none">
						<div class="kick-top-10 line-height-15 text-small_s opinionpro-light">
							<p>За сегодня: 3</p>
							<p>За последние 7 дней: 9</p>
							<p>За последние 30 дней: 9</p>
						</div>
					</div>
				</div>
				<div class="float-right">
					<span class="text-small_s text-black opinionpro-light text-uppercase">дата публикации: 00.00.0000</span>
				</div>
			</div>
		</div>

		<div class="column-4">
			<div class="kick-bottom-15 border-block_top__black10 border-block">
				<div class="fat-15 border-block_bottom__gray">
					<p class="text-x-large bwsurcodemo-bold">Складское помещение, Рощино, ул. Производственная</p>
				</div>
				<div class="border-block_bottom__gray fat-15 floats-clear">
					<div class="width-18p float-left kick-right-20 text-center">
						<div class="border-ruble-2">
							<div class="border-ruble-1 text-xx-large">
								<i class="fa fa-rub text-black" aria-hidden="true"></i>
							</div>
						</div>
					</div>
					<div class="width-73p float-left line-height-15 p-2">
						<p class="text-small_s text-uppercase opinionpro-light">цена снижена на 000 000 руб.</p>
						<p class="bwsurcodemo-bold text-x-large">00 000 000 руб.</p>
						<p class="text-small_s opinionpro-light">≈ 9 746 руб/ м<sup>2</sup></p>
					</div>
				</div>
				<div class="fat-2 fat-right-15 border-block_bottom__gray">
					<p class="text-right"><a class="text-uppercase text-small_s text-black opinionpro-light" id="showHideContent" href="javascript:void(0)">предложить свою цену</a></p>
					<div class="display-none" id="hide-block">
						<div class="fat-15 fat-right-0">
							<form class="form form-request">
								<input class="form-input small kick-bottom-10" type="text" name="custom_field_price" value="" data-label="Ваша цена" placeholder="Ваша цена" required="">
								<input class="form-input small kick-bottom-10" type="text" name="phone" placeholder="Контактный телефон" required="">
								<button class="button orange small full-width" type="submit">Предложить</button>
								<input type="hidden" name="name" value="аноним" placeholder="Имя" required="">
								<input type="hidden" name="form_id" value="commercial-property-show-offer-your-price">
								<input type="hidden" name="arrived_at" value="" />
								<input type="hidden" name="arrived_from" value="" />
							</form>
						</div>
					</div>
				</div>
				<div class="fat-30">
					<p class="opinionpro-light">площадь: 000 м<sup>2</sup></p>
					<p class="opinionpro-light">этаж: 00</p>
					<p class="opinionpro-light">тип недвижимости: свободного назначения</p>
					<p class="opinionpro-light">вход: отдельный</p>
					<p class="opinionpro-light">линия: 00</p>
					<p class="opinionpro-light">интернет: да</p>
					<p class="opinionpro-light">телефон: да</p>
					<p class="opinionpro-light">кондиционер: да</p>
					<div class="kick-top-20">
						<a class="full-width button purple" href="javascript:void(0)" onclick="showModalWin()">узнать больше</a>
					</div>
				</div>
			</div>

			<div class="border-block border-block_top__black10">
				<div class="fat-15">
					<p class="text-uppercase journalism text-xxxxx-large text-center">похожее</p>
				</div>

				<div class="tabs">
					<ul class="tabs__caption popular border-top_gray border-bottom_gray kick-bottom-10">
						<li class="active">Сейчас</li>
						<li>Неделя</li>
						<li>Месяц</li>
					</ul>

					<div class="tabs__content active">
						<div class="fat-15 floats-clear block-hover_p tabs__content-item">
							<a href="#">
								<div class="float-left width-30p kick-right-10">
									<img height="74px" width="100%" src="/assets/images/face-10.jpg">
								</div>
								<div class="float-left width-66p">
									<div class="kick-bottom-10">
										<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
									</div>
									<div class="kick-bottom-10">
										<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
									</div>
									<div>
										<p class="text-uppercase text-x-small opinionpro-light">Дмитрий Бербатов</p>
									</div> 
								</div>
							</a>
						</div>

						<div class="fat-15 floats-clear block-hover_p tabs__content-item">
							<a href="#">
								<div class="float-left width-30p kick-right-10">
									<img height="74px" width="100%" src="/assets/images/face-10.jpg">
								</div>
								<div class="float-left width-66p">
									<div class="kick-bottom-10">
										<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
									</div>
									<div class="kick-bottom-10">
										<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
									</div>
									<div>
										<p class="text-uppercase text-x-small opinionpro-light">Дмитрий Бербатов</p>
									</div> 
								</div>
							</a>
						</div>

						<div class="fat-15 floats-clear block-hover_p tabs__content-item">
							<a href="#">
								<div class="float-left width-30p kick-right-10">
									<img height="74px" width="100%" src="/assets/images/face-10.jpg">
								</div>
								<div class="float-left width-66p">
									<div class="kick-bottom-10">
										<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
									</div>
									<div class="kick-bottom-10">
										<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
									</div>
									<div>
										<p class="text-uppercase text-x-small opinionpro-light">Дмитрий Бербатов</p>
									</div> 
								</div>
							</a>
						</div>
					</div>

					<div class="tabs__content">
						сюда иди
					</div>

					<div class="tabs__content">
						хуй
					</div>
				</div>
			</div>
			<div class="border-block border-top-off show_more__block kick-bottom-15">
				<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="#">
					<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- MadalWin -->
<div id="popupWin" class="modalwin">
	<div>
		<button type="button" class="btn-close" id="modal_close" aria-label="close">X</button>
	</div>
	<div class="border-grey_3 fat-15 fill-white">
		<form class="form form-request">
			<textarea class="form-textarea kick-bottom-5" name="note" rows="4" placeholder="Введите свой вопрос"></textarea>
			<input class="form-input kick-bottom-10" type="text" name="phone" placeholder="Контактный телефон" required="">
			<button class="button purple full-width" type="submit">Отправить</button>
			<input type="hidden" name="name" value="аноним" placeholder="Имя" required="">
			<input type="hidden" name="form_id" value="commercial-property-learn-more">
			<input type="hidden" name="arrived_at" value="">
			<input type="hidden" name="arrived_from" value="">
		</form>
	</div>
</div>


<div id="popupWin1" class="modalwin">
	<div>
		<button type="button" class="btn-close" id="modal_close1" aria-label="close">X</button>
	</div>
	<div class="border-grey_3 fat-15 fill-white">
		<form class="form form-request">
			<div class="kick-bottom-10">
				<p class="text-bold text-center">С объявлением что-то не так?</p>
			</div>
			<div class="kick-bottom-10">
				<div>
					<input type="checkbox" value="Объект недвижимости продан" name="custom_field_complaint" data-label="Жалоба">
					<span class="text-bold kick-left-5">Объект недвижимости продан</span>
				</div>
				<div>
					<input type="checkbox" value="Неактуальная цена" name="custom_field_complaint1" data-label="Жалоба">
					<span class="text-bold kick-left-5">Неактуальная цена</span>
				</div>
				<div>
					<input type="checkbox" value="Некорректный адрес" name="custom_field_complaint2" data-label="Жалоба">
					<span class="text-bold kick-left-5">Некорректный адрес</span>
				</div>
				<div>
					<input type="checkbox" value="Некорректная планировка" name="custom_field_complaint3" data-label="Жалоба">
					<span class="text-bold kick-left-5">Некорректная планировка</span>
				</div>
				<div>
					<input type="checkbox" value="Неактуальные фотографии" name="custom_field_complaint4" data-label="Жалоба">
					<span class="text-bold kick-left-5">Неактуальные фотографии</span>
				</div>
				<div>
					<input type="checkbox" value="Не могу дозвониться" name="custom_field_complaint5" data-label="Жалоба">
					<span class="text-bold kick-left-5">Не могу дозвониться</span>
				</div>
				<div>
					<input type="checkbox" value="Другое" name="custom_field_complaint6" data-label="Жалоба">
					<span class="text-bold kick-left-5">Другое</span>
				</div>  
			</div>
			<textarea class="form-textarea kick-bottom-5" name="note" rows="3" placeholder="Оставьте свой комментарий"></textarea>
			<input class="form-input kick-bottom-10" type="text" name="phone" placeholder="Контактный телефон" required="">
			<button class="button purple full-width" type="submit">Отправить</button>
			<input type="hidden" name="name" value="аноним" placeholder="Имя" required="">
			<input type="hidden" name="form_id" value="commercial-property-complaint">
			<input type="hidden" name="arrived_at" value="">
			<input type="hidden" name="arrived_from" value="">
		</form>
	</div>
</div>