<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title><?= e($section->getMetaTitle() ?: $section->getHeader()) ?></title>

<?php if ($section->getMetaKeywords()) : ?>
	<meta name="keywords" content="<?= e($section->getMetaKeywords()) ?>" />
<?php endif; ?>

<?php if ($section->getMetaDescription()) : ?>
	<meta name="description" content="<?= e($section->getMetaDescription()) ?>" />
<?php endif; ?>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<link rel="stylesheet" href="/assets/stylesheets/sumoselect.css" />
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<script src="/assets/javascripts/showHideContent.js"></script>
<script src="/assets/javascripts/jquery.sumoselect.min.js"></script>
<!-- https://github.com/HemantNegi/jquery.sumoselect -->
<script>
	jQuery('select.sumoselect').SumoSelect({
		search: true,
		searchText: 'Поиск…',
		captionFormat: 'Выбрано {0}',
		captionFormatAllSelected: 'Выбраны все {0}',
		noMatch: '"{0}" не найдено',
		selectAll: true,
		locale: ['Ok', 'Отмена', 'Выбрать всё'],
	});
</script>
<?php $this->stop() ?>

<div class="container kick-bottom-15">
	<div class="">
		<a href="#">
			<img src="/assets/images/banner.jpg">
		</a>
	</div>
</div>

<div class="container kick-bottom-15">
	<div class="grid">
		<div class="column-12">
			<div class="floats-clear">
				<div class="breadcrumbs">
					<ul itemscope itemtype="http://schema.org/BreadcrumbList">
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
								<span itemprop="name" class="text-uppercase">Главная</span>
							</a>
							<span>/</span>
							<meta itemprop="position" content="1" />
						</li>
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
							<span itemprop="name" class="text-uppercase">Коммерческая недвижимость</span>
							<meta itemprop="position" content="2" />
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container kick-bottom-15">
	<div class="grid">
		<div class="column-8">
			<div class="kick-bottom-15">
				<div class="tabs tabs-commercial">
					<ul class="tabs__caption popular border-top_gray__light border-bottom_gray">
						<li class="active text-uppercase border-block_left__gray text-medium">покупка</li>
						<li class="text-uppercase text-medium">аренда</li>

						<!--<li class="text-uppercase text-medium">обмен</li>
						<li class="text-uppercase text-medium">продать</li>
						<li class="text-uppercase border-block_right__gray text-medium">сдать</li>-->
					</ul>

					<div class="tabs__content active opinionpro-light">
						<div class="border-block border-top-off fat-top-15 fat-left-55 fat-right-45 fat-bottom-20">
							<div class="kick-bottom-20 floats-clear">
								<div class="float-left width-55p kick-right-30">
									<div class="kick-bottom-5">
										<p class="text-small text-uppercase">тип недвижимости</p>
									</div>
									<div class="buttons small  invert">
										<div class="kick-bottom-5 floats-clear">
											<label class="button" onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">вся коммерческая недвижимость
											</label>
										</div>
										<div class="kick-bottom-5 floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">офисная
											</label>
										</div>
										<div class="kick-bottom-5 floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">торговая
											</label>
										</div>
										<div class="kick-bottom-5 floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">производственная
											</label>
										</div>
										<div class="floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">складская
											</label>
										</div>
									</div>
								</div>

								<div class="float-left width-38p">
									<div class="buttons small  invert kick-bottom-20 kick-top-15">
										<div class="kick-bottom-5 floats-clear">
											<label class="button" onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">здания
											</label>
										</div>
										<div class="kick-bottom-5 floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">готовый бизнес
											</label>
										</div>
										<div class="kick-bottom-5 floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">свободного назначения
											</label>
										</div>
										<div class="floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">другое нежилое
											</label>
										</div>
									</div>
								</div>
							</div>	

							<div class="kick-bottom-10 floats-clear">
								<div class="float-left width-55p kick-right-30">
									<div class="width-70p">
										<div class="kick-bottom-10">
											<div class="kick-bottom-5">
												<p class="text-small text-uppercase">цена, руб</p>
											</div>
											<div class="grid">
												<div class="column-6">
													<input class="form-input small form-input-control form-search-number" type="text" name="price_min" placeholder="от" data-min="0" data-max="1000000000" value="">
												</div>
												<div class="column-6">
													<input class="form-input small form-input-control form-search-number" type="text" name="price_max" placeholder="до" data-min="0" data-max="1000000000" value="">
												</div>
											</div>
										</div>
										<div class="kick-bottom-20">
											<div class="kick-bottom-5">
												<p class="text-small text-uppercase">площадь, м<sup>2</sup></p>
											</div>
											<div class="grid">
												<div class="column-6">
													<input class="form-input small form-input-control form-search-number" type="text" name="space_total_min" placeholder="от" data-min="0" data-max="1000000000" value="">
												</div>
												<div class="column-6">
													<input class="form-input small form-input-control form-search-number" type="text" name="space_total_max" placeholder="до" data-min="0" data-max="1000000000" value="">
												</div>
											</div>
										</div>
										<div class="kick-bottom-10">
											<div class="kick-bottom-5">
												<p class="text-small text-uppercase">микрорайон</p>
											</div>
											<div>
												<select class="form-select sumoselect" name="settlements[]" multiple placeholder="выберите микрорайон">
													<option value=""></option>
												</select>
											</div>
										</div>
										<div class="kick-bottom-20">
											<div class="kick-bottom-5">
												<p class="text-small text-uppercase">улица</p>
											</div>
											<div>
												<select class="form-select sumoselect" name="" multiple placeholder="выберите улицу">
													<option value=""></option>
												</select>
											</div>
										</div>
										<div class="">
											<div class="kick-bottom-5">
												<p class="text-small text-uppercase">высота потолков, м</p>
											</div>
											<div class="grid">
												<div class="column-6">
													<input class="form-input small form-input-control form-search-number" type="text" name="roof_height_min" placeholder="от" data-min="0" data-max="1000000000" value="">
												</div>
												<div class="column-6">
													<input class="form-input small form-input-control form-search-number" type="text" name="roof_height_max" placeholder="до" data-min="0" data-max="1000000000" value="">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="float-left width-38p">
									<div class="kick-bottom-10">
										<div class="kick-bottom-5">
										<p class="text-small text-uppercase">вход</p>
										</div>
										<div class="buttons invert">
											<div class="floats-clear">
												<label class="button kick-right-15 radio-label ">
													<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">отдельный
												</label>
												<label class="button kick-right-15 radio-label ">
													<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">общий
												</label>
											</div>
										</div>
									</div>
									<div class="kick-bottom-20">
										<div class="kick-bottom-5">
										<p class="text-small text-uppercase">линия</p>
										</div>
										<div class="buttons invert">
											<div class="floats-clear">
												<label class="button kick-right-15 radio-label ">
													<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">первая
												</label>
												<label class="button kick-right-15 radio-label ">
													<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">вторая
												</label>
											</div>
										</div>
									</div>
									<div class="kick-bottom-10">
										<div class="kick-bottom-5">
										<p class="text-small text-uppercase">этаж</p>
										</div>
										<div class="grid">
											<div class="column-6">
												<input class="form-input small form-input-control form-search-number" type="text" name="floor_min" placeholder="от" data-min="0" data-max="1000000000" value="">
											</div>
											<div class="column-6">
												<input class="form-input small form-input-control form-search-number" type="text" name="floor_max" placeholder="до" data-min="0" data-max="1000000000" value="">
											</div>
										</div>
									</div>
									<div class="kick-bottom-10">
										<div class="kick-bottom-5">
										<p class="text-small text-uppercase">этажность</p>
										</div>
										<div class="grid">
											<div class="column-6">
												<input class="form-input small form-input-control form-search-number" type="text" name="number_of_floor_min" placeholder="от" data-min="0" data-max="1000000000" value="">
											</div>
											<div class="column-6">
												<input class="form-input small form-input-control form-search-number" type="text" name="number_of_floor_max" placeholder="до" data-min="0" data-max="1000000000" value="">
											</div>
										</div>
									</div>
								</div>	
							</div>

							<div class="floats-clear kick-bottom-20 hide-block display-none">
								<div class="float-left width-55p kick-right-30">
									<div class="width-70p">
										<div class="kick-bottom-10">
											<div class="kick-bottom-5">
												<p class="text-small text-uppercase">отделка</p>
											</div>
											<div class="buttons invert">
												<div class="floats-clear">
													<label class="button kick-right-15 radio-label ">
														<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">черновая
													</label>
													<label class="button kick-right-15 radio-label ">
														<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">ремонт
													</label>
												</div>
											</div>
										</div>
										<div class="">
											<div class="kick-bottom-5">
												<p class="text-small text-uppercase">парковка, кол-во мест</p>
											</div>
											<div>
												<select class="form-select sumoselect" name="" multiple placeholder="количество мест">
													<option value="">Да</option>
													<option value="">Нет</option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="float-left width-38p">
									<div class="kick-bottom-5">
										<p class="text-small text-uppercase">дополнительно</p>
									</div>
									<div class="buttons small  invert">
										<div class="kick-bottom-5 floats-clear">
											<label class="button" onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">интернет
											</label>
										</div>
										<div class="kick-bottom-5 floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">телефон
											</label>
										</div>
										<div class="kick-bottom-5 floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">кондиционер
											</label>
										</div>
									</div>
								</div>
							</div>

							<div class="floats-clear">
								<div class="float-left width-55p kick-right-30">
									<div class="width-70p">
										<div class="">
											<a class="text-black text-uppercase showHideContent text-small" href="javascript:void(0)">дополнительные параметры</a>
										</div>
										<div class="">
											<a class="text-black text-uppercase" href="#">
												<span class="text-small">сбросить фильтр</span>
											</a>
										</div>
									</div>	
								</div>	

								<div class="float-left width-38p">
									<a class="kick-top-5 full-width button large purple" href="#">показать 00 000 объектов</a>
								</div>
							</div>
						</div>
					</div>


					<!-- ТАБ АРЕНДА(он такой же как и "покупка", другие табы пока закомментированы пока Вася не придумает контент к ним) -->
					<div class="tabs__content opinionpro-light">
						<div class="border-block border-top-off fat-top-15 fat-left-55 fat-right-45 fat-bottom-20">
							<div class="kick-bottom-20 floats-clear">
								<div class="float-left width-55p kick-right-30">
									<div class="kick-bottom-5">
										<p class="text-small text-uppercase">тип недвижимости</p>
									</div>
									<div class="buttons small  invert">
										<div class="kick-bottom-5 floats-clear">
											<label class="button" onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">вся коммерческая недвижимость
											</label>
										</div>
										<div class="kick-bottom-5 floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">офисная
											</label>
										</div>
										<div class="kick-bottom-5 floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">торговая
											</label>
										</div>
										<div class="kick-bottom-5 floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">производственная
											</label>
										</div>
										<div class="floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">складская
											</label>
										</div>
									</div>
								</div>

								<div class="float-left width-38p">
									<div class="buttons small  invert kick-bottom-20 kick-top-15">
										<div class="kick-bottom-5 floats-clear">
											<label class="button" onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">здания
											</label>
										</div>
										<div class="kick-bottom-5 floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">готовый бизнес
											</label>
										</div>
										<div class="kick-bottom-5 floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">свободного назначения
											</label>
										</div>
										<div class="floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="rooms[]" value="0" data-type="" type="checkbox">другое нежилое
											</label>
										</div>
									</div>
								</div>
							</div>	

							<div class="kick-bottom-10 floats-clear">
								<div class="float-left width-55p kick-right-30">
									<div class="width-70p">
										<div class="kick-bottom-10">
											<div class="kick-bottom-5">
												<p class="text-small text-uppercase">цена, руб</p>
											</div>
											<div class="grid">
												<div class="column-6">
													<input class="form-input small form-input-control form-search-number" type="text" name="price_min" placeholder="от" data-min="0" data-max="1000000000" value="">
												</div>
												<div class="column-6">
													<input class="form-input small form-input-control form-search-number" type="text" name="price_max" placeholder="до" data-min="0" data-max="1000000000" value="">
												</div>
											</div>
										</div>
										<div class="kick-bottom-20">
											<div class="kick-bottom-5">
												<p class="text-small text-uppercase">площадь, м<sup>2</sup></p>
											</div>
											<div class="grid">
												<div class="column-6">
													<input class="form-input small form-input-control form-search-number" type="text" name="space_total_min" placeholder="от" data-min="0" data-max="1000000000" value="">
												</div>
												<div class="column-6">
													<input class="form-input small form-input-control form-search-number" type="text" name="space_total_max" placeholder="до" data-min="0" data-max="1000000000" value="">
												</div>
											</div>
										</div>
										<div class="kick-bottom-10">
											<div class="kick-bottom-5">
												<p class="text-small text-uppercase">микрорайон</p>
											</div>
											<div>
												<select class="form-select sumoselect" name="settlements[]" multiple placeholder="выберите микрорайон">
													<option value=""></option>
												</select>
											</div>
										</div>
										<div class="kick-bottom-20">
											<div class="kick-bottom-5">
												<p class="text-small text-uppercase">улица</p>
											</div>
											<div>
												<select class="form-select sumoselect" name="" multiple placeholder="выберите улицу">
													<option value=""></option>
												</select>
											</div>
										</div>
										<div class="">
											<div class="kick-bottom-5">
												<p class="text-small text-uppercase">высота потолков, м</p>
											</div>
											<div class="grid">
												<div class="column-6">
													<input class="form-input small form-input-control form-search-number" type="text" name="roof_height_min" placeholder="от" data-min="0" data-max="1000000000" value="">
												</div>
												<div class="column-6">
													<input class="form-input small form-input-control form-search-number" type="text" name="roof_height_max" placeholder="до" data-min="0" data-max="1000000000" value="">
												</div>
											</div>
										</div>
									</div>
								</div>

								<div class="float-left width-38p">
									<div class="kick-bottom-10">
										<div class="kick-bottom-5">
										<p class="text-small text-uppercase">вход</p>
										</div>
										<div class="buttons invert">
											<div class="floats-clear">
												<label class="button kick-right-15 radio-label ">
													<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">отдельный
												</label>
												<label class="button kick-right-15 radio-label ">
													<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">общий
												</label>
											</div>
										</div>
									</div>
									<div class="kick-bottom-20">
										<div class="kick-bottom-5">
										<p class="text-small text-uppercase">линия</p>
										</div>
										<div class="buttons invert">
											<div class="floats-clear">
												<label class="button kick-right-15 radio-label ">
													<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">первая
												</label>
												<label class="button kick-right-15 radio-label ">
													<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">вторая
												</label>
											</div>
										</div>
									</div>
									<div class="kick-bottom-10">
										<div class="kick-bottom-5">
										<p class="text-small text-uppercase">этаж</p>
										</div>
										<div class="grid">
											<div class="column-6">
												<input class="form-input small form-input-control form-search-number" type="text" name="floor_min" placeholder="от" data-min="0" data-max="1000000000" value="">
											</div>
											<div class="column-6">
												<input class="form-input small form-input-control form-search-number" type="text" name="floor_max" placeholder="до" data-min="0" data-max="1000000000" value="">
											</div>
										</div>
									</div>
									<div class="kick-bottom-10">
										<div class="kick-bottom-5">
										<p class="text-small text-uppercase">этажность</p>
										</div>
										<div class="grid">
											<div class="column-6">
												<input class="form-input small form-input-control form-search-number" type="text" name="number_of_floor_min" placeholder="от" data-min="0" data-max="1000000000" value="">
											</div>
											<div class="column-6">
												<input class="form-input small form-input-control form-search-number" type="text" name="number_of_floor_max" placeholder="до" data-min="0" data-max="1000000000" value="">
											</div>
										</div>
									</div>
								</div>	
							</div>

							<div class="floats-clear kick-bottom-20 hide-block display-none">
								<div class="float-left width-55p kick-right-30">
									<div class="width-70p">
										<div class="kick-bottom-10">
											<div class="kick-bottom-5">
												<p class="text-small text-uppercase">отделка</p>
											</div>
											<div class="buttons invert">
												<div class="floats-clear">
													<label class="button kick-right-15 radio-label ">
														<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">черновая
													</label>
													<label class="button kick-right-15 radio-label ">
														<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">ремонт
													</label>
												</div>
											</div>
										</div>
										<div class="">
											<div class="kick-bottom-5">
												<p class="text-small text-uppercase">парковка, кол-во мест</p>
											</div>
											<div>
												<select class="form-select sumoselect" name="" multiple placeholder="количество мест">
													<option value="">Да</option>
													<option value="">Нет</option>
												</select>
											</div>
										</div>
									</div>
								</div>

								<div class="float-left width-38p">
									<div class="kick-bottom-5">
										<p class="text-small text-uppercase">дополнительно</p>
									</div>
									<div class="buttons small  invert">
										<div class="kick-bottom-5 floats-clear">
											<label class="button" onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="" value="0" data-type="" type="checkbox">интернет
											</label>
										</div>
										<div class="kick-bottom-5 floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="" value="0" data-type="" type="checkbox">телефон
											</label>
										</div>
										<div class="kick-bottom-5 floats-clear">
											<label class="button " onchange="this.classList[this.control.checked ? 'add' : 'remove']('checked')">
												<input class="form-fields-control" name="" value="0" data-type="" type="checkbox">кондиционер
											</label>
										</div>
									</div>
								</div>
							</div>

							<div class="floats-clear">
								<div class="float-left width-55p kick-right-30">
									<div class="width-70p">
										<div class="">
											<a class="text-black text-uppercase showHideContent text-small" href="javascript:void(0)">дополнительные параметры</a>
										</div>
										<div class="">
											<a class="text-black text-uppercase" href="#">
												<span class="text-small">сбросить фильтр</span>
											</a>
										</div>
									</div>	
								</div>	

								<div class="float-left width-38p">
									<a class="kick-top-5 full-width button large purple" href="#">показать 00 000 объектов</a>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="fat-15 floats-clear border-block_top__black border-bottom_gray">
				<div class="float-left width-30p">
					<p class="opinionpro-light text-small">00 000 000 результатов</p>
				</div>

				<div class="float-right width-33p">
					<span class="float-left opinionpro-light kick-right-5">сортировать:</span>
					<div class="buttons invert text-small kick-top-3">
						<div class="floats-clear">
							<label class="button kick-right-5 radio-label">
								<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">свежее
							</label>
							<label class="button radio-label ">
								<input class="form-fields-control search-on-change" name="type" value="all" data-type="" type="radio">старее
							</label>
						</div>
					</div>
				</div>
			</div>

			<!-- СПИСОК 4 объекта по макету-->
			<div class="kick-bottom-20">
				<div class="fat-15 fat-right-35 border-bottom_gray">
					<div class="grid">
						<div class="column-4">
							<a href="#"><img height="180px" src="/assets/images/face-1.png"></a>
						</div>
						<div class="column-8">
							<div class="kick-bottom-20">
								<a href="#" class="bwsurcodemo-bold text-x-large">Складское помещение, Рощино, ул. Производственная</a>
							</div>
							<div class="grid opinionpro-light">
								<div class="column-6">
									<p>площадь: 000 м<sup>2</sup></p>
									<p>этаж: 00</p>
									<p>тип недвижимости: свободного назначения</p>
									<p>вход: отдельный</p>
									<p>линия: 00</p>
								</div>
								<div class="column-6">
									<p>вход: отдельный</p>
									<p>линия: 00</p>
									<p class="bwsurcodemo-bold text-large">+7 (000) 000 00 00</p>
									<p class="bwsurcodemo-bold text-x-large">00 000 000 руб.</p>
									<p class="text-small">цена снижена на 000 000 руб.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fat-15 fat-right-35 border-bottom_gray">
					<div class="grid">
						<div class="column-4">
							<a href="#"><img height="180px" src="/assets/images/face-1.png"></a>
						</div>
						<div class="column-8">
							<div class="kick-bottom-20">
								<a href="#" class="bwsurcodemo-bold text-x-large">Складское помещение, Рощино, ул. Производственная</a>
							</div>
							<div class="grid opinionpro-light">
								<div class="column-6">
									<p>площадь: 000 м<sup>2</sup></p>
									<p>этаж: 00</p>
									<p>тип недвижимости: свободного назначения</p>
									<p>вход: отдельный</p>
									<p>линия: 00</p>
								</div>
								<div class="column-6">
									<p>вход: отдельный</p>
									<p>линия: 00</p>
									<p class="bwsurcodemo-bold text-large">+7 (000) 000 00 00</p>
									<p class="bwsurcodemo-bold text-x-large">00 000 000 руб.</p>
									<p class="text-small">цена снижена на 000 000 руб.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fat-15 fat-right-35 border-bottom_gray">
					<div class="grid">
						<div class="column-4">
							<a href="#"><img height="180px" src="/assets/images/face-1.png"></a>
						</div>
						<div class="column-8">
							<div class="kick-bottom-20">
								<a href="#" class="bwsurcodemo-bold text-x-large">Складское помещение, Рощино, ул. Производственная</a>
							</div>
							<div class="grid opinionpro-light">
								<div class="column-6">
									<p>площадь: 000 м<sup>2</sup></p>
									<p>этаж: 00</p>
									<p>тип недвижимости: свободного назначения</p>
									<p>вход: отдельный</p>
									<p>линия: 00</p>
								</div>
								<div class="column-6">
									<p>вход: отдельный</p>
									<p>линия: 00</p>
									<p class="bwsurcodemo-bold text-large">+7 (000) 000 00 00</p>
									<p class="bwsurcodemo-bold text-x-large">00 000 000 руб.</p>
									<p class="text-small">цена снижена на 000 000 руб.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fat-15 fat-right-35 border-bottom_gray">
					<div class="grid">
						<div class="column-4">
							<a href="#"><img height="180px" src="/assets/images/face-1.png"></a>
						</div>
						<div class="column-8">
							<div class="kick-bottom-20">
								<a href="#" class="bwsurcodemo-bold text-x-large">Складское помещение, Рощино, ул. Производственная</a>
							</div>
							<div class="grid opinionpro-light">
								<div class="column-6">
									<p>площадь: 000 м<sup>2</sup></p>
									<p>этаж: 00</p>
									<p>тип недвижимости: свободного назначения</p>
									<p>вход: отдельный</p>
									<p>линия: 00</p>
								</div>
								<div class="column-6">
									<p>вход: отдельный</p>
									<p>линия: 00</p>
									<p class="bwsurcodemo-bold text-large">+7 (000) 000 00 00</p>
									<p class="bwsurcodemo-bold text-x-large">00 000 000 руб.</p>
									<p class="text-small">цена снижена на 000 000 руб.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="text-center">
				<ul class="pagination">
					<li class="active">
						<span>1</span>
					</li>
					<li>
						<a href="#">2</a>
					</li>
					<li>
						<a href="#">3</a>
					</li>
					<li>
						<a href="#">4</a>
					</li>
					<li>
						<a href="#">5</a>
					</li>
					<li>
						<a href="#">...</a>
					</li>
					<li>
						<a href="#">0000</a>
					</li>
					<li>
						<a href="#">></a>
					</li>
				</ul>
			</div>
		</div>

		<div class="column-4">
			<div class="border-block border-block_top__black10">
				<div class="fat-15">
					<p class="text-uppercase journalism text-xxxxx-large text-center">популярное</p>
				</div>

				<div class="tabs">
					<ul class="tabs__caption popular border-top_gray border-bottom_gray kick-bottom-10">
						<li class="active">Сейчас</li>
						<li>Неделя</li>
						<li>Месяц</li>
					</ul>

					<div class="tabs__content active">
						<div class="fat-15 floats-clear block-hover_p tabs__content-item">
							<a href="#">
								<div class="float-left width-30p kick-right-10">
									<img height="74px" width="100%" src="/assets/images/face-10.jpg">
								</div>
								<div class="float-left width-66p">
									<div class="kick-bottom-10">
										<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
									</div>
									<div class="kick-bottom-10">
										<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
									</div>
									<div>
										<p class="text-uppercase text-x-small opinionpro-light">Дмитрий Бербатов</p>
									</div> 
								</div>
							</a>
						</div>

						<div class="fat-15 floats-clear block-hover_p tabs__content-item">
							<a href="#">
								<div class="float-left width-30p kick-right-10">
									<img height="74px" width="100%" src="/assets/images/face-10.jpg">
								</div>
								<div class="float-left width-66p">
									<div class="kick-bottom-10">
										<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
									</div>
									<div class="kick-bottom-10">
										<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
									</div>
									<div>
										<p class="text-uppercase text-x-small opinionpro-light">Дмитрий Бербатов</p>
									</div> 
								</div>
							</a>
						</div>

						<div class="fat-15 floats-clear block-hover_p tabs__content-item">
							<a href="#">
								<div class="float-left width-30p kick-right-10">
									<img height="74px" width="100%" src="/assets/images/face-10.jpg">
								</div>
								<div class="float-left width-66p">
									<div class="kick-bottom-10">
										<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
									</div>
									<div class="kick-bottom-10">
										<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
									</div>
									<div>
										<p class="text-uppercase text-x-small opinionpro-light">Дмитрий Бербатов</p>
									</div> 
								</div>
							</a>
						</div>

						<div class="fat-15 floats-clear block-hover_p tabs__content-item">
							<a href="#">
								<div class="float-left width-30p kick-right-10">
									<img height="74px" width="100%" src="/assets/images/face-10.jpg">
								</div>
								<div class="float-left width-66p">
									<div class="kick-bottom-10">
										<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
									</div>
									<div class="kick-bottom-10">
										<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
									</div>
									<div>
										<p class="text-uppercase text-x-small opinionpro-light">Дмитрий Бербатов</p>
									</div> 
								</div>
							</a>
						</div>

						<div class="fat-15 floats-clear block-hover_p tabs__content-item">
							<a href="#">
								<div class="float-left width-30p kick-right-10">
									<img height="74px" width="100%" src="/assets/images/face-10.jpg">
								</div>
								<div class="float-left width-66p">
									<div class="kick-bottom-10">
										<p class="text-uppercase text-small_s opinionpro-light">Власть</p>
									</div>
									<div class="kick-bottom-10">
										<p class="bwsurcodemo-medium">«Колыбель» больших проектов</p>
									</div>
									<div>
										<p class="text-uppercase text-x-small opinionpro-light">Дмитрий Бербатов</p>
									</div> 
								</div>
							</a>
						</div>

					</div>

					<div class="tabs__content">
						сюда иди
					</div>

					<div class="tabs__content">
						хуй
					</div>
				</div>
			</div>
			<div class="border-block border-top-off show_more__block">
				<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="#">
					<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
				</a>
			</div>
		</div>
	</div>
</div>