<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title><?= e($section->getMetaTitle() ?: $section->getHeader()) ?></title>

<?php if ($section->getMetaKeywords()) : ?>
	<meta name="keywords" content="<?= e($section->getMetaKeywords()) ?>" />
<?php endif; ?>

<?php if ($section->getMetaDescription()) : ?>
	<meta name="description" content="<?= e($section->getMetaDescription()) ?>" />
<?php endif; ?>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<?php $this->stop() ?>

<div class="wrapper color-gray_1 kick-bottom-20">
	<div class="container">
		<div class="grid">
			<div class="column-12">
				<div class="fat-bottom-10 floats-clear border-bottom_gray-1">
					<div class="breadcrumbs">
						<ul itemscope itemtype="http://schema.org/BreadcrumbList">
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
									<span itemprop="name" class="text-uppercase">Главная</span>
								</a>
								<span>–</span>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
								<span itemprop="name" class="text-uppercase">Реклама</span>
								<meta itemprop="position" content="2" />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="grid">
		<div class="column-12">
			<div class="kick-bottom-10 border-bottom_gray-light-1 fat-bottom-10">
				<h2>Тюменский Бизнес-журнал</h2>
				<p>Мощный инструмент воздействия на мнение Вашей целевой аудитории. Издание входит в федеральную сеть «Бизнес-журнал», насчитывающую более 26 субъектов РФ. </p>
			</div>
			<div class="kick-bottom-10 border-bottom_gray-light-1 fat-bottom-10">
				<h2>Читательская аудитория</h2>
				<p class="kick-bottom-10">Cобственники бизнеса, топ-менеджеры крупнейших международных, федеральных и региональных компаний, руководители и специалисты. Они заботятся о финансовом благополучии, инвестируют немалые средства в личностный рост и развитие своего бизнеса, а также напрямую заинтересованы в модернизации и оптимизации бизнес-процессов. Читательское ядро составляют люди в самом активном возрасте 25-44 года.</p>
				<div class="">
					<img src="/assets/images/statistics.png">
				</div>
			</div>
			<div class="kick-bottom-10 border-bottom_gray-light-1 fat-bottom-10">
				<h2>Предлагаем следующие площадки взаимодействия с вашими клиентами:</h2>
				<ul class="">
					<li>Печатное издание</li>
					<li>Тюменский Бизнес-журнал ОНЛАЙН</li>
					<li>Мероприятия журнала — проведение и спонсорство (пресс-конференции, круглые столы, бизнес-встречи).</li>
				</ul>
			</div>
			<div class="kick-bottom-10 border-bottom_gray-light-1 fat-bottom-10">
				<h2>Медиа-кит</h2>
				<button class="button small blue text-small border-radius_2">Скачать медиа-кит в PDF-формате</button>
			</div>	
			<div class="kick-bottom-10 border-bottom_gray-light-1 fat-bottom-10">
				<h2>Прайс-листы</h2>
				<div class="floats-clear">
					<div class="float-left kick-right-30">
						<p class="kick-bottom-15">• Размещение рекламы на сайте www.bmag72.ru</p>
						<p class="kick-bottom-15">• Размещение рекламы в печатной версии</p>
						<p class="kick-bottom-15">• Организация мероприятий (круглые столы, пресс-конференции и пр.)</p>
						<p>• Спонсорские пакеты</p>
					</div>
					<div class="float-left">
						<p><button class="button small blue text-small border-radius_2">Скачать в PDF-формате</button></p>
						<p><button class="button small blue text-small border-radius_2">Скачать в PDF-формате</button></p>
						<p><button class="button small blue text-small border-radius_2">Скачать в PDF-формате</button></p>
						<p><button class="button small blue text-small border-radius_2">Скачать в PDF-формате</button></p>
					</div>
				</div>
			</div>
			<div class="kick-bottom-20">
				<h2>Коммерческий отдел</h2>
				<p class="text-uppercase text-bold">ТЮМЕНЬ, УЛ. МАКСИМА ГОРЬКОГО, 76, ОФ. 318</p>
				<p class="text-uppercase text-bold">ТЕЛЕФОН (3452) 67-10-09</p>
				<p class="text-uppercase text-bold">E-MAIL: TB-MAG@YANDEX.RU</p>
			</div>
		</div>
	</div>
</div>