<?php $this->layout('layout') ?>

<?php $this->start('metadata') ?>
<title><?= e($publication->getMetaTitle() ?: $publication->getHeader()) ?></title>
<meta property="og:image" content="http://bmag72.ru/upload/<?= $publication->getPicture() ?>" />

<?php if ($publication->getMetaKeywords()) : ?>
	<meta name="keywords" content="<?= e($publication->getMetaKeywords()) ?>" />
<?php endif; ?>

<?php if ($publication->getMetaDescription()) : ?>
	<meta name="description" content="<?= e($publication->getMetaDescription()) ?>" />
<?php endif; ?>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<link rel="stylesheet" href="/assets/stylesheets/revealator.css" />
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
<script src="/assets/javascripts/revealator.jquery.js"></script>
<script src="/assets/javascripts/sticky.js"></script>
<script>

	var disqus_config = function () {
	this.page.url = '<?= url() ?>';  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = '<?= url() ?>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

	(function() { // DON'T EDIT BELOW THIS LINE

		document.addEventListener("DOMContentLoaded", function(event){
			var d = document, s = d.createElement('script');
			var head = document.getElementsByTagName('head')[0];
			var body = document.getElementsByTagName('body')[0];
			s.async = true;
			s.src = 'https://bmag72.disqus.com/embed.js';
			s.setAttribute('data-timestamp', +new Date());
			(body).appendChild(s);
		});
	})();
	
	
</script>
<?php $this->stop() ?>
<?php $videoTag = false; ?>
<div class="container kick-bottom-15">
	<div class="">
		<?= fenric('banner::main') ?>
	</div>
</div>

<div class="container kick-bottom-20">
	<div class="grid">
		<div class="column-12">
			<div class="floats-clear">
				<div class="breadcrumbs">
					<ul class="floats-clear" itemscope itemtype="http://schema.org/BreadcrumbList">
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
								<span itemprop="name" class="text-uppercase">Главная</span>
							</a>
							<span>/</span>
							<meta itemprop="position" content="1" />
						</li>
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
							<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/<?= $publication->getSection()->getCode() ?>">
								<span itemprop="name" class="text-uppercase"><?= $publication->getSection()->getHeader() ?></span>
							</a>	
							<span>/</span>
							<meta itemprop="position" content="2" />
						</li>
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
							<span itemprop="name" class="text-uppercase"><?= $publication->getHeader() ?></span>
							<meta itemprop="position" content="3" />
						</li>
					</ul> 
				</div>
			</div>
		</div>
	</div>
</div>	

<div class="container kick-bottom-20 position-relative" id="article">
	<div class="share-social" id="aside1">
		<div class="border-block_top__black10 border-block">
			<div class="fat-10">
				<p class="text-uppercase journalism text-xxx-large text-center">Поделиться</p>
			</div>
			<div class="ya-share2" data-services="vkontakte,facebook,twitter">
				<p>vk</p>
			</div>
		</div>
	</div>

	<div class="breadcrumbs kick-bottom-15">
		<ul class="floats-clear">
			<li>Дмитрий Бербатов</li>
			<li>власть</li>
			<li>01.08.17</li>
			<li>000 просмотров</li>
		</ul>
	</div>

	<div class="floats-clear kick-bottom-20">
		<div class="float-left width-62p kick-right-40">
			<div class="kick-bottom-10">
				<p class="text-xxxxxx-large bwsurcodemo-bold">Территория завтрашнего дня</p>
			</div>
			<div class="kick-bottom-40">
				<img height="330px" width="100%" src="/assets/images/slide-1.jpg">
			</div>
			<div class="kick-bottom-20 fat-left-20 fat-right-20 article-text">
				<p>Накануне состоялось рабочее совещание в администрации Тюменского района, касающееся вопросов развития территории. На встрече присутствовал губернатор Владимир Якушев. Центральной темой встречи стали аспекты инвестиционной политики, ремонта и строительства дорог. Главе региона презентованы двапроекта, касающихся развития инфраструктуры. Это спортивный комплекс, который обеспечит село Червишево крытым спортсооружением для проведения соревнований различного уровня.Объем частных инвестиций запланирован в размере 30 миллионов рублей, а также гостиничный комплекс в селе Мичурино, на постройку которого предприниматель готов потратить 20 миллионов рублей.</p>
				<p>проекта, касающихся развития инфраструктуры. Это спортивный комплекс, который обеспечит село Червишево крытым спортсооружением для проведения соревнований различного уровня. Объем частных инвестиций запланирован в размере 30 миллионов рублей, а также гостиничный комплекс в селе Мичурино, на постройку которого предприниматель готов потратить 20 миллионов рублей.</p>
				<div class="quote revealator-slideright revealator-delay2 revealator-once">
					<p>Всего в этом году в Тюменском районе реализуется 15 инвести-ционных проектов, три из которых уже заработали.</p>
				</div>
				<p>Накануне состоялось рабочее совещание в администрации Тюменского района, касающееся вопросов развития территории. На встрече присутствовал губернатор Владимир Якушев.</p>
				<p>проекта, касающихся развития инфраструктуры. Это спортивный комплекс, который обеспечит село Червишево крытым спортсооружением для проведения соревнований различного уровня. Объем частных инвестиций запланирован в размере 30 миллионов рублей, а также гостиничный комплекс в селе Мичурино, на постройку которого предприниматель готов потратить 20 миллионов рублей.</p>
				<p>проекта, касающихся развития инфраструктуры. Это спортивный комплекс, который обеспечит село Червишево крытым спортсооружением для проведения соревнований различного уровня. Объем частных инвестиций запланирован в размере 30 миллионов рублей, а также гостиничный комплекс в селе Мичурино, на постройку которого предприниматель готов потратить 20 миллионов рублей.</p>
				<p>проекта, касающихся развития инфраструктуры. Это спортивный комплекс, который обеспечит село Червишево крытым спортсооружением для проведения соревнований различного уровня. Объем частных инвестиций запланирован в размере 30 миллионов рублей, а также гостиничный комплекс в селе Мичурино, на постройку которого предприниматель готов потратить 20 миллионов рублей.</p>
			</div>
			<div class="kick-bottom-20 fat-left-20 fat-right-20">
				<div class="tags">
					<ul class="floats-clear">
						<li>#тег</li>
						<li>#тег</li>
						<li>#тег</li>
						<li>#тег</li>
						<li>#тег</li>
					</ul>
				</div>
			</div>

		</div>

		<div class="float-left width-33p">
			<?php if (fenric('banner::right')) : ?>
				<div class="kick-bottom-15">
					<?= fenric('banner::right') ?>
				</div>
			<?php endif; ?>

			<div class="border-block border-block_top__black10">
				<div class="fat-15">
					<p class="text-uppercase journalism text-xxxxx-large text-center">популярное</p>
				</div>

				<div class="tabs">
					<ul class="tabs__caption popular border-top_gray border-bottom_gray kick-bottom-10">
						<li class="active">Сейчас</li>
						<li>Неделя</li>
						<li>Месяц</li>
					</ul>

					<div class="tabs__content active">
						<?php if (count($publicationsTopNow) > 0) : ?>
							<?php foreach ($publicationsTopNow as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($pub->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $pub->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $pub->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>

					<div class="tabs__content">
						<?php if (count($publicationsTopWeek) > 0) : ?>
							<?php foreach ($publicationsTopWeek as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($pub->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-66p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $pub->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $pub->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>

					<div class="tabs__content">
						<?php if (count($publicationsTopMonth) > 0) : ?>
							<?php foreach ($publicationsTopMonth as $pub) : ?>
								<div class="fat-15 floats-clear block-hover_p tabs__content-item">
									<a href="<?= $pub->getUri() ?>">
										<div class="float-left width-38p kick-right-10">
											<?php if ($pub->getPicture()) : ?>
												<img height="74px" width="100%" src="/upload/0x74/<?= $pub->getPicture() ?>">
											<?php else : ?>
												<img height="74px" width="100%" src="/assets/images/face-10.jpg">
											<?php endif; ?>
										</div>
										<div class="float-left width-58p">
											<div class="kick-bottom-10">
												<p class="text-uppercase text-small_s opinionpro-light"><?= $pub->getSection()->getHeader() ?></p>
											</div>
											<div class="kick-bottom-10">
												<p class="bwsurcodemo-medium"><?= $pub->getHeader() ?></p>
											</div>
											<div>
												<p class="text-uppercase text-x-small opinionpro-light"><?= $pub->getUserRelatedByCreatedBy()->getFirstname() ?> <?= $pub->getUserRelatedByCreatedBy()->getLastname() ?></p>
											</div> 
										</div>
									</a>
								</div>
							<?php endforeach; ?>
						<?php endif; ?>
					</div>
				</div>
			</div>
			<div class="border-block border-top-off show_more__block">
				<a class="fat-15 display-block opinionpro-light text-uppercase text-small" href="#">
					<span class="kick-right-10"><img src="/assets/images/arrow-right.png"></span> <span class="show_more">показать ещё</span>
				</a>
			</div>
		</div>
	</div>

	<div>
		<div class="border-block_top__black10 kick-bottom-15"></div>
		<div><?= fenric('snippet::comments') ?></div>
	</div>
</div>



