<?php $this->layout('layout', ['section' => $section]) ?>

<?php $this->start('metadata') ?>
<title><?= e($section->getMetaTitle() ?: $section->getHeader()) ?></title>

<?php if ($section->getMetaKeywords()) : ?>
	<meta name="keywords" content="<?= e($section->getMetaKeywords()) ?>" />
<?php endif; ?>

<?php if ($section->getMetaDescription()) : ?>
	<meta name="description" content="<?= e($section->getMetaDescription()) ?>" />
<?php endif; ?>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<?php $this->stop() ?>

<div class="container kick-bottom-15">
	<div class="">
		<?= fenric('banner::main') ?>
	</div>
</div>

<div class="container kick-bottom-15">
	<div class="grid">
		<div class="column-12">
			<div class="floats-clear">
				<div class="breadcrumbs">
					<ul itemscope itemtype="http://schema.org/BreadcrumbList">
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
							<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
								<span itemprop="name" class="text-uppercase">Главная</span>
							</a>
							<span>/</span>
							<meta itemprop="position" content="1" />
						</li>
						<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
							<span itemprop="name" class="text-uppercase">Проекты</span>
							<meta itemprop="position" content="2" />
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container kick-bottom-15">
	<div class="grid">
		<div class="column-12">
			<div class="projects-list">
				<?php if (count($projects) > 0) : ?>
					<?php foreach ($projects as $project) : ?>
						<div class="projects-list_item">
							<div class="fat-15 border-block border-block_top__black10 border-block_bottom__gray">
								<!-- тут нужно сделать ограничение по символам  тут максимальное кол-во-->
								<p class="text-uppercase journalism text-xxxxx-large text-center"><?= mb_strimwidth($project->getHeader(), 0, 38, '...') ?></p>
							</div>
							<div class="border-block border-top-off floats-clear">
								<div class="float-left width-78p fat-15 border-block_right__gray">
									<div class="grid">
										<div class="column-5">
											<img height="486px" width="100%" src="/assets/images/slide-1.jpg">
										</div>
										<div class="column-7">
											<!-- тут нужно сделать ограничение по символам  тут максимальное кол-во-->
											<?= mb_strimwidth($project->getContent(), 0, 1317, '...') ?> 
										</div>
									</div>
								</div>
								<?php if ($project->getCountPublications() > 0) : ?>
									<div class="float-left width-22p fat-15 h-505_overflow scroll">
										<div class="project-list">
										<?php foreach ($project->getPublications() as $publication) : ?>
												<div class="project-list_item block-hover_p">
													<a href="<?= $publication->getUri() ?>">
														<div class="kick-bottom-10">
															<?php if ($publication->getPicture()) : ?>
																<img height="90px" width="100%" src="/upload/0x90/<?= $publication->getPicture() ?>">
															<?php else : ?>
																<img height="90px" width="100%" src="/assets/images/slide-1.jpg">
															<?php endif; ?>
														</div>
														<div class="">
															<p class="bwsurcodemo-medium"><?= $publication->getHeader() ?></p>
														</div>
													</a>
												</div>
											<?php endforeach; ?>
										</div>
									</div>
								<?php endif; ?>
							</div>
						</div>
					<?php endforeach; ?>
				<?php endif; ?>
			</div>
		</div>
	</div>
</div>

