<?php $this->layout('layout', ['section' => $section]) ?>

<?php $this->start('metadata') ?>
<title><?= e($section->getMetaTitle() ?: $section->getHeader()) ?></title>

<?php if ($section->getMetaKeywords()) : ?>
	<meta name="keywords" content="<?= e($section->getMetaKeywords()) ?>" />
<?php endif; ?>

<?php if ($section->getMetaDescription()) : ?>
	<meta name="description" content="<?= e($section->getMetaDescription()) ?>" />
<?php endif; ?>
<?php $this->stop() ?>

<?php $this->start('stylesheets') ?>
<?php $this->stop() ?>

<?php $this->start('javascripts') ?>
<script>
window.onload=function()
{
	var div, menuElems;
	
	menuElems = document.querySelectorAll('.dropdown-menu');
	
	for (var i=0;i<menuElems.length;i++)
	{
		menuElems[i].addEventListener('click', function(event){
			var target = elem = event.target;
			
			div = target.parentNode.parentNode.parentNode;
			
			if (div instanceof Node)
			{
				console.log(div);
				div.classList.toggle('open');
			} else {
				console.log('none!');
			}
		});
	}
}
</script>
<script>

	var disqus_config = function () {
	this.page.url = '<?= url() ?>';  // Replace PAGE_URL with your page's canonical URL variable
	this.page.identifier = '<?= url() ?>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
	};

	(function() { // DON'T EDIT BELOW THIS LINE
	var d = document, s = d.createElement('script');
	s.src = 'https://bmag72.disqus.com/embed.js';
	s.setAttribute('data-timestamp', +new Date());
	(d.head || d.body).appendChild(s);
	})();
</script>
<?php $this->stop() ?>
<div class="wrapper color-lime">
	<div class="container">
		<div class="grid">
			<div class="column-12">
				<div class="fat-bottom-20 border-bottom_gray-1">
					<div class="breadcrumbs">
						<ul itemscope itemtype="http://schema.org/BreadcrumbList">
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
								<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/">
									<span itemprop="name" class="text-uppercase">Главная</span>
								</a>
								<span>–</span>
								<meta itemprop="position" content="1" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
								<a itemscope itemtype="http://schema.org/Thing" itemprop="item" href="/projects/">
									<span itemprop="name" class="text-uppercase">проекты</span>
								</a>	
								<span>–</span>
								<meta itemprop="position" content="2" />
							</li>
							<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="breadcrumbs__item">
								<span itemprop="name" class=""><?= $section->getHeader() ?></span>
								<meta itemprop="position" content="3" />
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	

<div class="container">
	<div class="grid">

		<div class="column-3">
			<?php if ($projects->count() > 0) : ?>
				<?php foreach ($projects as $project) : ?>
					<div class="dropdown-menu kick-top-10">
						<div class="drop-title"><span><i class="fa fa-play" aria-hidden="true"></i></span> <a href="/<?= $project->getCode() ?>" ><?= $project->getHeader() ?></a></div>
						<?php if ($project->getPublications()->count() > 0) : ?>
							<ul>
								<?php foreach ($project->getPublications() as $pPublication) : ?>
									<li>
										<a href="<?= $pPublication->getUri() ?>"><?= $pPublication->getHeader() ?></a>
										<p class="date kick-top-5 text-small"><?= $pPublication->getCreatedAt()->format('d.m.Y H:i') ?></p>
									</li>
								<?php endforeach; ?>
							</ul>
						<?php endif; ?>
					</div>
				<?php endforeach; ?>
			<?php endif; ?>
		</div>

		<div class="column-9">

			<div class="fat-top-10 fat-left-20 fat-right-20 fat-bottom-20 color-gray kick-bottom-20">
				<div class="color-white fat-5">
					<div class="grid">
						<div class="column-4">
						<?php if ($section->getPicture() !== null) : ?>
							<img src="/upload/500x355/<?= $section->getPicture() ?>" />
						<?php else : ?>
							<img src="/assets/images/face-4.jpg">
						<?php endif; ?>
						</div>
						<div class="column-8">
							<h2 class="kick-top-10 kick-bottom-10"><?= $section->getHeader() ?></h2>
							<p class="text-bold"><?= $section->getContent() ?></p>
						</div>
					</div>
				</div>
			</div>
			
			<?php if ($publications->count() > 0) : ?>
				<?php foreach ($publications as $publication) : ?>
					<div class="">
						<p class="title"><?= $publication->getHeader() ?></p>
						<p class="date text-small fat-right-10 kick-right-5 border-right_gray-1 inline-block"><?= $publication->getCreatedAt()->format('d.m.Y H:i') ?></p>
						<?php if ($publication->getPublicationTags()->count() > 0) : ?>
							<p class="date text-small inline-block kick-right-5">Теги</p>
							<p class="text-small inline-block">
							<?php foreach ($publication->getPublicationTags() as $pTag) : ?>
								<a class="kick-right-5" href="/tags/<?= $pTag->getTag()->getCode() ?>">#<?= $pTag->getTag()->getHeader() ?></a>
							<?php endforeach; ?>
							</p>
						<?php endif; ?>
						<div class="kick-bottom-10">
							<p class="text-bold"><?= $publication->getAnons() ?></p>
						</div>
						<div class="kick-bottom-10">
							<div class="grid">
								<div class="column-8 news-img">
									<a href="<?= $publication->getUri() ?>">
										<?php if ($publication->getPicture() === null) : ?>
											<img src="/assets/images/slide-1.jpg">
										<?php else : ?>
											<img src="/upload/520x350/<?= $publication->getPicture() ?>">
										<?php endif; ?>
										<div class="opacity" style="width: 96.4%;">
											<p class="text-uppercase text-bold text-opacity kick-left-10"><?= $publication->getPictureSignature() ?></p> 
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="kick-bottom-10"><?= $publication->getContent() ?></div>
					</div>
				<?php endforeach; ?>
			<?php endif; ?>
		</div>
	</div>
</div>
<div><?= fenric('snippet::comments') ?></div>